[2018-02-28 09:49] amanagr opened #6 "Create additional (or update existing) themes"
Simply add your theme to ui.pallete to create a new theme.
Previously added themes have become obsolete and they need to be updated. The `default` theme could also be improved.

[2018-02-28 13:28] amanagr opened #7 "Remove redundant recipient bars when narrowed in PM / Streams."
Currently ZT only clubs those messages it can see, or removes recipient bars for the current message based on the past message. This should be implemented as in Web app.
- [ ] Remove redundant recipient bars as in Web app.
- [x] Add a current message stream and topic ( or name of user )  info at the top of ZT.

[2018-02-28 17:18] amanagr opened #8 "Implement "Unread counts and the pointer""
Useful links:
http://zulip.readthedocs.io/en/latest/subsystems/pointer.html
https://chat.zulip.org/#narrow/stream/127-integrations/subject/ZULIP.20CLI/near/520604

CURRENT STATUS:
Both unread counts and pointer are currently implemented in ZT but there are a few bugs which needs to be taken care of:

- [x] Ignore Muted streams and topics count. (tracked in #74)
- [x] Moving between different narro

[2018-03-01 08:24] amanagr opened #9 "Create Separate Buttons for streams, users and `view.menu`."
Currently all the buttons are using MenuButton class.
We need to separate buttons for each of users, streams and view.menu with proper styling and colors.
(Each stream name should be colored differently.)

[2018-03-01 17:06] amanagr opened #13 "Improve test coverage"
Write tests for all the functions/classes in zulip-terminal.
Comment in this issue before you start writing tests for a function/class.
Look at [conftest.py](https://github.com/zulip/zulip-terminal/blob/master/tests/conftest.py) and [test_helper.py](https://github.com/zulip/zulip-terminal/blob/master/tests/helper/test_helper.py) for examples.

[2018-03-01 18:10] DhruvThakker commented on #6
I would like to work on this issue

[2018-03-02 02:46] amanagr opened #14 "Show online/offline status of users through different colors."
We can use `'fetch_event_types':json.dumps(['presence'])` to get the present status of users.
Use different colors for `active` and `idle` status.

[2018-03-03 16:27] amanagr opened #18 "Add feature to read settings from a file before running."
Just like vim uses `.vimrc` to store its settings, a setting file for zulip-terminal called `.ztermrc` or similar could be used to read settings like font, theme, etc.

[2018-03-03 16:44] amanagr commented on #6
The mechanism for adding using new themes has been added, we can always create a new set palette for adding a theme.

[2018-03-04 06:39] DhruvThakker commented on #13
I would like to take this up. How should I approach it.

[2018-03-04 06:55] amanagr commented on #13
In the long run, we would like to have special classes for easing the process of testing; but that would be too much for first steps. So initially you can create a directory `tests`:
[code]
simply import the classes you are testing.
create a general sample data class for models.
This is what I think in general we want to do but let's wait for some feedback on this.
@timabbott

[2018-03-04 07:30] amanagr commented on #13
I think now will be a good time to take this up since there wouldn't be major changes in code currently for 8 days for so since I am busy.
@DhruvThakker you should keep updating the status of the issue in a PR, so I can see how things are going.(can save you a lot of time.)

[2018-03-07 12:21] kallepallimounikasmitha commented on #14
I want to work on this!

[2018-03-07 13:10] amanagr commented on #14
@kallepallimounikasmitha I recently found out that we can user `'fetch_event_types':json.dumps(['presence'])` to get the present status of users.
I would like you to implement it using this method.
(this would require some experimenting with the data.)

[2018-03-13 21:19] amanagr opened #26 "TRACKING: Extend user documentation"
- [ ] Supported Features
- [x] List of common problems with solution
- [ ] A working demo of ZT. ( An image / video )
- [ ] Why use ZT?
- [ ] How to run on windows? ( urwid uses`fcntl` library which is not available on non-unix platforms.) Recommend using WSL.

[2018-03-14 00:11] timabbott commented on #26
I assume this is user documentation?

We should include some developer documentation as well, that points out we're using urwid and where the best docs for that are.

[2018-03-14 03:13] amanagr opened #27 "Write developer documentation for zulip-terminal."
Things we should include:
- [ ]  What is urwid(point to their documentation)?
- [ ]  Tips for getting started with urwid.
- [ ]  How to write/run tests?
- [ ]  Contribution guidelines.
- [ ]  How to debug easily?

[2018-03-16 15:09] kallepallimounikasmitha commented on #9
@zulipbot claim

[2018-03-19 10:34] punchagan opened #38 "Make links clickable"
Clicking on a link in a message, makes the thread active.  But, it would be nice to allow users to open a link by clicking on it.

[2018-03-19 12:09] amanagr commented on #38
Double right click on some terminals shows the menu to open the link on some terminals. Thanks, @punchagan!

[2018-03-19 12:09] #38 closed

[2018-03-27 14:33] mkaito opened #50 "Keybinds: Same as web/electron?"
I feel like the key bindings should be the same across Zulip apps.

For example, I'm missing <kbd>j</kbd> and <kbd>k</kbd> greatly (my Ergodox keyboard has no arrow keys on the primary layer), but others are missing too. <kbd>J</kbd>, <kbd>K</kbd>, <kbd>A</kbd>, and <kbd>D</kbd> also seem pretty useful and should be around.

[2018-03-27 16:35] amanagr commented on #50
@mkaito I added <kbd>j</kbd> and <kbd>k</kbd> keys via #51. I will add rest of them soon!

[2018-03-27 16:43] mkaito commented on #18
Please also read the `zuliprc` file from a sensible location.

[2018-03-27 16:46] amanagr commented on #18
Do mean automatically reading the `zuliprc`  if placed inside the zulip-terminal folder in case no config file is specified?

[2018-03-27 16:49] mkaito commented on #18
I just looked at the contents of `zuliprc`. I figure this can be a section in the config file.

You do not want to rely on anything being in the `zulip-terminal` folder, or even being able to write to it. This would make packaging the program extremely hard otherwise.

As for config file placement, look at the [XDG Spec](https://specifications.freedesktop.org/basedir-spec/latest/). Or [this extrac

[2018-03-27 16:50] mkaito commented on #50
Awesome!

It would probably also be a good idea to have a help pane on <kbd>?</kbd>, just like the web/electron app.

[2018-03-27 16:59] mkaito opened #52 "Pressing `r` on a private message of my own"
Tries to send message to myself, instead of whoever received that message I sent.

[2018-03-27 17:08] amanagr commented on #50
#53 implemets <kbd>J</kbd>, <kbd>K</kbd> ; <kbd>?</kbd> will come later perhaps. I will implement <kbd>A</kbd> and <kbd>D</kbd> with <kbd>n</kbd> and <kbd>p</kbd> keys.
Thanks @mkaito

[2018-03-27 17:08] timabbott commented on #52
Yeah, we have a special case for that in the webapp.  Look at `reply_to` in `message_store.js` for some logic one can crib.

[2018-03-27 17:10] timabbott commented on #18
If we want to do something quick here before we have time to do the XDG thing, the default would be to have it look at `~/.zuliprc` with a ` --config` command-line option to specify an alternative path.

[2018-03-27 18:04] punchagan commented on #50
Looks like #51 and #53 need to be documented in the README.

[2018-03-27 20:36] mkaito commented on #18
You can just check environment for `XDG_CONFIG_DIR`, which can not be set, in which case assume it's `~/.config`. To this value, you append `/zulip/terminal.ini` or something like that. That's all there is to the XDG spec (for this particular use case)

[2018-03-28 10:01] mkaito commented on #50
Some others I've been missing:

* <kbd>q</kbd> to filter the stream list.
* <kbd>h</kbd> to replace left arrow; edit last message.
* <kbd>l</kbd> to replace right arrow.
* When in an input field, prepend `hjkl` with Ctrl for movement.
* <kbd>G</kbd> go to last message in view.
* <kbd>/</kbd> to search.
* <kbd>P</kbd> narrow to private messages.

But, in general, it should use the same keys as the

[2018-03-28 16:17] timabbott opened #55 "Set a proper User-Agent"
We should set a user-agent for the Zulip-terminal client.  The style we use for other apps would be e.g. `ZulipTerminal/0.1.0 <anything else>`, where `<anything else>` (the content after a space) can have details like the OS.  The key part that is parsed by the server for things like the /stats graphs is the part before the space, and we use that capitalization styling.

Fixing this will both make

[2018-03-29 04:12] #55 closed

[2018-04-02 07:00] #52 closed

[2018-04-06 23:31] KurtovicUM commented on #14
hey, @bolognam and I are exploring this feature

[2018-04-06 23:32] KurtovicUM commented on #18
hey, @bolognam and I are exploring the addition of this feature, we'll keep you updated with progress

[2018-04-07 03:01] amanagr commented on #14
Thanks for your interest in this issue. Sorry, this issue has not been updated.
This has already been partially implemented via #35. What you need to do to implement this feature is:
* Add 'presence' and 'realm_user' to https://github.com/zulip/zulip-terminal/blob/master/zulipterminal/core.py#L164.
* You will start getting updates regarding new users coming and leaving the realm. You need to updat

[2018-04-12 16:07] KurtovicUM commented on #14
Sorry for what is probably a simple question, but how is user_realm defined? My understanding was that it'd be all users within the current stream, is that correct?

[2018-04-16 08:07] kurianbenoy commented on #14
@KurtovicUM  are you till working on this issue?

[2018-04-17 01:47] kurianbenoy commented on #26
@amanagr @timabbott , I was intrested to write a user documentation for Zulip Terminal.

Please suggest topics to be added for User documentation Zulip-terminal and where should the documentation be and ?

[2018-04-17 02:37] amanagr commented on #26
How about starting with the content we have in our Readme?

[2018-04-17 17:30] kurianbenoy commented on #26
Ya @amanagr  .What all are you planning to include in Readme?

[2018-04-19 14:06] aero31aero opened #74 "streams-sidebar: Ignore muted streams in unread count."
Currently, the unread count on `All Messages` calculates the muted streams as well. This shouldn't be the case.

[2018-04-19 21:56] timabbott commented on #74
Is the app using the `unread_msgs` API to get data on what messages are read/unread from the server?

[2018-04-20 02:37] amanagr commented on #74
Initial data returned by `/register` API contains unread msgs id which is displayed without filtering for muted streams/topics. Also, muted stream/topic's messages are also displayed currently.

[2018-04-20 03:06] timabbott commented on #74
Great.  Muted topics filtering is mostly implemented client side, so it
makes sense you need to do something here

-Tim Abbott (mobile)

On Thu, Apr 19, 2018, 19:37 Aman Agrawal <notifications@github.com> wrote:

[2018-05-22 13:00] reshusinghhh commented on #6
I would like to work on it too.
Can anyone plz provide the communication channel for Zulip related queries??

[2018-05-23 03:19] #18 closed

[2018-05-23 03:21] #9 closed

[2018-05-25 12:30] amanagr commented on #50
@mkaito Urwid has problems with `Ctrl` + `j` and `Ctrl` + `h` for implementing movements in an input field. So, we are planning to go for `meta` with `hjkl` for movement in an input field. Do you have any suggestions or other keys you would like to suggest?

[2018-05-26 13:53] timabbott opened #87 "pipsi instructions seem to result in Python 2 being used"
I thus get an exception trying to run `zulip-term`.

[code]

[2018-05-26 18:08] amanagr commented on #87
This seems to be a popular disadvantage of using pipsi:
https://github.com/mitsuhiko/pipsi/issues/132
https://github.com/mitsuhiko/pipsi/issues/84

[2018-05-27 08:50] #87 closed

[2018-06-11 08:44] amanagr opened #98 "Add a box around message in focus."
Currently, when a message is in focus, it's colour is changed to red. We can add a `LineBox` widget around the message in focus to make it visually appealing.

[2018-07-12 11:18] amanagr opened #126 "Generate hotkeys section/doc using script and check with CI"
All the keybindings used by zulip-terminal are stored in `zulipterminal/config.py`. We can generate README section of the hotkeys by travic CI.

We can create a different section for hotkeys that are imported from `urwid` and `urwid_readline` libraries.

[2018-07-12 11:21] amanagr opened #127 "Improve debugging experience for zulip-terminal."
Current developers can print variables in zulip-terminal which are logged in `/tmp/debug.log`. We can use `logging` module provided by python to log some of the data by default in `/var/log/zulip-term/error.log` and similar files.

@neiljp  FYI

[2018-07-12 11:55] punchagan commented on #127
It is not common for non-daemon applications to log to `/var/log`. Commands run from the command line usually log stuff to a file in the current working directory.

[2018-07-12 11:57] punchagan commented on #126
There should be a tool that developers can run locally, to generate this section of the README.  TravisCI should only check that any commit doesn't miss out on doing that, when keyconfig has changed in anyway. Some sort of a test can be run that compares the output of README when this script is run, and the README committed to the repo.

[2018-07-12 12:01] amanagr commented on #127
So, we can just log it in `/tmp/` directory?

[2018-07-12 16:55] amanagr opened #129 "Create loading indicator at start for zulip-terminal."
Steps to create:
* Record GIF of loading icon at chat.zulip.org.
* Use [GIF-for-cli](https://github.com/google/gif-for-cli) to convert it to ASCII gif.
* Set ZT to display the loading GIF unless View is ready to be rendered.

[2018-07-17 05:28] amanagr opened #133 "Add zulip-terminal to the list of user-clients on zulip-server."
Currently messages sent by users are not flagged as read by server since server thinks zulip-terminal is a bot-client. Adding zulip-terminal to the list of user-clients will resolve this issue.

@punchagan FYI

[2018-07-20 10:20] amanagr opened #135 "Show message info on pressing `i`."
Display the focused message's info on pressing <kbd>i</kbd>. Message info should comprise of:

- [x] Sender details
- [x] Message Edit History
- [x] Details of emoji - who reacted
...

[2018-07-21 08:44] neiljp commented on #7
Is this fixed now?

[2018-07-21 08:46] neiljp opened #138 "Selection of muted stream does not update 'current' stream marked in search bar"
To reproduce:
a) Go to unmuted stream (eg. #announce)
b) Go to muted stream

Note how the stream/topic does not change and continues to show the #announce (or other) stream and topic.

[2018-07-21 09:04] amanagr commented on #7
The recipient bar behaviour is still not consistent and needs improvement in the displaying new messages end.

[2018-07-23 02:27] #133 closed, assigned to nobody

[2018-07-23 02:32] amanagr commented on #129
Fixed via [2e3aa](https://github.com/zulip/zulip-terminal/commit/2e3aa1da3dc252fbf66e752b5e3a5ae0b0bdb0cc).

[2018-07-23 02:32] #129 closed

[2018-07-24 02:33] amanagr opened #141 "Implement Push Notifications."
Show Push Notifications for user-mentions, wildcard-mentions and if stream notifications are enabled. Currently zt doesn't receive any flags since the web client treats zt as a bot and doesn't attach any flags to messages. This will be fixed in the release of zulip(i.e, v1.9.0). So we can implement this after this.

Also, we should check  if the server isn't sending us any flags for the messages,

[2018-07-26 05:47] skapil commented on #135
@zulipbot claim

[2018-07-26 06:01] skapil commented on #135
@zulipbot claim

[2018-07-26 13:22] amanagr commented on #27
I have started working on this [here](https://github.com/zulip/zulip-terminal/wiki/Developer-Documentation).
@punchagan @timabbott FYI

[2018-07-30 17:38] aero31aero opened #147 "Show hint for pressing SHIFT for selecting with the mouse."
Currently, trying to select anything with a mouse in zulip-terminal immediately deselects the text in xterm. The solution is to provide a hint for the following detail:

I believe we do not have any use of selecting text in zt so far, so it could be possible to attach an event listener and then show a small message hinting them to use SHIFT and select.

Conversation that inspired the issue: https:

[2018-08-22 07:59] omi10859 opened #148 "Installing Error ( Add support for python >3.6 )"
Running zulip-term gives error

  File "/Users/omkaryadav/Documents/project/zulip/evnterm/bin/zulip-term"
, line 7, in <module>
    from zulipterminal.cli.run import main
  File "/Users/omkaryadav/Documents/project/zulip/evnterm/lib/python3.7/s
ite-packages/zulipterminal/cli/run.py", line 9, in <module>
    from zulipterminal.core import Controller
  File "/Users/omkaryadav/Documents/project/zulip

[2018-08-22 09:32] amanagr commented on #148
Hi @omi10859, thanks for reporting, this appears to be an issue with python 3.7. In python 3.7 `async` becomes a keyword. A simple fix would be to rename the async function to something similar.
zulip terminal is not tested on python3.7, I would recommend using 3.6 instead.

[2018-08-23 06:04] omi10859 commented on #148
yeah, its working good in 3.6
Can I take the task?

[2018-08-23 06:05] omi10859 commented on #148
@zulipbot claim

[2018-08-23 06:31] amanagr commented on #148
sure!

[2018-08-25 12:28] #148 closed

[2018-09-26 06:43] aero31aero opened #151 "Create extended user mention syntax when needed."
Recently, in zulip/zulip#10243 we merged support for the following mention syntax to zulip/zulip:

`@**Full Name|1234(id)**`

This is to allow us to mention users with the same full name, and is optional. The web app intelligently adds the new syntax only when the users have the same full name, and uses the simpler syntax for others.

Example: https://chat.zulip.org/#narrow/stream/7-test-here/topi

[2018-09-27 19:42] timabbott commented on #151
We can do a check against the server version being 1.9.0 or greater, for this.

[2018-10-24 14:50] neiljp commented on #98
To update, the message text is currently green? Is this still considered an issue? Was this discussed at the summit?

[2018-10-26 20:38] Pradhvan commented on #135
@amanagr I would like to take this issue up

[2018-10-26 20:39] Pradhvan commented on #135
@zulipbot claim

[2018-10-30 07:45] cosine99 opened #156 "Crash on hitting narrow to stream on pvt message by wel_bot"
Abrupt crash if you press (s) i.e 'narrow to stream' on the private message sent by welcome bot on startup

    Thanks for using the Zulip-Terminal interface.

[2018-11-02 17:19] #156 closed

[2018-11-16 11:17] jakobkolb opened #163 "Hotkeys interferring with Stream and Title fields"
When I write a message and fill out the Stream and Title fields, I am unable to type 'h' in the first and 'l' in the second field because they are interpreted as hotkeys and send me each to the other field respectively.

[2018-11-16 22:35] neiljp commented on #163
Which version are you using? I don't see this behavior in master (development version).

I can use `r`, `c` or `@` and this doesn't appear to be an issue.

[2018-11-16 22:37] neiljp commented on #126
I just thought this myself when opening #165 for some recent changes, and #164 for starred messages :)

[2018-11-16 22:43] neiljp commented on #13
From my perspective:
* pytest is likely the framework ZT will keep using
* if you've written other unit tests before, pytest is not that different
* start with whichever model you like, though ui testing involves a lot of mocking

Of course you're also welcome to chat on chat.zulip.org under #zulip-terminal for help on this :)

[2018-11-17 03:45] neiljp commented on #163
@jakobkolb Thanks for the feedback regarding this bug!

@amanagr @punchagan I'm not sure of the process that was decided regarding releases; perhaps we can discuss on #zulip-terminal and release some kind of update for this and other issues being fixed?

[2018-11-18 03:49] neiljp opened #166 "Investigate why keys such as 'ctrl s' do not appear to work in config.py."
In #164 I was hoping to use 'ctrl s' as the mapping for toggling starred messages, as with the zulip webapp. However, this does not currently seem to work; for now I've put an alternative key in, but this may impact other cases where we wish to use keys with modifiers ('ctrl' or otherwise), so should probably be investigated.

My guess was that this might be related to urwid-readline interfering,

[2018-11-23 13:38] varadgunjal commented on #135
@neiljp I started working on this without realizing I needed to stake claim to this. If it's still open can I take you up on your offer of help?

[2018-11-23 16:46] Pradhvan commented on #135
@neiljp hey, yes I am still working on this. Sorry had been a bit busy with job search and festival coming up so could not give it much time, now everything is done so I could work on it again :)  @varadgunjal if you don't mind you can pick up another issue :)

[2018-11-23 23:56] neiljp commented on #7
I think this is close now (after #167), but just needs the rendering of messages composed/replied by the user within ZT?

[2018-11-25 23:17] neiljp commented on #135
@Pradhvan @varadgunjal
I thought I'd replied to this already, but maybe you could collaborate, or discuss on here or chat.zulip.org (on #zulip-terminal) how you plan to go about this?

[2018-11-26 04:20] varadgunjal commented on #135
@neiljp As mentioned above, since I was requested to tackle another issue, I stopped working on this and am looking for other opportunities to contribute to the codebase.

[2018-11-26 15:52] Pradhvan commented on #135
@varadgunjal if you haven't picked up any other issue, I would be happy to collaborate on the current issue :smile:

[2018-11-27 03:20] neiljp opened #171 "Fix issues with message merging (hiding content headers) based on star status"
When two messages have identical author and very similar date/time, messages are shown adjacently, without repeating either information. These messages appear 'merged', though will highlight separately when scrolled through.

Starring/unstarring a message should 'split' any merged messages, but currently does not do so reliably. The rationale for this is that the content header applies to the enti

[2018-11-28 06:09] #98 closed

[2018-11-28 06:10] varadgunjal commented on #171
@zulipbot claim

[2018-11-28 06:15] varadgunjal commented on #135
@Pradhvan no that's okay. i started on another issue.

[2018-11-30 04:08] feamsr00 opened #176 "Explore alternative key bindings for sending messages"
Hi,
Um yeah, quick thing. On my platform `Alt-Enter` (meta-enter) is captured by my console host (for full screen). How does one customize the binding? As it seems right now, I have no way to send messages in this client. 🤷‍♂️

OS: Ubuntu 18.04 bionic [Ubuntu on Windows 10]
Kernel: x86_64 Linux 4.4.0-17134-Microsoft
Python: 3.6.6
Zulip-Terminal: Fresh from pip as of today (18-11-29)

While I'm ask

[2018-11-30 12:47] amanagr opened #177 "Test and upgrade uriwdn_readline library to version 0.8"
Urwid_readline was recently upgrade to 0.8. Test that it works properly and upgrade the version used in zulip-terminal.

[2018-12-02 05:37] feamsr00 opened #178 "Implement icons via alternative font(s) for consoles with limited UTF-8/emoji support"
Simple feat req. Use [NerdFont](https://nerdfonts.com/) To support some consoles that don't have great UTF-8\emoji support (yet). Thoughts?

[2018-12-03 17:51] neiljp commented on #178
This sounds like a useful feature; I would appreciate pointers as to how this might be made to work.

If there are icons/aspects which do not currently render, please let us know the items and environment you're in, in a separate issue :)

[2018-12-03 17:58] neiljp commented on #177
On github: https://github.com/rr-/urwid_readline

The only major change appears to be re arrow keys; @amanagr is the high priority related to that?

[2018-12-03 18:45] neiljp opened #181 "Test installation *without* dev packages?"
From what I can tell, all the current CI tests are there to run the actual tests. As such, they install all the dependencies for testing, and don't test without these. Perhaps we need to just depend upon user reports to resolve this, but it seems there should be a better way - running headless and look for exceptions re missing packages, perhaps?

[2018-12-03 18:47] neiljp commented on #163
@jakobkolb Sorry for the delay, this should be resolved for the next release via #180 and ideally fixing #181 would pick this up in advance. Thanks for the feedback and please let us know if you have any other issues!

[2018-12-03 18:48] neiljp commented on #163
@jakobkolb Just wanted to check that you're satisified with this issue now being closed?

[2018-12-03 18:51] neiljp commented on #50
What's the current status of this? Most of the keys and issues I can see here are resolved?
@mkaito Do you have any feedback on this?

[2018-12-03 18:53] neiljp commented on #13
To update this issue: coverage is now at 67% :)
That said, coverage does not expose all issues, but it's a good start :)

[2018-12-03 18:54] neiljp commented on #7
@amanagr Could you clarify your position on this, particularly if #179 looks good?

[2018-12-03 21:38] timabbott commented on #181
It'd also be reasonable to just add another suite called `production` that only installs the production dependencies.

[2018-12-04 04:42] neiljp commented on #181
@timabbott I think the problem only arises when actually running the code, but I think we're agreeing on the general form of the solution :)

[2018-12-04 14:18] jakobkolb commented on #163
Yep, looks good. Thanks!

[2018-12-04 23:39] neiljp commented on #163
Great, thanks for the reports!

[2018-12-04 23:39] #163 closed

[2018-12-15 02:46] rht commented on #6
I suppose adding major modern text editors colorscheme would be a start, e.g. onedark[1], gruvbox[2], or classic solarized.

[1] https://github.com/odedlaz/tmux-onedark-theme (https://github.com/joshdick/onedark.vim in vim)
[2] https://github.com/egel/tmux-gruvbox

[2018-12-15 17:36] neiljp commented on #176
@feamsr00 For sending messages, you can explore `config.py` to customize the key bindings, specifically `SEND_MESSAGE` for your case. There were issues with configuring this with another value, so it would be useful to know what values you find work for you. #190 should allow ^S for updating star status (in addition to `*`), but I'm not sure the same approach will allow broadening to eg. `ctrl ent

[2018-12-15 17:42] neiljp commented on #135
@Pradhvan Just checking-in if you have any progress on this, or need any help?

[2018-12-15 17:46] neiljp commented on #178
@feamsr00 Do you have experience with Nerdfont? See my earlier comment.

I also updated the title to better reflect your specific request.

[2018-12-15 18:17] neiljp opened #194 "Add/modify specific test(s) to expect a Divider may be in the stream list"
After adding pinned-messages separated by a `urwid.Divider()`, a few bugs appeared; the Divider is masquerading as a StreamButton, but that should be taken into account, and ideally the tests should have failed when I added the Divider. Based on that, we need more/modified tests for this.

[2018-12-15 20:31] rht commented on #178
I have sifted through the internet, couldn't find any ways for a cli app to vendor in custom fonts. The only way to move forward with the glyphs is to either auto-detect the font support of a terminal, or provide an explicit flag to enable/disable glyphs.

[2018-12-16 04:32] #166 closed

[2018-12-16 04:58] amanagr commented on #50
I think it's a good time to close this issue. @mkaito you can reopen this issue if you need to give any feedback or suggestions. Thanks!

[2018-12-16 04:58] #50 closed

[2018-12-16 05:00] amanagr commented on #6
Great idea @rht

[2018-12-16 05:02] amanagr commented on #7
Yup! I think we can close this now. Thanks @neiljp

[2018-12-16 05:02] #7 closed

[2018-12-16 05:07] amanagr commented on #177
Yup!

[2018-12-16 19:01] neiljp opened #201 "Split recipient header and Search field in top bar of MessageView when too long"
When the topic is long, or many private recipients, and/or the window is narrow, this can lead to the column for search becoming tall and thin, eg.

[code]

Rather than rely on columns, we might try another widget - maybe `GridFlow` would work here?

[2018-12-20 03:39] neiljp opened #208 "Clarify & document how to quit"
Splitting out a second part of issue #176, where it was asked whether `ctrl c` was the expected way to quit. I've tended to use this in the past, but it would be good to:
* [x] confirm if this is the only/best key to use
* [ ] document this in `README.md`
* [ ] include this in the in-app help documentation by adding it to `config/keys.py`

[2018-12-20 04:10] neiljp commented on #176
@feamsr00 I split the query/clarification of application exiting into #208, since this is a separate issue to be addressed.

Have you had any luck in alternative key-bindings? Latest master splits the keybindings into `zulipterminal/config/keys.py`, which is slightly easier to find, perhaps.

[2018-12-20 07:12] rht opened #209 "Left-sidebar doesn't show muted topic/stream unread count"
Instead, it always shows muted streams to be fully read. The screenshot of webapp and ZT can be found in https://chat.zulip.org/#narrow/stream/206-zulip-terminal/subject/left-sidebar.20doesn't.20show.20muted.20topic.2Fstream.20unread.20count/near/674408.

Steps to reproduce:
- I always find them to be the case when installed from the latest master

[2018-12-20 21:15] neiljp commented on #209
@rht Muted streams are only implemented to the level of excluding them from the unread counts, to the best of my knowledge. However, they should show an `M` next to them.

From what I understand, the issue you're describing could be broken down into the following:
* ensuring muted streams are marked as such (this should be the case already!)
* potentially showing the muted unread counts, while als

[2018-12-23 14:50] amanagr commented on #8
@neiljp this issue certainly seems resolved for now. We can open new ones for the problems we find the future.

[2018-12-23 14:50] #8 closed

[2018-12-26 17:23] rht opened #216 "Nasty error message when starting up ZT while offline"
[code]

[2018-12-27 00:09] neiljp commented on #216
@zulipbot claim

[2018-12-27 03:32] neiljp commented on #216
@rht Please check if #217 works for you? The startup time may be affected, but hopefully not noticeably.

[2018-12-28 06:31] neiljp opened #219 "Ensure client_gravatar=True is always passed when appropriate"
I've not reviewed the other client code, but we generally use this flag to avoid the server computing and sending extra data that we don't need - we don't display any gravatars/icons.

There is at least one point in the code (at this time) which has a `False` being passed; while this is likely not overly significant, I'm not sure if there are other cases which should have this parameter actually p

[2018-12-28 15:29] amanagr opened #220 "Implement buddy list like in zulip-mobile."
Implement a buddy list which shows all the users whom the user has past messages with. This could potentially be a good place to put group pms too.

[2018-12-28 15:33] amanagr opened #221 "Create a "static" user tutorial for getting started & common activities (gifs/videos)"
A wiki is a must. A video is optional and up for discussions.

[2018-12-28 15:39] amanagr opened #222 "Implement autocomplete for @mention in message box."
This feature implementation could use the autocomplete feature provided by urwid_readline library in the first version.

[2018-12-28 15:41] amanagr opened #223 "Implement missing features for editing sent messages."
TODO:
- [x] propagate_mode: Add support for "change_later" & "change_all". Only "change_one" is supported now. This will also involve changing all the messages' topic after the edited message if a topic change is requested.
- [ ] Disable stream_edit_box and to_edit_box when editing message since they cannot be edited once a message is sent. Making them not editable will reduce confusion too. The b

[2018-12-28 15:48] amanagr opened #224 "Implement autocomplete for streams in the message box."
This issue is paired with #222 and should be straighforward to implement once #222 is implemented.

[2018-12-28 15:52] amanagr opened #225 "UI Improvements"
Left sidebar:
- [x] could be wider on wider screens. Ideally stream names that fit on web should be fully visible on ZT left sidebar as well
- [x] stream name overflow should indent or I think I would just do: `very very long stream na...`
- [x] I would glue the unread count to the right edge of the sidebar, and make it more visible.
- [x] Blinking cursor is confusing (the fact that you get a blin

[2018-12-29 17:16] timabbott commented on #219
The `client_gravatar` flag is a significant bandwidth optimization, so definitely worth passing.  I think we need to pass this in both the `/register` and `GET /messages` queries.

[2018-12-29 19:41] rht opened #227 "Custom API request"
This is a feature request for ZT to have option for user to input custom API request to the server (this could either be specified in cfg or in a colon-prefixed command input analogous to vim's command-line mode). This is particularly useful for debug purpose, but additionally could be a basis for adding another feature: a custom shortcut at the left-sidebar that automatically display messages fro

[2018-12-30 04:35] amanagr commented on #227
@rht I feel this feature could be easily implemented. The only issue is creating standards for taking input for these commands, which can be based on the parameters of the api calls but then we will need to document them properly.

Also, knowing which type of filters people generally use can be a big plus in designing them. Perhaps you can list some of the filters you desire to use here.

[2018-12-30 05:41] #216 closed

[2019-01-01 03:41] neiljp commented on #225
@amanagr I think we've only covered the 'glue unread to right edge' task so far?

If you consider the blinking cursor issue fixed, then could you amend the docs to specify that this is expected to be resolved in the terminal app/system end? I think this should still be able to controlled, and is commented to be a missing feature in urwid as per urwid/urwid#170.

[2019-01-01 03:47] amanagr commented on #225
Ofcourse, we could do more diving into the blinking cursor part. Also, I think the left sidebar is wide enough.

[2019-01-01 03:48] #219 closed

[2019-01-01 04:42] rht commented on #219
Maybe `client_gravatar=True` should be the default instead? Almost all API calls won't probably need the avatar except for a few GUI-based ones.

[2019-01-01 04:45] rht commented on #219
Default as in it is what the server should assume.

[2019-01-01 04:50] amanagr opened #233 "Remove inconsistent unread count behavior and properly test them."
The unread count behavior in zt is very inconsistent at the moment. We need to fix and write strict tests for it so that we know before it breaks next time.

[2019-01-01 04:53] amanagr commented on #219
@rht I agree! but at this point, it's just a lot of work for everyone I suppose.

[2019-01-01 21:14] rht commented on #219
@amanagr I'm more concerned about whether this will bite future API users. If `client_gravatar=True` is the default, any GUI-based API users will be able to see the 'error' early on by not seeing the gravatar, but with non-GUI-based API users, this manifests 'behind-the-scene' in the form of an increase in bandwidth consumption.

[2019-01-01 22:42] rht commented on #227
I will have to draw from the filters I have used in gmail. Most of them are in the form of labeling emails sent to mailing lists (which is already solved by streams), and keyword matching for a theme (e.g. "nlp" OR "deep learning" OR "reinforcement learning", the kind that tends to be scattered across topics or streams, but this is also helpful to group a set of topics within a stream, just like h

[2019-01-03 04:53] amanagr commented on #233
@zulipbot claim

[2019-01-03 15:19] rht commented on #233
Looks like the @zulipbot config still hasn't been updated yet. Ping @synicalsyntax.

[2019-01-03 23:13] rht opened #236 "Crash when trying to read a muted stream"
[code]

[2019-01-03 23:33] rht opened #237 "Users list: Names that are too long should be truncated to end with '...'"
On webapp:
![2019-01-03-233137_348x50_scrot](https://user-images.githubusercontent.com/395821/50667132-d7756800-0faf-11e9-8f63-04af2a574e5e.png)

Current ZT:
![2019-01-03-233255_322x63_scrot](https://user-images.githubusercontent.com/395821/50667169-ed832880-0faf-11e9-864b-a7699ac84ef7.png)

[2019-01-04 03:22] amanagr commented on #233
@neiljp this seems to be a different kind of error and a serious one. I will look into it.

[2019-01-04 07:11] neiljp commented on #236
@rht I've experienced this issue with muted streams, as in #209, but not quite in this way. Could you give any information regarding this? Is it reproducible?

[2019-01-04 07:13] neiljp commented on #237
This seems pretty straightforward, given the width details we managed before; I'll likely look at doing the same for the left sidebar too.

[2019-01-04 07:32] neiljp opened #238 "Render custom (realm?) emoji"
Currently these are unidentified and shown as `[IMAGE NOT RENDERED]`.

If the format of these can be identified, then this can be filtered in the `MessageBox` code into a more useful text version, as with other emoji.

This can explored by looking for the :zulip: emoji, and in zulip-terminal quoting the reply, which will show the source.

[2019-01-04 07:35] neiljp opened #239 "Quote original message content, not rendered version (html)"
If quoting an image, and maybe other items, zulip-terminal quotes the html, rather than the unrendered message, which leaves quite a mess if sent!

We should be able to request the original content, if we don't have it, and store/send it.

This should probably be a request to the Model (possibly via controller), before quoting the correct text.

[2019-01-04 08:09] amanagr commented on #239
msg1 - contains text I want to quote.
@neiljp  you want to quote the exact same text rendered by zt finally in msg1, right?
(If yes, then I suppose it can be easily done)

[2019-01-04 12:32] rht commented on #236
When I reported the issue, it always happened whenever I focused on a muted stream right after startup. Now it no longer crashes, instead, it never displays the messages in the muted stream.
Another info is that I have several muted streams, but I see only 1 stream has an 'M' flag on it.

[2019-01-04 19:57] neiljp commented on #239
@amanagr I'm not sure what you're trying to say, but for example I came across this in the image case - see `ZT emoji & quote` topic on `test here` on czo.

[2019-01-06 19:53] rht opened #241 "Make sure to delete the client queue during shutdown (C-c)."
The shutdown process should include deregistering the client queue. See: https://chat.zulip.org/api/delete-queue.

[2019-01-06 20:12] neiljp commented on #241
Agreed, as I proposed on chat.zulip.org (czo) #zulip-terminal.

[2019-01-07 18:02] #237 closed

[2019-01-09 05:03] sumanthvrao opened #247 "Crash creating new stream message in streams with no previous conversation."
The `c` Hot Key works in creating a new stream message works in streams which has previous conversations.  However the terminal crashes when used in streams which do not have any previous conversation. Expecting the Key to create a new message with stream set to current one and topic blank.

Steps to reproduce bug in development environment (newest version) :
1. logged in as Iago@zulip.com
2. Use

[2019-01-09 07:39] amanagr commented on #247
@sumanthvrao thanks for reporting this.

[2019-01-09 08:51] realsdx commented on #241
I want to work on this issue.

[2019-01-09 16:19] neiljp opened #248 "Ensure ZT is mouse-accessible"
This issue is motivated by the last commit of PR #245, a simplification whereby clicking or pressing 'ENTER' on a message now leads to the same behavior, including autohiding the panels (if in that mode). This potentially makes the mouse-usability (without shortcut keys) less effective, in autohide mode.

Given that getting into the side panels is not a 'click'-enabled activity, this suggests vari

[2019-01-09 21:23] neiljp commented on #6
We now have sufficient themes to be going with; the issue is existing themes being out of date.

I have a branch which makes this clearer for end-users and in testing, to show which themes are good or may be incomplete.

Should we close this and add a new issue for updating existing themes?

[2019-01-09 21:47] timabbott commented on #6
Yeah, that seems reasonable.

[2019-01-09 23:56] neiljp commented on #6
OK, I'll do that once that branch is merged, so we can refer to it.

[2019-01-12 01:12] neiljp commented on #248
@amanagr I agree this is low priority, but tracking this could be useful, as well as a place to focus attention if that becomes of interest to users/contributors.

[2019-01-12 01:15] neiljp commented on #135
@Pradhvan  Have you made any progress on this?

[2019-01-12 07:15] amanagr commented on #14
Yes 😅

[2019-01-12 07:15] #14 closed

[2019-01-13 19:51] neiljp commented on #6
With the merging of #251, which enables CI & run-time feedback of theme completeness, I'm closing this as discussed above, and will open another issue for updating/improving existing themes.

[2019-01-13 19:51] #6 closed

[2019-01-13 20:00] neiljp opened #254 "Add new styles to older incomplete themes"
Current master has two complete themes (`default`, `gruvbox`) and two older themes (`light`, `blue`).

The latter do not have all the latest style names listed, so do not render well, and after merging #251 then using them will give a warning since lacking the required styles tends to lead to minimal and unexpected rendering.

The older themes need the newer required styles adding, and ideally upd

[2019-01-14 01:39] neiljp commented on #236
@rht There are definitely various muted/empty stream issues.

[2019-01-14 01:47] neiljp opened #256 "Add warning on startup if locale/language suggests missing "icons""
At least one user reported that the screen had question marks or similar, and it turned out their locale did not include UTF-8.

We do note that eg. `en_US.UTF-8` is suggested in the FAQs, though I personally use `en_GB.UTF-8` and the drawing lines and so on all work fine. However, if I run `LANG=en_GB zulip-term` then the top lines are instead `????`, and the bullets for the top-left buttons and

[2019-01-14 07:10] amanagr commented on #256
From my past experience with urwid, I would say it's a bad idea to implement complex icons even if we detect UTF-16 support or better, since some characters are differently interpreted by different terminals on the same OS and they end up distorting display for ZT and you can't predict which icon may give you problems.

[2019-01-14 12:55] sumanthvrao opened #259 "Selection of stream with no previous conversation does not update 'current' stream in top bar."
When the stream is changed by to one with no previous messages, the 'current' stream marker ( colorful one) does not change and remains the old stream name itself.

To reproduce:
1. login in as iago@zulip.com ( an example)
2. click on stream `Denmark`  (contains previous conversation)
3. now click on stream `support` (Does not contain previous conversations)

Notice how the current stream marker i

[2019-01-14 18:06] neiljp commented on #259
This is likely very similar to #138, though that is for muted streams.

That said, I am manually testing #252 for a muted stream rather than an empty stream - the current effect is essentially the same, since we don't show content for muted streams right now.

[2019-01-14 18:09] neiljp commented on #233
@amanagr Do you have anything WIP on this? I don't want to overlap on your plans.

[2019-01-14 18:10] amanagr commented on #233
No, not yet.

[2019-01-14 20:53] neiljp commented on #256
@amanagr I was focusing this issue initially just on the UTF-8 issue with lines and bullets, though I do agree generally that this could get overly complex very easily.

That said, an alternative approach may be to generalize themes beyond colors to include icons (or have 'icon themes'), and keep the default theme as simple (and working!) as possible, while allowing other icons on more potentially

[2019-01-15 01:35] sumanthvrao commented on #259
Agreed. When we start showing contents for muted streams, this may be a separate issue to tackle.
For now should i close this and add a line at the end of #138 ?

[2019-01-15 08:46] amanagr commented on #256
Even for a most capable system these factors are important in rendering a successful "icon theme":
* Font Used
* Terminal used (basically terminal input-output stream behaviour)
* OS
     - Windows -> No rendering icons / double width characters on WSL.
     - Linux -> I faced problem with Ubuntu 16 being able rendering an icon and Ubuntu 18 unable to in ZT.
     - Mac OS -> Works fine...

[2019-01-16 06:14] neiljp commented on #176
This is planned to be worked around in the default install by adding ctrl-d as an additional send-message key in future, as per #263.

[2019-01-16 06:26] neiljp opened #264 "Sort users list alphabetically, independently of capitalisation"
Our users list is much better now, but it would be great if we could have the users sorted alphabetically.

This would be useful to have in the next release, but would be a good task for someone newer to zulip-terminal.

While the basic feature implementation is good, appreciated extras could include
* adding tests (using pytest)
* exploring if there are any tricky parts in terms of how to sort di

[2019-01-16 08:03] #176 closed

[2019-01-16 18:40] neiljp opened #266 "Selecting a user in the User list should not hide/empty the message view"
For example, go to a stream with messages in, then click/select a user in the users view on the right; currently this enters a 'compose to' view with that user, but also clears the existing display.

[2019-01-17 07:56] sameerchoubey commented on #238
@zulipbot claim

[2019-01-17 07:56] sameerchoubey commented on #238
@zulipbot claim

[2019-01-17 07:58] sameerchoubey commented on #238
@neiljp I'm unable to claim it since I already have claimed another issue in the integration area. Also, the PR for that particular issue is already up for review. So, please assign me this one. I've already started working on this.

Thanks

[2019-01-18 23:51] neiljp commented on #266
On second thoughts, I think this is an indication of a situation where the user has no messages with the person, which triggers the 'not updating the recipient header' bug #259 (similar to #138), so it *appears* as if the existing stream/conversation disappears, whereas it is really that the header is not updated.

We should revisit this bug if #259 or #138 are fixed.

[2019-01-19 06:48] phoenikx commented on #264
@zulipbot claim

[2019-01-21 01:24] sumanthvrao opened #272 "Up button causes crash on muted streams."
Steps to reproduce issue:

1. Mute stream `bot testing` on `czo`.
2. Access stream in `zt`to find contents cleared for that stream.
3. Using the 'Up'/k HotKey causes the exception.

Traceback of error:
![error](https://user-images.githubusercontent.com/30312566/51447993-4a6d3580-1d49-11e9-8dc2-ae791d8bcd94.png)

[2019-01-21 02:05] #247 closed

[2019-01-21 06:41] neiljp commented on #236
@rht Can you reproduce this now? The only aspect I'm aware of which causes crashes at the moment is #272.

[2019-01-21 06:42] sumanthvrao commented on #259
@zulipbot claim

[2019-01-21 09:16] k-k-mygento opened #273 "Crashed if stream color in short syntax"
Hi there.

zulip-term crashed if stream color in short syntax. I.e. `#f00` instead of `#ff0000`. Why it's short? I set it before using web-version of zulip to red via color-picker

[code]

So when I set channel(stream) color to something like `#123456` via web-version, term works fine.

[2019-01-21 10:20] amanagr commented on #273
@k-k-mygento thanks for reporting this issue. ZT assumes streams colours to be defined in #XXXXXX style. It should be an easy fix.

[2019-01-21 11:32] vishal-vardhan commented on #272
I don't know why but i couldn't reproduce the error following the steps @sumanthvrao suggested instead it shows a blank screen in the chat area ,same as said by @rht in #236.

[2019-01-21 13:23] vishal-vardhan commented on #272
And mute is not working properly in `zt` ,it just shows blank screen.

[2019-01-21 14:41] rht commented on #236
I can reproduce #272 (press up after the blank screen).

[2019-01-21 15:00] rht commented on #236
More specifically:
1. it no longer crashes, but raises an `IndexError` exception
2. then when I open an unmuted channel, it renders fine, then when I open another (different) muted channel, it shows blank screen but no crash.

[2019-01-21 15:20] sumanthvrao commented on #272
I was unable to produce this in my development env. But by muting stream in `czo` as described in steps above, i was indeed able to reproduce it. Which one are you trying @vishal-vardhan ?

[2019-01-21 15:24] sumanthvrao commented on #259
@zulipbot add "help wanted"

[2019-01-21 15:24] sumanthvrao commented on #259
@zulipbot claim

[2019-01-22 09:01] manpoffc commented on #264
@neiljpI didn't get assigned to this issue, Can you help out?

[2019-01-22 11:03] vrongmeal commented on #273
@zulipbot claim

[2019-01-22 11:06] vrongmeal commented on #273
@zulipbot claim

[2019-01-22 11:09] amanagr commented on #264
@manpoffc assigned!

[2019-01-22 11:15] vrongmeal commented on #273
@zulipbot abandon

[2019-01-22 17:30] neiljp commented on #264
@phoenikx were you working on this too?

[2019-01-24 07:56] vishal-vardhan commented on #272
@sumanthvrao  sorry i got late.yes i did the same thing as u did.moreover i think we can't mute a stream in `zt`.

[2019-01-24 07:56] ishanrai05 commented on #254
@zulipbot  claim

[2019-01-24 08:36] ishanrai05 commented on #254
@neiljp @amanagr
Hey guys... I was wondering if the only file that needs to be updated is `config/themes.py`  and the list from which I need to pick up is styles names is `required_styles` in `themes,.py` and then add colors for the remaining style names in `light, blue` ? Also why are there two colors listed against a feature for instance `('selected',     'white',        'dark blue')` ?

Also an

[2019-01-24 08:42] amanagr commented on #254
Hi @ishanrai05 , you are correct that you only need to update `config/themes.py` file.  For the colors to be used for incomplete themes, I would suggest you to get a feel for the themes are really trying to achieve (inversion of colours/ make it look blue-ish) and add the colors accordingly.

Thanks for working on this issue!

[2019-01-24 17:22] sumanthvrao commented on #272
@vishal-vardhan I just muted it in the web-client and then checked it in `zt`

[2019-01-26 04:02] realsdx commented on #241
@zulipbot claim

[2019-01-26 12:31] rht commented on #241
Maybe @zulipbot could auto-detect if a PR has been made for a 'help wanted' issue?

[2019-01-26 13:09] DumbMachine commented on #273
@zulipbot claim

[2019-01-27 12:53] amanagr commented on #222
Sure!

[2019-01-28 02:51] punchagan opened #280 "Add functionality to check version from the command line"
`zulip-term --version` should print out the version of the terminal client.

[2019-01-28 13:38] traintraveler commented on #280
@zulipbot claim

[2019-01-28 15:02] neiljp commented on #254
@ishanrai05 I merged #277; this issue didn't close automatically, so I've done so manually. You're welcome to work on improving the themes next, if you'd like.

[2019-01-28 15:02] #254 closed

[2019-01-28 15:03] neiljp commented on #171
@varadgunjal Are you working on this?

[2019-01-28 18:04] rht opened #282 "Add 24-bit theme support"
This is a tracking issue for https://github.com/urwid/urwid/pull/284. Once merged, I will extend gruvbox to 24-bit, and also this will make adding other true color themes easier.

[2019-01-28 18:32] neiljp commented on #225
Blinking cursor & blue highlight contrast should be solved by the recent merge of #281.

[2019-01-28 19:11] sameerchoubey commented on #238
@zulipbot

Yes

[2019-01-28 20:00] rht opened #283 "Augment 'default' theme with 256-color version"
This is because on urwid, sometimes the light version of the color is not properly rendered. ~See the warning at http://urwid.org/manual/displayattributes.html#bright-background-colors.~ the warning is only on background color, so not sure why some light colors are not rendered.

[2019-01-28 20:01] rht commented on #283
E.g. 'light green' of `msg_selected` is rendered as grey on kitty.

[2019-01-28 22:53] rht commented on #280
Also, preferably, if on a git version, prints out `version+{git_short_hash}` (obtainable from `git describe`). This way it is unambiguous which version it is when reporting bugs.

[2019-01-31 09:21] armaanahluwalia opened #286 "Add Screenshots / GIF on README.md"
I think it would be helpful for new users to have screenshots/GIFs on the main README file to demonstrate how the app looks and behaves. This gives new/potential users a quick glance at what they would get if they went through the signup/download/install process.

[2019-01-31 15:34] realsdx commented on #286
@zulipbot  claim

[2019-02-02 23:07] #241 closed

[2019-02-03 00:27] rht opened #288 "Add git hash to version.py when installing from git."
Making a new issue for this to discuss the best way to implement this. I found pypi.org/project/setuptools-git-version which I mentioned at https://github.com/zulip/zulip-terminal/pull/285#issuecomment-460009705. Though there could be several other libraries out there, and they need to be compared to see which one is most stable.

Alternatively, instead of hash, the commit date/timestamp can be us

[2019-02-04 16:54] neiljp commented on #239
@aditya-hari This occurs when we use the '>' keypress, which as you'll see in `config/keys.py` translates to the command string `QUOTE_REPLY`. If you use `git grep` to search through the source, you should be able to find where this is triggered, and so where it is not quite working properly.

[2019-02-05 13:07] aditya-hari commented on #239
Has this been fixed already? Because I am unable to reproduce it on my end.

[2019-02-06 03:58] aditya-hari commented on #239
@neiljp Alright so I think I fixed it. What do I do now? I am not that familiar with github and open source, sorry. Follow the git guide?

[2019-02-06 22:31] neiljp opened #290 "Improve the selection of 'random tips' (keys) shown at bottom-left"
Currently ZT shows a random key & what it does in the bottom left; it would be useful if this was A) from a more limited selection:
* exclude '?' since we always show that :)
* exclude arbitrary other keys (movement keys?)
and possibly B) in a specific order of usefulness, eg. `r` and `n` early on.

To implement this, we could hard-code specific keys to avoid, but probably better add extra fields

[2019-02-06 22:41] neiljp commented on #225
"I would make the default suggestion highlight n and r instead of @"! is now tracked in #290, after clarification on #zulip-terminal on chat.zulip.org

[2019-02-07 00:50] neiljp opened #291 "Explore alternative installation methods for users & developers"
This issue is a spin-off of #269.

Ideas raised so far:
* Snap https://github.com/zulip/zulip-terminal/pull/269#issuecomment-455882026
* Tox [for development; allows testing multiple python versions & package installs]
* Pipenv (keep including it? just for developers? prioritize? just use `pip -e .[dev]`?)

[2019-02-07 15:20] punchagan commented on #233
I think one of the fundamental problems here is that the unread count state is being stored in a dictionary, and we are adding and subtracting unread counts to values in the dictionary from different threads.

[2019-02-07 22:53] rht commented on #233
IIRC python dicts are thread-safe due to GIL.

[2019-02-08 01:01] rht commented on #286
https://asciinema.org/ is more lightweight than gifs.

[2019-02-08 04:31] amanagr commented on #233
I have some ideas on fixing this issue, I am mainly busy due to college work, so I unassigned this issue so that others can feel free to work on it in the meanwhile.

[2019-02-08 08:51] aditya-hari commented on #239
@zulipbot claim

[2019-02-08 10:32] aditya-hari commented on #264
@neiljp Is this issue still open?

[2019-02-08 10:35] aditya-hari commented on #135
@neiljp

I'd like to work on this issue.
Could you please point to how I should start?

[2019-02-08 19:33] #239 closed

[2019-02-08 20:54] Jaggu-123 commented on #264
@zulipbot claim

[2019-02-08 23:26] aditya-hari commented on #135
@zulipbot
claim

[2019-02-09 00:58] aditya-hari commented on #135
@zulipbot  claim

[2019-02-09 08:22] rohitsanjay commented on #171
I want to work on this but I don't know where to start.

[2019-02-09 08:23] rohitsanjay commented on #171
I want to work on this one but I need help in where to start.

[2019-02-09 17:51] ishanrai05 commented on #222
@zulipbot  abandon

[2019-02-09 22:54] neiljp commented on #233
#293 should go some way towards fixing this. No tests yet, but some fixes mandated by mypy, and another small obvious fix too :)

[2019-02-09 23:16] neiljp opened #294 "Update 'alternative' send-message key instead of ctrl-D due to readline conflict"
As mentioned by @punchagan, the recently introduced extra key for sending a message conflicts with the key used by readline.

@punchagan suggested ctrl-j or ctrl-m and pointed to http://ascii-table.com/control-chars.php

I wondered if we could use a different alt combination?

[2019-02-09 23:35] neiljp commented on #194
This would be a good issue if you either know tests/pytest, or want to learn it - we would prefer code to have tests in PRs if possible, so this issue starts from the other side and would likely involve *just* test additions/changes.

[2019-02-09 23:39] neiljp commented on #171
You might find it useful to explore this by checking the current tests, and adding a new or amended test for the situation(s) described in the issue. if you need more clarification, please ask on #zulip-terminal or here.

[2019-02-09 23:45] neiljp commented on #127
Is this now just a documentation issue?

We now have the traceback logging (for users & developers) but quite a few entries in the FAQ about it.

I recently raised that we could suggest using `flush=True` in the FAQ, so that outputs are written instantly (and to use perhaps `tail -f debug.log`), and we could restructure that part, and maybe split it into a 'developer' and 'user' section?

[2019-02-10 03:02] amanagr commented on #127
Yeah, looks like we need to document the recent changes in logging. I would prefer moving the FAQ section to `wiki` section and yes we can make separate sections for users and developers there.

[2019-02-10 05:56] neiljp commented on #127
While historically I was a proponent of wikis, personally I would prefer keeping it in the repo; if one makes a change in the code, it's easy enough to 'git grep' for affected changes (if the names are long enough), but that's not really feasible with a wiki.

[2019-02-10 20:30] neiljp commented on #222
@ishanrai05 Please let us know if there is anything else (an issue or something not listed) that'd you like to work on :)

[2019-02-10 20:38] neiljp commented on #294
@punchagan Was there a reason that you selected ^j or ^m? What about eg. ^x (ctrl-x) ?

[2019-02-11 07:28] sumanthvrao commented on #236
@zulipbot claim

[2019-02-11 08:35] punchagan commented on #294
In some special cases, I use `^j`in my text editor (Emacs) to insert a newline. I'm okay using any other key, if it makes more sense mnemonically.

I'm a little hesitant about `^x` because I could easily fat-finger and `^c`!

[2019-02-11 09:18] sumanthvrao commented on #272
@vishal-vardhan are you still working on this?

[2019-02-11 17:11] neiljp commented on #294
Well, ^x is just as close to ^c as ^d?

@rht Any thoughts on this, as another terminal user (?)

[2019-02-11 18:36] rht commented on #294
Too bad `^d` can't be used. I have used `^j` occasionally but never `^m`.
From ergonomics standpoint, `^j` is easier to type than `^d`, even with caps-lock mapped to <ctrl>.

[2019-02-12 00:00] neiljp commented on #294
Both ^j and ^m *do* currently do something in the editbox, apparently, at least here.

What do we think of ^o? Is that going to be an issue with terminals having an 'open' shortcut? Anything else?

[2019-02-12 09:04] amanagr commented on #127
No problem! 😃

[2019-02-12 10:29] matrixise opened #297 "Compact the help view"
Because the HelpView takes the complete size of my screen (this one is a 25"), I prefer to use a small interface for the shortcuts.

[2019-02-13 00:25] sumanthvrao commented on #272
@zulipbot claim

[2019-02-13 01:32] sumanthvrao commented on #259
@zulipbot claim

[2019-02-13 16:51] neiljp commented on #297
Just to clarify, do you mean a small screen, or rather a certain text resolution?

I have a much smaller (laptop) screen, and with the extra lines currently present I can see all but one of the help lines. However, if the font was larger (and so there were fewer text lines) I could see that being an issue, but then we scroll anyway?

Could you describe the problem a little more?

I do think that r

[2019-02-13 22:12] neiljp commented on #127
See #299 for some rearrangement, if not significantly new content at this point.
(not including any migration from wiki)

Hmm, we should probably add a note about the traceback file in the README.

[2019-02-14 02:28] rht commented on #288
Figured that zulip/zulip has a wrapper function for git-describe (used in https://github.com/zulip/zulip/pull/11558). Maybe this can be used instead of setuptools-git-version.

[2019-02-14 09:47] matrixise commented on #297
Hi @neiljp
Here is a screenshot with the help.
![zulip-term](https://user-images.githubusercontent.com/38737/52778279-f6065e80-3045-11e9-9874-c43986293473.png)

[2019-02-15 05:45] neiljp commented on #297
@matrixise This is not a match for the current development release - the menu is a lot more compact, at least horizontally. The current help looks more like the screenshots in #265 (merged ~18 days ago).

[2019-02-15 15:58] sumanthvrao commented on #209
@zulipbot claim

[2019-02-16 01:10] sumanthvrao commented on #272
@neiljp This issue no longer seems to occur. Trying to press Up/k HotKey in recent version of master is not causing a crash. Testing with the most recent version of master here.

[2019-02-16 21:08] neiljp commented on #297
@matrixise If you're willing to update your development copy, I'd appreciate if you'd consider whether we've reached a suitable level of improvement to close this issue, given the merger of your PR and #301.

[2019-02-16 21:39] neiljp opened #302 "Add a draft(s) feature"
This could be comparable to the webapp, but has various aspects in which development could proceed.

A) Per narrow: a first version could just maintain the last message draft, and then develop to one per narrow
B) Multiple drafts: a first version could have one draft, and potentially to multiple drafts

It would be worth reviewing the way the webapp handles this, and there have been discussions on

[2019-02-17 07:31] mregdos commented on #273
I am unable to recreate this on master branch. Was bug fixed in the meantime ?

[2019-02-17 10:17] mregdos commented on #290
@zulipbot claim

I will try to implement A). As a new user I am unsure whether B) is viable - all keys seems to be both new and/or useful.

@neiljp
I like the idea of cycling through tips manually. Which key would be suitable for such purpose ('Show next tip'?) in your opinion?

[2019-02-17 20:07] mregdos commented on #294
In my opinion it would be nice to have a way to temporarily change behavior of 'Enter' (togle activated/deactivated by different shortcut), so pressing enter would result in sending message. If I know ahead of time that I will send a few short (one-line) messages then I will enable this new behavior.

From my pov (as a new user of zulip-terminal) sending short messages should be something which do

[2019-02-17 23:33] neiljp commented on #294
@mregdos The option you raise is perhaps a different solution, but we could consider duplicating an aspect of the webapp by adding an option which affects whether 'Enter' sends or adds a newline, though I would expect it to be off by default.

This doesn't remove the need for a substitute key for cases where the existing set doesn't work, and where ctrl-d still conflicts with readline.

[2019-02-18 00:19] neiljp commented on #280
This looks great! My only thought is whether you'd like to include an extra line in `CHANGELOG.md` in the same commit (perhaps in the 'interactivity' section?) regarding the addition of this change?

Otherwise, I'm happy for this to be merged.

[2019-02-18 01:51] #208 closed

[2019-02-18 01:56] rht commented on #280
I think `CHANGELOG.md` should be updated in bursts. Not every commit must touch that file.

[2019-02-18 04:47] vhawk19 commented on #221
@zulipbot claim

[2019-02-18 06:24] neiljp commented on #221
@vhawk19 You might want to discuss what you plan for this on #zulip-terminal, so that you don't write a lot or we need to move it between systems/formats/etc.

[2019-02-18 16:44] #280 closed

[2019-02-19 03:32] neiljp opened #307 "Ensure help menu is ordered as listed in keys.py"
Given the keys are defined in a `dict`, the ordering is not guaranteed except using an `OrderedDict`, unless on versions of python of 3.6+.

Since in earlier versions, the ordering may be different, so we should likely migrate to an `OrderedDict`.

[2019-02-19 04:53] mregdos commented on #307
@zulipbot claim

Since I am changing this code anyway (due to other issue), I will claim this.

[2019-02-19 21:55] n-cc commented on #273
I am able to recreate this following the steps in the README.md; I am unsure of how the master branch is related to the pip package, but I figured it was worth noting since it seems this issue is still unfixed.

[2019-02-20 00:49] sumanthvrao opened #308 "Messages render as 'raw' rather than rendered, after they are edited"
Steps to repro :
* compose a message in pm/stream with some block text (inside triple quotes or inline single quotes)
* Edit the message within block text while remaining on the same narrow ( From Webclient)
* The message now appears un-rendered on ZT. i.e re-rendering of edited block text messages are not happening.
* reloading the narrow causes it to get re-rendered in the proper way.

![bug2](h

[2019-02-20 00:50] sumanthvrao commented on #308
@zulipbot add "bug" "help wanted"

[2019-02-20 01:01] neiljp commented on #273
I believe this was fixed to some degree in a recent server release, by possibly always storing colors in 6 digits, but that doesn't resolve the issue for earlier versions where this is possible.

@mregdos You would need to set up a server or replicate the old situation. I would probably explore adding some color test-cases to the `TestStreamButton` code, and then broaden them to be 3-digit codes,

[2019-02-20 01:03] neiljp commented on #308
@sumanthvrao Regarding the last point, what did you mean by 'reloading'? Reloading ZT? If I just switch between narrows then it doesn't re-render here.

[2019-02-20 01:06] neiljp commented on #308
Edited the title to indicate that this includes other rendering, such as mentioning users.

[2019-02-20 09:30] matrixise commented on #297
@neiljp I will do it asap (maybe tomorrow)

[2019-02-20 12:31] sumanthvrao commented on #308
I did a bit more digging into the issue and some stuff which i observed were :
* I edited a message containing mentioning users, block text and inline text. I changed only the inline part, however all the 3 kinds of messages got un-rendered.
* @neiljp . I  originally tried this in a stream. Switching to another stream and returning back, renders the previously sent messages. I tried another messag

[2019-02-20 15:34] sumanthvrao commented on #272
Further discussion no this issue is here.
https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Muted.20streams/near/701605

[2019-02-20 17:15] timabbott commented on #308
You folks may want to look at the webapp's algorithms in `message_list_view.js` for handling rerenders and ask questions about anything that's confusing (we'll add comments to clarify it).  I don't think the terminal app needs the same complexity around some performance optimizations, but certainly details like using separate field names for raw vs. rendered content and the logic is e.g. `merge_me

[2019-02-20 23:28] sumanthvrao commented on #308
Thanks for the advice @timabbott!

[2019-02-20 23:28] sumanthvrao commented on #308
Most of the markdown rendering is done in `soup2markup` in `boxes.py`. From a quick look, `Updating_rendered_view` function in `model.py` is responsible for handling new content in rendered view.

[2019-02-21 16:05] sumanthvrao commented on #236
Still working on this @zulipbot.

[2019-02-21 17:03] n-cc commented on #273
Makes sense, I am seeing this issue on server 1.9.0, which I don't believe is the most recent. Would be nice to have it working with the older versions, though, so that users aren't blocked from using the client by their organization.

[2019-02-23 03:01] amanagr commented on #233
@zulipbot claim

[2019-02-23 08:31] amanagr commented on #233
The biggest problem with inconsistent unread count behaviour is due to GROUP PMs.
Currently we don't display unread counts for GROUP PMs but you can read group pms in the message view and thus decrease the `All messages` unread count.

We can have a quick fix for this but I am thinking of going with implementing GROUP PMs in ZT via #220 since it is now a must have feature for us.

[2019-02-23 19:55] neiljp opened #311 "Entering a narrow sometimes moves to earlier message than expected"
This occurs in various situations; I don't have a specific way to reproduce as yet.

The basic issue is that you may have read as far as eg. Feb 6 in some narrow, and on returning to that narrow it jumps you back to some time on maybe Feb 2.

[2019-02-24 00:23] neiljp commented on #264
While this is a good introductory issue, it would be good to get something of this kind merged soon.
Were you still working on this @manpoffc ? Please met us know :+1:

[2019-02-24 03:12] manpoffc commented on #264
I've already closed the PR and is ready to get merged
Thank you :)

[2019-02-24 03:37] neiljp commented on #264
@manpoffc Which PR? PRs normally only get closed if people aren't working on them, or after they're merged :)

[2019-02-24 03:54] manpoffc commented on #264
Sorry was not familiar with the dynamics
https://github.com/zulip/zulip-terminal/pull/274
I re opened it and it's ready for the merge

[2019-02-24 04:00] #264 closed

[2019-02-24 04:36] aditya-hari commented on #135
@zulipbot claim

[2019-02-24 18:42] neiljp commented on #233
@amanagr I agree multiple-recipients are one part of this issue, which is pretty clear given that `UnreadCounts['unread_pms']` is a `Dict` indexed by the sender id. However, we will need the data-structure to be updated in any case, independently of #220, to be indexed by recipients?

[2019-02-24 18:45] neiljp commented on #273
@n-cc If a fix for this was provided in a development branch, would you be able to test it?

[2019-02-24 20:09] neiljp commented on #233
I have some un-pushed code to further simplify our current handling of unread counts - do you have other current work that might conflict? Would you like to see this?

[2019-02-24 22:23] neiljp commented on #233
This work is in #312.

[2019-02-25 02:25] traintraveler commented on #288
@zulipbot claim

[2019-02-25 04:14] amanagr commented on #233
@neiljp I am currently working on implementing buddy list. The code in #312 looks great.

[2019-02-25 05:35] neiljp commented on #220
@amanagr What do you expect this to look like and where would it go?

[2019-02-25 05:46] amanagr commented on #220
I am thinking it as a overlay (like help view) which will have two sections
users and group pms.

What do you think of using `b` for toggling the buddy list?

The users and group pms in the list will only include recipients in the
privates messages already fetched during initialization. In case there are
no private messages fetched I am thinking of fetching  20 recent private
messages before displ

[2019-02-25 05:50] amanagr commented on #311
Sounds bad, a bug in the index_messages function? A way to reproduce would be nice.

[2019-02-25 06:09] neiljp commented on #311
It seemed to trigger sometimes with the `z` branch I have, mixing scrolling up and down and then toggling/zooming in and out.

[2019-02-25 20:30] n-cc commented on #273
Yep, I can do that.

[2019-02-25 23:33] neiljp commented on #273
@n-cc I've got a test fix in a personal branch here:
https://github.com/neiljp/zulip-terminal/tree/support-short-stream-colors

I've added some tests, so I think this should work based on the problem description, but obviously this is good to confirm against a live server :)

[2019-02-26 19:54] n-cc commented on #273
@neiljp Confirmed this fixes the issue with server version 1.9.0; tried a few different 3-character hex color codes and they all load and render correctly.

[2019-02-26 22:01] neiljp commented on #311
To reproduce on current master, locally:
- Go to #zulip-terminal stream
- Scroll to @amanagr 's posting in 'narrow stream/topic toggle'  which starts with 'Keeping the past conflicts'
- Hit `z` (it switches to the topic narrow, on the same message as before)
- Hit `z` (it switches back to the stream narrow, on the same message as before)
- Scroll down twice to my message which starts with 'To clar

[2019-02-28 01:30] sumanthvrao commented on #311
I found that this has a varied behaviour. I was unable to reproduce it in the exact way told above. However after I entered the topic narrow (`z` on the last message in the stream) and scrolled up, using `z` on some messages takes focus back to the first message ( last message in my case) and for some it shows the correct focus.

[2019-02-28 14:54] omi10859 commented on #222
Is it still open and can be claimed?

[2019-02-28 15:48] amanagr commented on #222
Yes @omi10859 you work on it.

[2019-03-01 05:27] omi10859 commented on #222
@zulipbot claim

[2019-03-02 14:07] bistaastha commented on #286
@zulipbot claim

[2019-03-02 19:02] gnzlbg opened #320 "Install via homebrew"
Is zulip terminal available in homebrew or could it be made available there?

[2019-03-02 19:44] neiljp commented on #273
@n-cc Thanks for the testing, it's much appreciated! I'm going to merge the fix for this now since there have been few other requests for this feature and it will be good to get it out for testing via the master branch. If you have any issues, please feel free to report a separate issue :+1:

[2019-03-02 19:45] #273 closed

[2019-03-02 20:14] neiljp commented on #320
I'm not personally aware of this being the case, but am not familiar with this package system.

Our current tests run on a version of OSX in addition to Linux, but that uses pipenv/pip, not homebrew.

@gnzlbg Is homebrew the only system you would use? Have you managed to install using our recommended method?

[2019-03-02 21:29] gnzlbg commented on #320
I wouldn't say so. I don't know if this makes sense, but if installing this would be as simple as `brew install zulip-terminal` or `brew install zulip-terminal --HEAD` (for installing the master branch) then I would have tried this already.

I've written Python in the past so `virtualenv` and `pip` are familiar, but I haven't written Python in a while, and I remember that updating MacOSX, and havi

[2019-03-02 23:33] neiljp commented on #320
I agree this would be a useful feature to have, and I'd expect we would accept packaging along these lines if someone was willing or able to work on it (having a mac/OSX is presumably a requirement). Do you have any input on this, @rht ?

That said, we depend only upon python 3.4+, and making and setting up a virtual environment has become progressively more standardized and easier over time - pip

[2019-03-03 00:10] gnzlbg commented on #320
Yeah, adding a homebrew formula requires some testing, which is easy if one is using homebrew on osx, but I don't think it would be easy from linux.

[2019-03-03 06:59] sumanthvrao commented on #308
@zulipbot claim

[2019-03-03 13:10] bistaastha commented on #286
@zulipbot abandon

[2019-03-04 13:36] bistaastha commented on #209
@zulipbot claim

[2019-03-04 13:41] sumanthvrao commented on #209
Hi @bistaastha . Sorry I Did not reclaim this issue. I was working on this and through PR #313. Working on point 2 above here https://github.com/sumanthvrao/zulip-terminal/tree/zt-newmuted. Feel free to git it a review :)

[2019-03-04 13:49] bistaastha commented on #209
@sumanthvrao I will :)

[2019-03-04 13:49] bistaastha commented on #209
@zulipbot abandon

[2019-03-04 13:50] sumanthvrao commented on #209
@zulipbot claim

[2019-03-04 13:51] sumanthvrao commented on #209
Sorry for the inconvenience :)

[2019-03-04 13:56] bistaastha commented on #201
@zulipbot claim

[2019-03-04 13:57] bistaastha commented on #209
@sumanthvrao It's okay. I found something else to work on.

[2019-03-04 19:15] #272 closed

[2019-03-04 19:28] neiljp commented on #272
Thanks to @sumanthvrao for their work on this! This should be resolved since we now show the content of muted streams, except if in the all-messages narrow.

[2019-03-04 19:30] neiljp commented on #236
Github didn't appreciate my 'partially' for fixing this in the work by @sumanthvrao

@rht could you comment on the status of this? I'm reopening for now and would appreciate your feedback.

[2019-03-04 19:54] #307 closed

[2019-03-04 23:28] sumanthvrao commented on #236
@neiljp to confirm: the 'partially' was added in the commit summary as there may be a crash on 'All messages' ? May I know how this happened while testing.

[2019-03-04 23:36] sumanthvrao commented on #209
Update: This issue now focuses on
* Potentially showing the muted unread counts, while also showing the stream is muted
* The other 2 (marking muted stream and showing message) - Merged as a part of https://github.com/zulip/zulip-terminal/commit/1fae27c57124f019d1390061099ea70d86fcaa0f & https://github.com/zulip/zulip-terminal/commit/d4261d0ccbc6ac3a3e3ff237a9683ec231cdf8a1 (Partially)

[2019-03-05 01:37] rht commented on #320
Having a "system" package always helps. Then brew formula would depend on having a `python3` (3.7) package installed. Then maybe it requires an executable with an explicit `$PYTHONPATH` pointed to brew's installation instead of the system's installation. I think the formula should be sufficiently generic that it should be straightforward to just pull from a python-based cli formula. I will have to

[2019-03-05 02:24] rht commented on #320
Update: most of the formulas I found require very few dependencies or just python2 or python3. It is already the case that homebrew no longer packages highly common libraries such as numpy/scipy (https://www.scipy.org/install.html). Even if there is a formula made for ZT, I doubt it will be included in the default package list, and anyone who wants to use the formula will have to do something alon

[2019-03-05 02:25] sumanthvrao commented on #259
@zulipbot claim

[2019-03-05 02:27] rht commented on #320
For reference, cython: https://github.com/Homebrew/homebrew-core/blob/master/Formula/cython.rb. There is another CLI app but it also depends only on having `python` installed.

[2019-03-05 02:37] neiljp commented on #297
@matrixise Just checking in with you regarding this issue.

[2019-03-05 11:41] amanagr commented on #320
Thanks @rht for the reference. Looks like currently pip is would the best way to install zt. Closing for now.

[2019-03-05 11:41] #320 closed

[2019-03-05 21:28] neiljp commented on #291
**homebrew**: This was discussed in #320, with the conclusion that we would rely on pip for now.

[2019-03-05 22:34] neiljp commented on #290
Thanks to @mregdos for completing the first part of this :)

Any thoughts on other keys we should definitely exclude, other than `?` ?

[2019-03-07 15:09] sumanthvrao commented on #308
@neiljp FYI :)

Turns out this had a pretty simple. The un-rendered content was the input to `MessageBox` which did not render it thinking it was text.

[2019-03-08 06:58] #308 closed

[2019-03-08 19:07] accakks commented on #286
@zulipbot claim

[2019-03-08 19:10] accakks commented on #238
@zulipbot claim

[2019-03-10 20:09] traintraveler commented on #288
@zulipbot Yep, still on it.

[2019-03-11 09:59] vonknio opened #325 "Fix typos in Developer Documentation (Wiki)"
There are a couple of typos in the current version of Developer Documentation.
As it is a Wiki issue and I don't see a way to PR to it directly, here's my local PR to highlight the changes: [link](https://github.com/vonknio/zulip-wiki/pull/1).

[2019-03-11 15:35] sumanthvrao opened #326 "Last 30 messages being muted causes crash when starting up ZT"
Steps to repro:
* Mark Stream #Denmark to be muted (Web-App) in User 1 (Eg: Iago).
* In User 2 (Eg: Hamlet) on send 30 odd (around 40 to be on safe side) messages to stream #Denmark. (Through ZT or Web-app)
* Open user Iago from ZT causing it to crash.

Complete Traceback:
[code]

[2019-03-11 15:39] sumanthvrao commented on #326
**Reason why there is a crash**: In the default all-messages view, ZT loads last 30 messages, but doesn't display muted messages. All of them being muted results in no messages being in focus.

**Preferred approach**: If muted messages are found then an equal number of messages are downloaded. (*This specific algorithm may not work if all the streams are muted.*)

[2019-03-11 16:00] omi10859 commented on #294
I'm not sure if this is possible or not but It would be awesome. If at the time of installation it's been asked to the user if what set of keys a user wants to use to send a message.

[2019-03-11 16:11] sumanthvrao commented on #326
@zulipbot add "bug" "help wanted"

[2019-03-11 20:39] timabbott commented on #326
It's worth mentioning that the webapp fetches many more than 30 messages to prepare the "all messages" view -- more like 1200, and uses that data to locally render various narrows before the server responds.  While you may want to fix the original bug here, we may want to work in the direction of that approach (keeping in mind it's kinda a lot of work).

[2019-03-12 16:32] BenMusch commented on #238
@zulipbot claim

[2019-03-14 13:09] accakks commented on #286
@zulipbot abandon

[2019-03-14 23:58] rht commented on #286
Made a brief screencast:
[![asciicast](https://asciinema.org/a/E2YXBGTX2kT0IBRdAOdzp171G.png)](https://asciinema.org/a/E2YXBGTX2kT0IBRdAOdzp171G?theme=solarized-dark)

[2019-03-16 12:24] amanagr commented on #325
Thanks @vonknio, updated!

[2019-03-16 12:24] #325 closed

[2019-03-19 18:08] traintraveler commented on #288
@zulipbot  abandon

[2019-03-22 02:33] sumanthvrao commented on #326
@zulipbot 	add "further discussion required"

[2019-03-22 06:50] shreyamalviya commented on #286
@zulipbot claim

[2019-03-22 16:28] shreyamalviya commented on #171
@zulipbot claim

[2019-03-23 01:19] sumanthvrao commented on #326
@zulipbot claim

[2019-03-24 19:49] neiljp opened #330 "Update user list after application is started"
The list of users in the right panel should be updated as the app finds out about it, as in the webapp.

Given the natural visibility of this panel in the no-autohide view (and an expectation it is the 'current' list of users) this seems like a high priority change.

[2019-03-25 11:42] shreyamalviya commented on #171
@neiljp, I'd like to work on this but I'm waiting for a review on another PR, so I can't claim this. Could I please be assigned to this issue? Thanks!

[2019-03-25 15:46] neiljp opened #332 "Allow clicking on pre-existing reactions to toggle your contribution"
Currently we can only affect :+1: within ZT.

This would be a quick way to show agreement with other people's reactions to messages, before we have full reaction-handling logic.

[2019-03-30 03:41] sumanthvrao opened #333 "Right line mismatch with messages containing certain emoji's."
When messages with certain emoji's appear, the right border line of Middle Column, seems to be mismatched. One example of such an emoji is . (have not done an extensive search of which emoji's cause this issue)
 For example emoji's like this --> 👍🏽
![right_line](https://user-images.githubusercontent.com/30312566/55270947-93061980-52cb-11e9-991c-b049235bafef.png)

[2019-03-30 05:42] shreyamalviya opened #334 "Can't undo thumbs-up reaction in new ZT session"
When a person adds a thumbs-up reaction to a message, if they exit the terminal session and start a new one, the reaction can't be undone through ZT.

Also, a pre-existing reaction (previously added from any other Zulip platform) can't be toggled unless the same session of ZT has been running since the reaction was added.

[2019-03-30 05:45] shreyamalviya commented on #286
@zulipbot abandon

[2019-03-30 05:45] shreyamalviya commented on #171
@zulipbot claim

[2019-03-31 06:43] sumanthvrao commented on #330
@zulipbot claim

[2019-03-31 15:04] konraddeka commented on #334
@zulipbot claim

[2019-03-31 15:57] neiljp commented on #171
@shreyamalviya Let me know if you need reassigning; was this the screenshot PR? Are you still working on that too?

[2019-04-01 07:06] shreyamalviya commented on #171
@neiljp, yes, I just have to change that one image as we discussed on czo (#286).

[2019-04-03 15:58] neiljp commented on #334
Fixing this will be great - I noticed it late last year as it turns out - and I think is a bug in the server. I have posted about it on #**development help**.

[2019-04-04 04:24] shreyamalviya opened #338 "Displaying streams' topics"
As of now, when a stream is selected, one can not view the topics within the stream.
Based on the discussion on #zulip-terminal, these are some of the ideas we had to implement this:

- We could simply mimic this the way the webapp does. So in ZT, on selecting a stream, the list of topics would be displayed in a column. Perhaps a toggling approach where we would display topics in the left column i

[2019-04-04 04:25] shreyamalviya commented on #338
@zulipbot add "further discussion required"

[2019-04-04 13:52] sumanthvrao commented on #338
Link to conversations related to this -
* https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/rishi.20feedback/near/695843
* https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Topics.20for.20streams/near/726783

[2019-04-05 04:30] tonycpsu commented on #282
@rht : I've merged the PR.  Can't say when a release will go out, but you can at least point to urwid master now.

[2019-04-05 13:35] sumanthvrao opened #340 "Add floating recipient bar (FRB) to top of central column."
(*quoted from discussion*)
The top 'recipient' area in ZT in the middle column shows the recipient (and search string text) of the current message. If you are narrowed to a specific topic, or private messages, or messages with specific people, then it doesn't distinguish that. If you press z repeatedly, the shown messages should currently update, but not the top recipient area.
A better manner to

[2019-04-05 13:50] rht commented on #282
Finally!

[2019-04-06 23:39] #334 closed

[2019-04-15 01:29] sumanthvrao commented on #340
@zulipbot claim

[2019-04-20 06:06] hjiang opened #350 "0.3.1 startup crash on macOS"
I tried to run 0.3.1 on macOS in a clean virtualenv like the README suggested. But had the following crash on startup:

[code]
macOS version: 10.14.4 (18E226)
Python version: 3.7.0

[2019-04-23 01:36] neiljp opened #351 "Support rendering of 'emotes' (/me slash command)"
Currently a message starting with `/me` does not render specially.

This is likely since ZT currently relies on the backend to render messages it receives, and then translates that into urwid-styled text. The same applies for other existing "slash commands", ie. they currently depend on front-end web-side code in the web-app. As such, we could implement them client-side too for now.

[2019-04-23 06:09] neiljp commented on #350
As suggested by @sumanthvrao on #zulip-terminal after a little discussion, this is likely issue #326

@hjiang Does this occur for fewer muted streams than you currently have?

[2019-04-23 07:20] hjiang commented on #350
I created a new organization with the default "general" and "announce" streams on zulipchat.com and ran 0.3.1 with it. It still crashed but with a different stack trace:
[code]

[2019-04-23 07:31] hjiang commented on #350
I ran the HEAD version against the new organization, and it also crashes with a similar trace:
[code]

[2019-04-23 07:54] hjiang commented on #350
This also occurs on a Ubuntu 16.04 box, so it's not a macOS-specific issue.

[2019-04-24 17:03] omi10859 commented on #222
@zulipbot claim

[2019-04-24 20:01] omi10859 commented on #225
It is confusing.
Should I make PR to change the behaviour?

[2019-04-24 21:41] neiljp commented on #225
I *think* we decided this was OK for now, after some conversation at the time. That said, I'm also not sure what the alternative would be, or why it's so confusing - admittedly, talking as an active user of ZT.

If you have ideas on this, I would suggest posting to #zulip-terminal with what you find confusing, and how you think it could be improved. You might search that stream for discussion arou

[2019-04-25 01:09] sumanthvrao opened #352 "Cross reference internal links to their respective narrows within ZT"
**Internal links** in ZT (those which point to conversation in other narrows in the same realm), are clickable in the sense they are opened in the browser through the web-app which redirect then to the narrow. A similar implementation would be to switch to the respective narrow the link is meant for from within ZT itself (Cross reference). A v2 version of this would be to enable copy/paste the cur

[2019-04-25 05:18] neiljp commented on #222
For me, one important change to include is that we should make this case-independent in the same way the user-list is sorted, eg. if I searched for 'Eric', it should not find them not just using '@e' but also with '@E'. It already does this if you just do '@<tab>' and cycle through, but I expect other people will want this based on using some first letter(s) rather than cycling through the whole/a

[2019-04-25 13:05] sumanthvrao commented on #352
@zulipbot add "enhancement"

[2019-04-25 16:36] omi10859 commented on #225
It was bit confusing in starting as zulip-desktop does not have any such behaviour.
We can simply fix the left sidebar, same as it is in zulip-desktop or zulip-web

[2019-04-25 17:54] timabbott commented on #222
I just wanted to mention that one thing that's been super helpful for us in the webapp and I imagine would be valuable here is to setup an automated test system for the typeahead.  In the webapp, it's  `frontend_tests/node_tests/composebox_typeahead.js`, and with the right structure (where you basically setup some data, and then call the "autocomplete" functions passing in an initial string and ha

[2019-04-26 07:53] neiljp commented on #225
Have you explored using the `no_autohide` setting?

[2019-04-26 11:45] omi10859 commented on #222
I too was thinking about this will definitely include this in next PR

This feature will be fulfilled once PopList is added.

This would be much nicer to see options only of subscribed users from a stream. Will decently try gone include this.

[2019-04-30 17:18] neiljp commented on #147
Closed via #349.

[2019-04-30 17:18] #147 closed

[2019-05-02 00:32] sumanthvrao commented on #326
@zulipbot claim

[2019-05-02 03:25] bistaastha commented on #201
@zulipbot abandon

[2019-05-02 18:20] BenMusch commented on #238
@zulipbot abandon

[2019-05-11 01:32] sumanthvrao commented on #326
@zulipbot claim

[2019-05-11 01:33] sumanthvrao commented on #259
@zulipbot claim

[2019-05-11 04:54] sumanthvrao commented on #330
![](https://github.trello.services/images/mini-trello-icon.png) [Update users automatically](https://trello.com/c/CUyHQpSw/3-update-users-automatically)

[2019-05-11 04:55] sumanthvrao commented on #340
![](https://github.trello.services/images/mini-trello-icon.png) [Floating Recipient Bar](https://trello.com/c/IKc5KuY8/2-floating-recipient-bar)

[2019-05-11 04:56] sumanthvrao commented on #326
![](https://github.trello.services/images/mini-trello-icon.png) [Last 30 messages crash](https://trello.com/c/tjT8F5uo/4-last-30-messages-crash)

[2019-05-15 21:54] neiljp opened #357 "Windows OS support"
Currently ZT does not run in Windows environments, excepting eg. virtual machines running a supported OS. One of the reasons noted for the lack of support is that `urwid` appears to require the `fcntl` call in some cases urwid/urwid#152.

One possible solution involves a cross-platform wrapper such as `portalocker` (available on PyPI and at https://github.com/WoLpH/portalocker). This may need supp

[2019-05-16 03:17] amanagr commented on #351
@zulipbot claim

[2019-05-23 23:49] sumanthvrao opened #360 "Drop support for py3.4 & migrate to py3.5+ code and any new features"
Py3.4 has reached End Of Life, upstream, making it reasonable for us to drop support for it.
This occurs as a result of third party packages (example: pygments, requests) having already stopped support for py3.4 in their latest release (on PyPI).
There are various stages at which we could implement this transition :
* [x] Removing it from CI
* [x] Changing the version requirements/suggestions
* [

[2019-05-23 23:52] sumanthvrao commented on #340
@zulipbot add "UI"

[2019-05-23 23:53] sumanthvrao commented on #340
@zulipbot add "UI"

[2019-05-28 08:22] sumanthvrao commented on #338
@zulipbot claim

[2019-05-29 15:29] amanagr commented on #135
@zulipbot claim

[2019-05-30 00:49] sumanthvrao opened #366 "Handle power/network issues more smoothly."
Currently, when the user:
* Disconnects / reconnects to the internet
* Suspends the laptop

ZT appears to get frozen/stuck. Only a reload seems get it back to the correct state.
This issue is meant to track progress in how we handle such issues (power/network) more smoothly.

[2019-06-01 18:17] #330 closed

[2019-06-03 01:46] neiljp opened #372 "Switching between stream/topic narrows can show different messages"
This was just demonstrated with the recent scheduled czo server maintenance:
* in the #announce stream narrow, I see a "downtime starting shortly" message
* in the corresponding topic narrow (via `z`), that message isn't there, replaced by a "Unfortunately we had to abort" message

I would expect this is an issue with not updating the index, either when just switching narrows, or at some state whe

[2019-06-03 03:30] #201 closed

[2019-06-04 04:58] #340 closed

[2019-06-05 00:33] sumanthvrao commented on #338
@zulipbot claim

[2019-06-05 00:39] neiljp commented on #372
This may be a non-issue related to a data-loss issue when czo was updated and then rolled-back to a backup which didn't have these few messages in.

[2019-06-05 03:14] sumanthvrao opened #376 "Improve displaying of 'quoted' messages."
The way ZT displays "quoted" text is being enclosing it as a single chunk of unindented text. It is difficult to distinguish from the quoted text and the body of the reply. There is further no distinction between different levels of quoting (Quoting a quoted message vs quoting a normal message) .

We may want to look at the way web-app does this here, by using different levels of indentation to di

[2019-06-05 03:17] sumanthvrao commented on #376
@zulipbot add "next major release"

[2019-06-05 03:42] neiljp opened #377 "Support terminal background-transparency"
This was raised by @aero31aero on chat.zulip.org on #zulip-terminal.

The solution may involve setting the background to `''`, or at least this worked for them at the time.

[2019-06-06 04:58] neiljp commented on #376
@sumanthvrao You're working on this now, right?

[2019-06-06 05:00] sumanthvrao commented on #376
@neiljp Yes, I am working on this now. Could you please assign it to me?

[2019-06-06 21:07] rht commented on #288
https://github.com/zulip/zulip/pull/12514

[2019-06-13 16:21] amanagr opened #385 "Make fixtures in `conftest.py` easier to maintain."
A lot of live captured data is present in `conftest.py` which is not used and doesn't really adds to the robustness of the tests or capturing different cases of tests. The goal would be to:
[ ] Remove the unused data.
[ ] Make fixtures cover different cases. eg: Instead of having 3 same type of streams with just different ids/name, convert them into private, pinned, general streams.

This will req

[2019-06-13 16:27] amanagr commented on #385
Some started code I wrote for this:
[code]

We can then use the above users/streams in the api captured fixtures. Then we will have to generate fixtures ( like `user_dict`, `stream_dict` etc. ) which are generated from zt's functions and replace them with the currently available fixtures. This will make fixtures easier to manage and new fixtures could then be easily generated using the same proces

[2019-06-15 09:08] sumanthvrao commented on #259
@zulipbot still working on it.

[2019-06-16 12:32] sumanthvrao opened #391 "Error when starting ZT - No attribute 'update_pipe'."
Sometimes on startup of ZT, an exception with the following traceback:

[code]
This indicates that there is most likely a race condition occurring during startup.

[2019-06-16 16:10] #377 closed

[2019-06-16 17:40] #391 closed

[2019-06-18 01:19] sumanthvrao commented on #376
The first of these - 'Indenting' quoted text based on level of quoting is now merged as e7421af798ada9a6729d5956d0cdeec9865ff9ae and e422fb89eb22f28b7dd08194f24795e3894da671 to reduce spacing at the start of the block-quote messages.

[2019-06-20 00:20] sumanthvrao opened #395 "Improve co-ordination between `append_message` and `get_message`;"
This issue is filed to keep track of developments regarding this:

As of now, we do not append_message unless all the message in the narrow have been fetched. To elaborate, Suppose a user has 20 unread messages, then on startup, ZT fetches 30 old messages and 10 unread messages. Now, if a new message comes in we do not append it to the log (If we did, we would lose out on the other 10 unread messa

[2019-06-21 19:55] neiljp opened #401 "Changing topic of one message via webapp doesn't update later messages"
If a sequence of messages are all in one topic, eg. topic A, message 1, 2, 3, then a topic header is shown for topic A and messages 1, 2, 3 are shown beneath it.

If we receive an event to update the topic of just message 2 (eg. to topic B) then it should show A for message 1, B for message 2, and A for message 3. Currently it seems we change the topic header of message 2, but message 3 doesn't ha

[2019-06-21 20:02] neiljp opened #402 "Improve quoted text rendering (mixing '>' and ```quote ?)"
The following quoted text renders incorrectly (see 'quote zt FAIL' topic on #**test here** on chat.zulip.org).

@sumanthvrao Perhaps a followup PR for you at some point?

The text is below this line, but due to markdown-within-markdown limits, it doesn't appear to work that well.

------

[code]

baz
[code]

[2019-06-21 20:59] neiljp commented on #297
@matrixise I'm closing this for now since we've not heard from you and the help menu is dramatically changed.

If you have other suggestions/ideas, please open another issue or discuss on #**zulip-terminal** on chat.zulip.org.

[2019-06-21 20:59] #297 closed

[2019-06-21 21:04] neiljp commented on #248
I've added a label for tracking the associated issues.

[2019-06-21 21:09] neiljp commented on #366
Another aspect of this: I restarted and connected to a wireless network which required login, and redirected to a 'portal' page. Everything was redirected, and each minute the user-update presumably tried to fetch users. Due to the redirect there was a SSLError with a failed certificate verification. This may be an issue with that feature, or something that we should consider more generally within

[2019-06-22 00:58] sumanthvrao commented on #402
@zulipbot claim

[2019-06-22 02:48] amanagr commented on #401
@zulipbot claim.
I am not sure about how this should work, but I check for sure!

[2019-06-22 03:37] neiljp commented on #401
@amanagr Do you understand the problem?

[2019-06-22 03:41] amanagr commented on #401
Yes.

[2019-06-26 15:27] gzachv commented on #350
I am also seeing it for Ubuntu 18.04, zulip-term 0.3.1, Python 3.6.8.

[2019-06-26 15:51] amanagr commented on #350
@gzachv thanks for reporting. #400 fixes this issue. @neiljp we should do a release after it?

[2019-06-27 01:46] sumanthvrao opened #406 "Color different sender names to improve readibility"
Currently, All the sender names are uniformly colored (with a slight orangish shade). To improve readibility colorizing of sender names randomly could be implemented.

- [ ] `v0` approach  - mark active user name differently
- [ ] `v1` appraoch - randomize coloring of sender names.
- [ ] `v2` approach - Include `identicon` for each user as in the webapp when there is no set avatar.

Discussion reg

[2019-06-27 06:26] neiljp commented on #350
@amanagr This could also be due to the issue fixed by #403.

 @gzachv @hjiang Given the #403 fix is merged, if you are able to try the version from git, you may find it fixes your problem - and also has a lot of updates :) If you do so, please let us know if this does fix the `KeyError` problem.

[2019-06-27 14:34] sumanthvrao commented on #238
@zulipbot claim

[2019-06-28 22:47] neiljp opened #410 "Explore options for races between event-triggered UI-changes & keypresses"
I'm not sure if there is a general phrase for this, but it is a general issue which applies in many UIs: where a user acts so as to perform an action (typically with a keypress in ZT), but the UI itself has *just* updated, so the user ends up performing an unintended action instead.

For ZT (and likely all frontends), this could apply to any situation where a UI change is triggered by a server eve

[2019-06-28 22:50] neiljp opened #411 "Events: Support stream pinning state changes"
Currently the pinned state updated in a different frontend only changes if we restart ZT. While this works for now - ZT is pretty quick to restart, and the stream is just in a different location in the interface - it would be useful to develop this. This would also allow addition of pinning/unpinning UI at a later stage.

This should be rather straightforward to add, though potentially needs consi

[2019-06-28 23:35] feamsr00 commented on #178
Oh hello, let me wipe the dust off here :)

I do have experience as a NF user. I've used it powerline for zsh (via WSL) extensively.

Truthfully the easiest way to get it to work, would be just that, detect if the is available (OS specific of course) and set a display flag to use them instead. As for including\redist the font, I'd either use a system package installer if you intend to use one whic

[2019-06-29 00:26] rht commented on #178
For the powerline setup, IIRC there is a configuration parameter that can be specified by the user, e.g.
``
let g:lightline = {
  \ 'separator': { 'left': '', 'right': '' },
  \ 'subseparator': { 'left': '', 'right': '' }
  \}
[code]

[2019-06-29 00:37] rht commented on #357
Or use WSL for now: https://github.com/zulip/zulip-terminal/issues/178#issuecomment-506905623. Since Dragon NaturallySpeaking (for accessibility purpose, and there doesn't seem to be other viable alternative for dictation?) runs on Windows, this is the only way to run both.

[2019-06-29 03:28] amanagr commented on #357
I use WSL and zt works well without any extra setup on it. I actually test any cross-platform changes on WSL for zt.

[2019-06-29 03:33] amanagr commented on #178
This seems like a good idea to me. We can have a two configs - one with good emoji/glyph support and one without.

[2019-06-29 17:25] #238 closed

[2019-06-30 03:48] sumanthvrao opened #412 "Style in-line emoji :+1: to match styling of its 'reactions' counterpart."
Emojis like :+1:  are displayed as `:+1: ` are displayed without any special styling when used in a message (part of message content). We could potentially display them similar to the reaction :+1: , which get's displayed as `:thumbs_up:` (Shift `+` hotkey used on message toggles a like). We could change the color to match the reactions (one can be ~purple and another can be ~purple, bold)

Conver

[2019-06-30 03:49] sumanthvrao commented on #412
@zulipbot add "good first issue"

[2019-07-04 11:49] TheOneWithTheBraid opened #415 "ASCII/Unicode in-application approximate rendering of images"
It would be nice if received images were rendered in ASCII. Currently, I always need to download them first and render them in ASCII afterwards.

This feature is very important for those users who **really** do not have a graphical Desktop.

[2019-07-04 12:19] amanagr commented on #415
Thanks @JasMich for your feedback. I wanted to have this feature in zt way back, thanks for the reminder.

[2019-07-04 13:51] JasMich opened #416 "Quoting does not work"
I'm not sure if #402 or #239 want to tell the same.

If I type `>` to quote a message, HTML code appears in the reply box instead of markdown.

[2019-07-04 13:53] sumanthvrao commented on #416
Thanks for the report @JasMich. I am working on improving this. :+1:

[2019-07-04 13:55] JasMich commented on #416
Thank you! If you tell me how, I'd like to help as well. (I'm just not so known yet with `zulip-terms` source.)

[2019-07-04 13:55] #416 closed

[2019-07-04 13:59] sumanthvrao commented on #416
@JasMich Definitely! You are welcome to claim this and give it a try.

You can join the Zulip community development server where we have a stream (section) dedicated to the terminal app - https://chat.zulip.org/#narrow/stream/206-zulip-terminal is the link for it. Feel free to join us there.

[2019-07-04 14:03] sumanthvrao commented on #416
@JasMich I am not able to reproduce this. For example,
[code]
Is working fine. Do you have a specific test case?

[2019-07-04 14:06] JasMich commented on #416
No, I mean:

In the current thread, I select a message press `>` to quote the message (which was originally written in MD).

Now, In the reply box, you'll see the HTML code instead of the MD.

[2019-07-04 14:11] sumanthvrao commented on #416
Oh, I think I understood.

The reply box (`compose` box) is supposed to contain the raw `HTML` form of the content, when you quote a message. But when you send the message (With 'Alt' + 'Enter'), it get's rendered into MD.

[2019-07-04 16:45] amanagr commented on #416
@JasMich we have https://github.com/zulip/zulip-terminal/wiki/Developer-Documentation which should help you get familiar with zt's source code. Let me know if you need any help.

[2019-07-05 06:20] neiljp commented on #416
@JasMich #409 includes tests for existing known working and failing tests, so if you do decide to work on this, that should provide some help with fixing this, though of course you'd be welcome to add to those tests too if that would help.

Regarding HTML in the compose box, that should have been fixed in git master, which has many fixes over 0.3.1 - I'm not sure if you stated which version you're

[2019-07-05 14:25] sumanthvrao opened #417 "Set focus for messages sent by 'me'."
When one sends message to a PM, currently the focus remains on the previous message just before the one you sent. In comparison, the web-app sets focus on the most recent message (sent by you).

In streams however, this is not the case and focus remains on the message just above the one you sent. (In the web-app)

For consistency we could make both the behaviours same in ZT.

[2019-07-05 22:20] pranav-kirsur commented on #412
@zulipbot claim

[2019-07-09 14:51] rht commented on #406
![2019-07-09-154629_502x674_scrot](https://user-images.githubusercontent.com/395821/60898212-d96efb00-a260-11e9-865c-756862f7fca5.png)
For the complication with coloration, see the paragraph below on v1.

Haven't found a straightforward way to do this. The entire `MessageBox` is marked as `msg_selected` (and with a default message color otherwise). If only a `Text` object could have a color as an

[2019-07-10 00:45] neiljp opened #425 "Add button to indicate mentions (@theloggedinuser)"
We have most of the webapp buttons available in the UI; it seems logical to add the mentions button too - we even have spare space for it, as it stands :)

[2019-07-10 05:23] neiljp opened #427 "Notify user if hitting ratelimit"
This shouldn't be an issue, if we design ZT correctly, but if we get a certain response from the server then we can perhaps determine it's a rate-limiting issue?

[2019-07-10 05:42] neiljp opened #428 "Limit rate of actions associated with keys that 'toggle' and send to server"
Some keys, such as `+` and `*` (or `ctrl s`) send a message on pressing, and are currently only limited by the rate the keys can be pressed. This likely causes the server to ratelimit ZT, so we should track how frequently this is sent and probably artificially limit the rate that messages can be sent to the server.

Work on this might be related to #427 and general work on improving the resilience

[2019-07-10 20:54] n-cc commented on #415
I don't think ASCII images would be too useful for most people; in order to get any level of clarity, you'd need to have crazy large terminal dimensions. I'd recommend implementing a framebuffer image display, similar to [w3m-img](https://packages.debian.org/sid/web/w3m-img) or [fbi](http://manpages.ubuntu.com/manpages/bionic/man1/fbi.1.html), although I'm not sure how difficult that would be in p

[2019-07-14 04:06] sumanthvrao commented on #222
@omi10859 Are you still working on this?

[2019-07-14 10:09] sumanthvrao commented on #425
@zulipbot claim

[2019-07-17 21:10] #401 closed

[2019-07-18 04:26] sumanthvrao opened #434 "Handle `read_message` events from server."
On most days, I have both web-app and ZT both logged into `chat.zulip.org` simultaneous, open in different windows. Its often that I read messages in ZT and see the messages and unread_counts updated correctly in the web-app. This indicates that `read_message` events from ZT to server are working as expected.

However, When I read a message in Web-app, The unread_counts and the messages remains un

[2019-07-18 22:02] stevenleeg opened #436 "Crashing upon launch in soup2markup"
Hi there,

I just tried installing zulip-terminal via CLI and ran into the following issue after running through the setup prompt:

[code]

This happens each time I try to run `zulip-chat`. Any ideas as to what might be going wrong?

[2019-07-19 00:16] sumanthvrao commented on #436
Thanks for the report @stevenleeg. We have had tonnes of new features and bug report improvements after the last release (`0.3.1`). We are also in the process of doing a `0.4.0` pre-release soon(ish). While I haven't exactly seen similar reports before, based on the traceback, it seems to be an issue with some un-recognised elements while rendering messages content.(Which has improved over time)

[2019-07-19 01:46] sumanthvrao opened #437 "Display '(You)' beside logged-in-user in user list."
It would benefit to mark  users who has logged-in (yourself) with a slightly different style compared to the rest of the users active (marked in yellow). Currently, we distinguish this subtly as the user name is the top name in the list.

One method was to mark `(YOU)` beside the logged in person, which is what the Web-app uses to distinguish. White color would be preferable.

We handle the logic

[2019-07-19 01:52] sumanthvrao opened #438 "Sync unread counts of PMs between All_PM_Buttona and the respective user button."
This is very likely a regression due to recent changes in `user list`. When a new message is sent in a one-to-one PM, the unread count of `All_PM` button is updated immediately. But the unread_count of the user_button for that respective user is delayed for quite some time. Only after waiting, is the user button unread_count also seen to increase.

The possible reason for this behaviour is due to

[2019-07-20 23:30] tarang93ch commented on #437
@zulipbot claim

[2019-07-21 04:25] neiljp commented on #436
@stevenleeg To confirm, are you using git-master, or the 0.3.1 pypi release?

[2019-07-22 11:27] sumanthvrao commented on #438
@zulipbot claim

[2019-07-27 12:28] devkant commented on #194
@zulipbot claim

[2019-07-31 14:09] sumanthvrao opened #445 "Support --autohide flag argument during zt startup."
The current optional arguments ZT supports are the following
[code]
Particularly now that we made `autohide` setting the default standard, we could benefit from a flag which can switch the setting between the two options during startup, rather than having to tweak the zuliprc.

[2019-07-31 16:03] #222 closed

[2019-07-31 16:03] #224 closed

[2019-07-31 17:03] neiljp commented on #436
@stevenleeg It will be difficult to debug this further without more feedback, so please let us know if you are able to do so.

[2019-08-03 13:07] devkant commented on #194
@neiljp I am learning pytest. Do I need to recreate the traceback ?

[2019-08-04 17:12] neiljp commented on #194
@devkant I would suggest reading existing tests which examine/use the stream list.

It was some time ago, but I believe my intent with this issue was to explore why adding the `Divider` initially just appeared to work, but later bugs showed up since of course it was not actually a `StreamButton` and did not have all the same attributes. So, this could be about ensuring that the `Divider` (as well

[2019-08-05 15:20] sumanthvrao opened #448 "TRACKING: Typeahead improvements"
With the v1 implementation of #441 merged, here are a few followups in store :

- [x] Indicating the options one has to auto-complete in the footer (After user pressed `ctrl + f`) (fixed in #540)
- [x] Going back to the previous auto-complete. (fixed in #532)
- [x] Handling conflicts when 2 users have the same full name. (Possibly using `@**Name|User_id**` or email to distinguish) (fixed in #928)

[2019-08-06 17:21] neiljp commented on #372
I'm closing this, as I'm pretty sure this was an issue with a lost message on the server at the time.

[2019-08-06 17:21] #372 closed

[2019-08-06 17:59] neiljp opened #450 "Stream search: Return to previous focus on exiting if not selecting"
This is a long-standing (relatively-minor) issue:
* move the selection to an entry high in the stream list ('Initial stream')
* 'q' to enter stream search
* type some text (list of streams adjusts, depending upon text)
* delete the text
* the stream list is now scrolled to show the bottom-most entry (most visible if you are subscribed to many streams, or have a not-so-tall window)
* hit 'ESC' to e

[2019-08-06 18:13] neiljp opened #451 "TRACKING: Support further editing of topic titles"
There are multiple elements to this issue:
 - [x] A) editing topics of messages is possible after a server-specified time-limit; currently we don't allow any editing after the time limit (just relax the editing constraint?)
 - [x] B) when editing a message topic we should ask users somehow if they wish to edit just the current message topic, or subsequent messages too (replies)
 - [x] C) we should

[2019-08-06 18:18] neiljp commented on #350
@gzachv @hjiang It would be useful if you could report whether the recent release (0.4.0) fixes the problems you had.

[2019-08-06 18:24] neiljp commented on #236
@rht Are you able to comment on the status of this issue with 0.4.0 or master?

[2019-08-06 18:32] neiljp opened #452 "TRACKING: Message rendering bugs/enhancements"
- [ ] #402 : quoting (other cases may be present)
- [ ] Render horizontal rulers
- [ ] Render tables
- [ ] #415 Ascii images
- [ ] #359 PR: Images in the default browser
- [ ] #424 PR: Messages links popup menu
- [ ] #397 PR: Viewing a message in the browser

[2019-08-06 20:26] gzachv commented on #350
I no longer see the problem in 0.4.0.

[2019-08-07 02:42] hjiang commented on #350
Sorry I missed the earlier message. Just did a fresh install. No longer seeing the crash!

[2019-08-07 04:20] neiljp commented on #350
@gzachv @hjiang Thanks for reporting and giving subsequent feedback regarding this issue - I'm closing this given these last two replies, but please don't hesitate to contact us on chat.zulip.org or by opening new issues, if you have other problems.

I hope you enjoy the improvements in the new version, aside from the fixing of this bug!

[2019-08-07 04:20] #350 closed

[2019-08-07 17:33] rht commented on #236
Confirmed fixed by the latest master as of this comment.

[2019-08-07 17:34] #236 closed

[2019-08-07 17:36] rht commented on #236
https://github.com/zulip/zulip-terminal/commit/0944991b979c5d796042eceeb5fd3c90c3583ee4

[2019-08-07 18:23] neiljp commented on #236
@rht How is this relevant?

[2019-08-08 09:36] rht commented on #236
It's a log for which commit was the "latest master."

[2019-08-08 14:02] sumanthvrao commented on #438
@neiljp  @amanagr I did some debugging for this but am not able to figure out why this is happening. The weird thing is the call to `update_count` for the user button is taking place and that too with the correct updated count. the line `self._w = self.widget(count)` in TopButton is being executed also, but for some reason the UI never get's updated.

The problem isn't with calling `update_screen(

[2019-08-09 04:59] sumanthvrao opened #456 "Handle distorted UI on ZT startup - Race bug"
Sometimes on ZT startup, the UI tends to be not fully loaded. These cause gaps (dark patches) in certain parts of the UI like users/stream lists, etc.

A temporary fix for this can be to REDRAW the UI at the end of the startup. However, this is not the correct fix. We must identify why this is happening and fix the race.

![pasted_image](https://user-images.githubusercontent.com/30312566/62755162-

[2019-08-10 06:46] sumanthvrao commented on #448
Update: We support group-autcomplete through e6972b0066946f35461e19bc1c238644767ba084 and 5 after

[2019-08-10 09:12] SophieHau commented on #450
@zulipbot claim

[2019-08-13 14:14] sumanthvrao opened #458 "TRACKING: Message search followups to #430"
With #430, we now alter message search to search for messages in current narrow. This means, if you are in a PM narrow and use `/` to search for messages, we only display results of messages, belonging to that narrow itself. Here are some followups which are possible now that 430 is in place.

Most of the followup here is from brainstorming here - https://chat.zulip.org/#narrow/stream/206-zulip-te

[2019-08-16 21:34] #456 closed

[2019-08-23 11:47] anshuman10398 commented on #445
@zulipbot claim

[2019-08-25 09:22] khizirsiddiqui commented on #437
@zulipbot claim

[2019-08-29 19:59] devkant commented on #194
@zulipbot I am still working on it

[2019-08-31 23:08] neiljp opened #469 "Migrate keypress tests to use keys_for_command"
Current keypress tests use hardcoded tests against specific keys. It would seem cleaner to use `keys_for_command` to both ensure this works for multiple specified keys, and also to automatically update if the standard keys are updated in `config/keys.py`.

This might be able to be simplified by writing an appropriate parametrized fixture.

[2019-09-01 07:47] SophieHau commented on #450
I'm still working on it. Thx

[2019-09-04 18:39] anshuman10398 commented on #445
something else came up, still working on this.

[2019-09-04 18:42] anshuman10398 commented on #445
@zulipbot abandon

[2019-09-06 10:56] devkant commented on #194
@zulipbot  claim

[2019-09-07 16:03] sumanthvrao opened #470 "Add 'year' data when a message more than a year old is displayed."
For messages which date back more than a year old, ZT does not display the year tag in the message box. We could improve the time formating in many ways but adding the year attribute would be a good first step.

There might be potential issues locating the year with the 'star' to avoid it appearing in different locations, so for a basic-version, we can move the star to the right of the date.

A co

[2019-09-10 05:11] khizirsiddiqui commented on #437
@zulipbot abandon

[2019-10-02 17:48] neiljp commented on #338
@shreyamalviya @sumanthvrao @amanagr The current implementation seems sufficient to close this now, though we could have a 'wide' view with streams in a separate column, when the screen width could fit it? We could file that as a separate low-priority issue?

[2019-10-06 07:40] TaranSinghania commented on #437
@zulipbot claim

[2019-10-06 07:53] TaranSinghania commented on #437
@khizirsiddiqui , are you still working on this?

[2019-10-06 08:16] khizirsiddiqui commented on #437
@TaranSinghania no, I'm busy with some other work, won't be able to complete in near future. Feel free to take it up.

[2019-10-09 10:51] TaranSinghania commented on #437
@zulipbot abandon

[2019-10-09 17:15] TaranSinghania commented on #445
@zulipbot claim

[2019-10-10 16:35] blenderskool commented on #412
@zulipbot claim

[2019-10-12 03:56] blenderskool commented on #412
@sumanthvrao To make reactions purple, bold while keeping emojis purple, do I add a separate `reaction` entry in the theme?
Or is it possible to combine two display attributes ('emoji', 'bold') in urwid?

[2019-10-23 08:39] blenderskool commented on #412
@zulipbot Yep, it's on-going

[2019-11-10 11:20] devkant commented on #194
@zulipbot claim

[2019-11-14 21:49] neiljp opened #479 "Toggle styling of reactions to indicate whether user has contributed"
This is visible in the webapp by a slight change to the style when toggling a reaction, and allows awareness of participation in a reaction when returning to older messages.

The idea of including something similar in ZT came from my comment on #476, ie. that we could achieve something similar by toggling the boldness.

This would avoid needing to go into the `i` menu to determine whether you have

[2019-11-26 06:08] telescopic commented on #450
@zulipbot claim

[2019-11-26 14:42] telescopic commented on #450
@neiljp I have solved this issue by re-setting the focus of the "log" object which is an instance of SimpleFocusListWalker defined in the StreamsView class defined in ui_tools/views.py
![Screenshot from 2019-11-26 20-09-37](https://user-images.githubusercontent.com/45061877/69643057-bf577d00-1088-11ea-9fc4-04543bf47506.png)

The application works as expected , however , when i run pytest it seems

[2019-12-01 20:17] neiljp commented on #338
I'm going to close this now, as we have the implementation by @sumanthvrao from GSoC, and further issues could be opened if specific other features are required. If you disagree, please re-open, or chat on chat.zulip.org #zulip-terminal

[2019-12-01 20:17] #338 closed

[2019-12-02 02:09] #351 closed

[2019-12-06 20:08] telescopic commented on #450
@zulipbot  i'm still working on it!

[2019-12-14 08:53] TaranSinghania commented on #445
A little busy with tests currently, will work on it right after.

[2019-12-16 12:43] telescopic commented on #479
@zulipbot claim

[2019-12-18 13:36] subhu12 commented on #470
@zulipbot claim

[2019-12-19 06:37] neiljp commented on #470
@subhu12 Please note that this feature already has a PR active (#484). I have removed the help-wanted tag for now.

[2019-12-19 18:25] telescopic commented on #479
@zulipbot abandon

[2019-12-23 05:49] themechanicalcoder commented on #436
@stevenleeg I got the same error in windows 10 powershell
![image](https://user-images.githubusercontent.com/34737471/71338437-f03aad00-2575-11ea-8235-3493dab5387d.png)</br>
Here is the log file
[zulip-terminal-tracebacks.log](https://github.com/zulip/zulip-terminal/files/3993786/zulip-terminal-tracebacks.log)

[2019-12-24 16:53] blenderskool commented on #479
@neiljp This would be useful. As per #476 I agree with reserving bold styling to show whether a user has contributed to that reaction. We can make reactions a different color altogether in this case.

[2019-12-29 08:37] #470 closed

[2019-12-29 08:43] neiljp commented on #436
@themechanicalcoder The `fcntl` issue in the logfile suggests this is running directly on Windows, which we do not currently support, so it is a crash upon launch, but this is not the same error.

[2019-12-29 08:45] neiljp opened #488 "Explicitly mention which platforms we support in README"
This could be summarized at the top, and maybe in the FAQ section.

[2019-12-29 15:28] preetmishra commented on #488
@zulipbot claim

[2020-01-01 11:45] Milind712000 commented on #437
@zulipbot claim

[2020-01-01 22:58] #488 closed

[2020-01-03 10:58] preetmishra opened #491 "Validate usernames to be email adresses if `require_email_format_usernames` is set to True."
Validation can be done on the username entered by the user according to the value set in `require_email_format_usernames`.
See https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/.5Bminor.20issue.5D.20Rephrasing.20the.20login.20error.20message/near/805059.

[2020-01-03 16:36] preetmishra commented on #491
@zulipbot claim

[2020-01-04 07:00] Milind712000 commented on #437
@zulipbot abandon

[2020-01-13 14:50] kaustubh-nair commented on #434
@zulipbot claim

[2020-01-14 07:05] kaustubh-nair commented on #333
@sumanthvrao This wouldn't happen from the web app since all emojis there are automatically converted to text. I think this is happening from the mobile version. When I try to send unsupported emojis, from my keypad's emoji picker, ZT just recieves it as unicode which it can't decode.
I guess we can have a generic indicator saying that it is an emoji? Like this? :emoji:

[2020-01-14 07:06] kaustubh-nair commented on #333
Or we can try to extract the name of the emoji from unicode using a lookup module. Something like this https://docs.python.org/3/library/unicodedata.html#unicodedata.name

[2020-01-20 09:59] SGeetansh commented on #445
@TaranSinghania Are you still working on this?

[2020-01-20 17:34] TaranSinghania commented on #445
Not right now. Do go ahead.

[2020-01-20 19:18] ADITYA06061998 commented on #434
claim

[2020-01-20 19:24] ADITYA06061998 commented on #434
@zulipbot claim

[2020-01-22 08:23] kaustubh-nair commented on #434
@zulipbot add "help wanted"

[2020-01-22 08:24] kaustubh-nair commented on #434
@zulipbot claim

[2020-01-24 01:27] timabbott opened #493 "Fix heavy load on the /topics endpoint when the terminal app is started up"
See https://github.com/zulip/zulip/issues/13726 for some background on the performance impact of the `GET /topics` query.

The current behavior of the terminal app is to fetch the full topic history of every subscribed stream on startup using the `GET /topics` endpoint.  This is fairly expensive, and not in line with how the webapp works (where we only fetch full/old topic history via "more topics

[2020-01-25 05:25] neiljp opened #494 "Feature: Enable view of stream descriptions"
One possible way this might work is showing this information when `i` is pressed, while a stream name is selected, much like when on a message a pop-up shows information on the message.

The data should be available in the subscriptions in the model, which you can examine based on the fixtures in `tests/conftest.py`, which can also be used to write tests to develop this functionality.

[2020-01-25 09:49] SGeetansh commented on #494
@zulipbot claim

[2020-01-27 13:35] kaustubh-nair opened #496 "Refactor index to better support unread messages"
Currently, very few unread messages are retrieved during initial load. Due to lack of data about unread messages, issues like #434 cannot be solved. Solution is to:

Retrieve around 50k unread messages from server. Add data structures to the index to store info about unread messages, and to prevent retrieval being costly. When marking message as read, remove the message from the newly added data s

[2020-01-27 13:36] kaustubh-nair commented on #496
@zulipbot add "help wanted,enhancement"

[2020-01-27 13:36] kaustubh-nair commented on #496
@zulipbot add "help wanted"

[2020-01-27 13:37] kaustubh-nair commented on #496
@zulipbot claim

[2020-01-29 19:09] som23ya commented on #286
@zulipbot  claim

[2020-02-03 10:56] rht commented on #360
This issue can be closed.

[2020-02-03 20:55] neiljp commented on #436
@stevenleeg We need more information about your setup to debug this, and since we've not heard back in some time then I'm going to close this issue, at least for now. If you can let us know more then please reach out to us on chat.zulip.org (#zulip-terminal) or reopen this or another issue.

[2020-02-03 20:55] #436 closed

[2020-02-11 13:36] preetmishra commented on #445
@SGeetansh Hey, are you planning to take this one? If not, I'd like to work on this.

[2020-02-17 16:31] #494 closed

[2020-02-22 04:15] neiljp opened #508 "Other linters/fixers or tools to improve code style/consistency"
We currently have a reasonable linting setup to run locally and in CI, so this is not highly important,  but worth tracking - and discussing on #zulip-terminal. See the `Linting/formatting` topic for some past discussion.

Note that there are linters and (re/auto)-formatters, and not all tools do both, or cover the same feature-set.

Tools to consider so far:
* **autopep8** (reformats based on pyc

[2020-02-22 04:19] neiljp opened #509 "Stream & Topic search should not just find words/parts at the start"
Examples
* 'test' finds 'test here', but 'here' doesn't (stream)
* '(no' finds '(no topic)', but 'topic' doesn't (topic)

[2020-02-22 16:24] preetmishra commented on #509
@zulipbot claim.

[2020-02-23 15:32] SGeetansh opened #511 "Feature: Enable view of user info"
Just like the stream descriptions, on pressing `i`, while a user is in focus, the full description of the user should pop-up which must include the information available in the `View full profile` section on the web app.

[2020-02-23 15:33] SGeetansh commented on #511
@zulipbot claim

[2020-02-23 21:00] #412 closed

[2020-02-24 01:11] neiljp opened #512 "Indicate whether active user is one of those who have reacted"
Following from #412, we could follow the approach taken in the other front ends and adjust rendering of reactions according to whether the active/current user has reacted to it.

Other front-ends use a different border; we've discussed previously using a different style (color/boldness), but could also do something like adding 'you & ' or ' & you' to the numbers of people reacting.

The current wo

[2020-02-24 01:28] neiljp commented on #360
@rht I think this was previously left open for the remaining element, namely removing python3.4 backwards-compatible entries. From memory, and checking the changelog, this is maybe mainly multiple-unpacking (https://www.python.org/dev/peps/pep-0448/), which I remember having to avoid when we had 3.4 included previously.

Do you know any tools that help with transitions like this?

[2020-02-24 01:31] neiljp commented on #512
This is a duplicate of #479.

[2020-02-24 01:51] rht commented on #360
I doubt there is a tool that caters to a specific PEP change.

[2020-02-24 01:53] neiljp opened #513 "Re-enable configurable background transparency support"
In #378 we allowed the terminal to set the background color, to support transparent terminals.

However, due to the range of terminals and customization available, it is likely better if this is an option rather than assumed by default. For example, some users report that with the default scheme then the background color looks strange - this is likely the default background color from the terminal

[2020-02-24 01:59] neiljp commented on #360
@rht I was meaning for migrating between python versions, like for 2-to-3, but minor versions.

[2020-02-25 01:30] #509 closed

[2020-02-25 06:44] neiljp opened #514 "Use new quoting style"
The webapp now adds an extra line when quoting, by default, with who wrote the quotation and a link to the original message. This is added automatically as extra (editable) markdown/bugdown, so we see this in ZT when someone quotes in the webapp - but we should really do something similar from ZT for interoperability.

[2020-02-25 07:22] neiljp opened #515 "Make help hints context-dependent"
@shreyamalviya did some excellent work on this in #348, which I've rebased against master as of now as the latest commit at https://github.com/neiljp/zulip-terminal/tree/rebased-348-for-contextual-help

That should be able to act as a jumping off point to improve the hints.

It also provides some thoughts for improvements as to where other keys could work.

It would be useful to have this work tra

[2020-02-25 11:23] blenderskool opened #516 "Indicate active stream"
The currently selected stream can be indicated a little differently from the rest of the streams. Few ideas that I have:
- Maybe a specific highlight color
- Making the active stream bold

[2020-02-25 17:07] preetmishra opened #517 "Add support for navigation using keys 'j' and 'k' in help popup menu."
Keys 'j' and 'k' do not work for navigation in the help menu. We should add support for the same.

##### Steps to reproduce
1. Login to zulip-term.
2. Press '?' to popup the help menu.
3. Press 'j' or 'k' to navigate.

##### Screenshot
![Screenshot from 2020-02-24 19-32-33](https://user-images.githubusercontent.com/43616959/75269522-0dfaeb80-581f-11ea-8b7c-53b6edac68c3.png)

[2020-02-25 17:07] preetmishra commented on #517
@zulipbot claim.

[2020-02-25 17:09] preetmishra commented on #517
@zulipbot claim

[2020-02-25 23:07] neiljp commented on #516
@blenderskool I agree we could do this, though we already do show the active stream (or more broadly, 'narrow') at the top of the message list. Do you mean the active narrow being highlighted in eg. the stream list, user list, or whichever other place matches the narrow being shown?

[2020-02-26 06:59] #512 closed

[2020-02-26 10:11] blenderskool commented on #516
@neiljp Yes, the active stream is shown at the top of message list. But I think it's more natural to see the active stream on the sidebar. So that while choosing another stream, you don't have to look away from the sidebar to remind yourself of the active stream.

In the screenshot, we could have something highlighting the `#frontend` while still keeping it at the top of the messages list.

![zt-a

[2020-02-26 10:29] blenderskool commented on #514
@neiljp Can you elaborate more on this?

[2020-02-26 16:42] neiljp commented on #514
The easiest way to compare the behavior is to press `>` when a message is selected in ZT vs the webapp, and note the different markdown/bugdown that is generated by each front-end.

[2020-02-26 16:45] neiljp commented on #516
@blenderskool Right, that's what I suspected you meant, but also note that we'd likely want to do it for all other 'special' narrows that there is a user-interface for - ie. if a topic list is shown, highlight the topic, if in the top-left narrows, highlight those, if a single-user conversation, highlight the user, etc.

[2020-02-26 17:58] blenderskool commented on #516
@neiljp Yeah makes sense. There is already highlighting for the selected message, online users. Maybe a consistent pattern across the layouts could be built based on that.

[2020-03-03 09:18] souravtecken commented on #437
@zulipbot claim

[2020-03-04 23:31] #517 closed

[2020-03-05 15:16] preetmishra opened #521 "Add information about useful pytest's options in the README"
There are a bunch of options that come with `pytest`. They can greatly help to boost up writing, debugging, sanity-checking and evaluating your tests. It would be helpful to update the README to include this in.

You may find it useful to explore `$ pytest --help`.

See also https://github.com/zulip/zulip-terminal/pull/518#discussion_r386720680.

[2020-03-05 15:19] preetmishra commented on #521
@zulipbot add "good first issue" "tests (pytest)"

[2020-03-05 18:49] preetmishra commented on #469
@zulipbot claim

[2020-03-05 19:11] SGeetansh opened #522 "Bug: Dismantling of users list"
It has been commonly observed that due to the rendering of emojis, the user list breaks.

![bug1](https://user-images.githubusercontent.com/43946936/76015942-0388d200-5f42-11ea-8390-8270b2547584.jpeg)

The screenshots attached below indicate the instances when the list breaks even in the absence of emojis.

![bug2](https://user-images.githubusercontent.com/43946936/76016172-5ebac480-5f42-11ea-9d56

[2020-03-05 20:41] hedonhermdev commented on #521
@zulipbot claim

[2020-03-06 14:21] amanagr commented on #522
@SGeetansh Thanks for opening this issue, this issue is known to us and appears to be a problem  in the urwid library in the way they render multi-space characters. However, we are converting emojis into text all the time. I don't know how that emoji was rendered but we will look into it.

[2020-03-06 14:38] ExpandingMan opened #526 "Invalid API Key error on starting"
On starting `zulip-term`, I get the following error immediately after entering my credentials:
[code]

[2020-03-06 16:33] blenderskool commented on #514
@zulipbot claim

[2020-03-06 16:51] SGeetansh commented on #522
@amanagr Is there an explanation for the second image?

[2020-03-07 02:01] neiljp commented on #526
@ExpandingMan Which version are you running?

[2020-03-07 02:06] amanagr opened #527 "Create `users_list` by taking current local time from server insted of user's pc."
If the time on user's pc in not correct, then the `users_list` will have inconsistent behaviour in terms of showing `active/idle/offline` users. We can use current local time from server to correct this issue.

Relevant code - https://github.com/zulip/zulip-terminal/blob/master/zulipterminal/model.py#L501

[2020-03-07 02:12] amanagr commented on #522
Interestingly, it looks weird. I don't think it should have happened in that case.

[2020-03-07 21:23] ExpandingMan commented on #526
Happened to try it on a different machine and didn't get an exception.  Will try to check what's different when I get a chance and let you know.

*Awesome* program by the way!  So cool to have a terminal version available.

[2020-03-07 23:35] neiljp commented on #526
@ExpandingMan Glad you like it. This bug looks a little like a python3.8 issue we had, but it should have been fixed in the latest git version, hence my question on version :)

[2020-03-08 09:09] Ar9av commented on #527
@zulipbot claim

[2020-03-08 13:27] amanagr opened #528 "Integrate Zulint into Zulip Terminal."
Zulip Terminal uses linters like `isort`, `mypy`, `pep8` and pytest for running tests. Integrate all into Zulint and add it to Zulip Terminal.

[2020-03-08 14:24] shivams opened #529 "Uploading/Attaching Files"
How can we attach files with messages? I believe this is not possible right now. Is this possible in future or being worked upon?

[2020-03-08 14:59] Ar9av commented on #527
Do you want me to use an api like `http://worldtimeapi.org/` to fetch the current timestamp and use it in place of `time.time` ?

[2020-03-08 15:00] Ar9av commented on #450
I will start working on this if no one is working on it now.

The stream search focuses on the previous selected item in stream list after pressing `esc` but the stream search does scroll down to show bottom most entry so I will work on fixing that.

[2020-03-08 17:33] preetmishra commented on #528
@amanagr Great! I was going to bring this up in #zulip-terminal, my idea was to add a section in the `README` where we would explicitly encourage contributors to run `isort`, `mypy`, `pycodestyle` along with `pytest` locally before pushing their changes but Zulint seems more plausible. This will greatly help new contributors to make better commits.

[2020-03-08 19:18] SGeetansh commented on #516
@neiljp @amanagr
I think this would be interesting to implement, should/can I work on this?

[2020-03-09 00:28] mregdos commented on #513
@zulipbot claim

[2020-03-09 05:18] amanagr commented on #516
Yes, of course! (You can use `@zulipbot claim` to assign yourself on issues)

[2020-03-09 05:21] amanagr commented on #527
I think our website doesn't depend upon pc's local time to indicate active/offline users. You can look into that if it's not too much of a trouble. @neiljp might have other insights.

[2020-03-09 05:22] amanagr commented on #529
It is not possible as of now and not being currently worked upon.

[2020-03-09 12:22] maanuanubhav999 commented on #286
@som23ya what's your progress on the issue

[2020-03-09 13:35] ExpandingMan commented on #526
Yeah, it's the latest version of `zulip-term` that is fetched by `pip` in both cases, but it's crashing on Python 3.8 and working on Python 3.7.

[2020-03-09 17:46] SGeetansh commented on #516
@zulipbot claim

[2020-03-10 07:30] kaustubh-nair commented on #445
@zulipbot claim

[2020-03-10 17:33] preetmishra opened #533 "TRACKING: Migrate tests using hard-coded keys to use keys_for_command."
@neiljp In #523, we migrated keypress tests to use keys_for_command but there are still few other tests that use hard-coded keys. This issue serves the purpose of tracking that.

I grepped the code with `keypress` to see what tests still use hard-coded keys. I am listing out those here.
- [x] While we migrated a bunch of keypress tests in #523, there are a few which still use hard-coded keys.
- [

[2020-03-10 17:39] preetmishra commented on #533
The `mouse_event` implementations only support up and down ([example](https://github.com/zulip/zulip-terminal/blob/013f898cb4cfc21f80f05fc78d86b8b1e3c32f61/zulipterminal/ui_tools/views.py#L410)) but the `keys_for_command` for `GO_UP/DOWN` also have `k/j`.

[2020-03-10 17:47] preetmishra commented on #533
@zulipbot add "tests (pytest)" "further discussion required"

[2020-03-10 19:34] preetmishra commented on #515
@neiljp I pulled the https://github.com/neiljp/zulip-terminal/tree/rebased-348-for-contextual-help and played with it a bit. I was able to show `stream_list` keys whenever the user presses `q` to search streams.

It is a good jumping-off point though I am not sure in what context should we display keys from `general`, `navigation` and `searching` categories?

[2020-03-10 20:05] neiljp commented on #526
When you say 'fetched by `pip`', I assume you mean a `pip install zulip-term`? That should install version 0.4.0.

You *might* be able to fix this issue by manually upgrading the `zulip` package to the latest version, since that was where the python 3.8 issue was present.

The current version of git master is 133 commits ahead of 0.4.0, so may automatically resolve this issue, if you use that inst

[2020-03-10 20:09] neiljp commented on #469
Thanks to the work of @preetmishra in #523 this issue has been resolved :+1:

[2020-03-10 20:30] neiljp commented on #533
@preetmishra The `mouse_event` code is a little special, as most typically are delegating to the `keypress` methods, eg. it mimics `GO_UP` or `GO_DOWN`.

It is possible that we (or a user) might remove the `up` or `down` keys from `keys.py`, so we should probably rectify the code to use one valid key from the keys instead, which we can then test.

[2020-03-11 00:26] neiljp opened #536 "Exiting search from filtered Stream/User list should reset PanelSearchBox"
This seems to work fine with topics, but not with streams/users?

To reproduce:
* enter search box (w or q, or probably clicking in the box too)
* enter search text
* press 'enter' to go into the filtered list
* press 'esc' to clear the search

Expected: The search box resets (to show eg. `Search [q]:`)

Actual: The search box shows the old text - the previous hint that this was a search box is lo

[2020-03-11 00:40] neiljp commented on #450
@telescopic You fixed this for the stream search, I believe; do you intend to expand this to topics and maybe users? Please let us know ASAP, so that someone else can work on it. if you have WIP code that you don't intend to use, then you could push it to a WIP/draft PR so that someone could build on it.

@Ar9av Thanks for the interest in the project and this issue :+1: Come chat in #zulip-termina

[2020-03-11 01:25] neiljp commented on #528
@amanagr I favour bringing zulint into the project, but at least initially my preference would be to use it for additional linting.

We could then discuss integrating it with the others later. I enjoy seeing different linting pass/fail in CI, and if zulint supports splitting linting elements up I feel that integration could be useful, though I'm not sure if including pytest fits.

This is related

[2020-03-11 03:52] preetmishra commented on #536
@zulipbot claim

[2020-03-11 09:21] kaustubh-nair opened #538 "Validate commands that can have only a single key"
Commands like `autocomplete` can support only a single key, due to restrictions by the `urwid_readline` package. We want to ensure that the user does not specify multiple keys, on commands like these.

[2020-03-11 09:21] kaustubh-nair commented on #538
@zulipbot add "enhancement"

[2020-03-11 10:37] preetmishra commented on #528
The text in the README is pretty descriptive already though I think it might be useful to add a redirect link to the README (or maybe add a section) in the message that @zulipbot comments whenever someone claims any issue for the first time.

[2020-03-11 17:05] preetmishra commented on #533
@neiljp I have proposed an implementation in #539  that uses `keys_for_command` to solve this.

[2020-03-12 05:59] kaustubh-nair commented on #448
Update: Going back to previous autocomplete added through 74369b197bcce46e57266bde8d22550cf4cf47bc

[2020-03-12 14:12] ExpandingMan commented on #526
Yes, it's the version fetched from `pip`, but I've yet to run the latest version.

[2020-03-13 17:20] neiljp opened #541 "Typeahead doesn't initiate with some characters before trigger character"
For example, it may be common to have `(#**some stream**)` in a conversation, or similarly with users. Currently this does not work, presumably because the `(` excludes the text from matching autocomplete?

The webapp allows this in some cases, but for example doesn't with emails, as you might expect (`foo@ba<ctrl-f>`, for ZT) since that could be an email, presumably.

We should probably check the

[2020-03-13 22:34] preetmishra commented on #541
@zulipbot claim

[2020-03-14 03:06] #536 closed

[2020-03-15 02:48] #445 closed

[2020-03-15 18:27] souravtecken commented on #209
This issue could be addressed using the additions in #468, the count could possibly be left, and the mute indicator could be added via  `postfix_caption`.

[2020-03-15 19:04] neiljp opened #543 "Allow scrolling of large single messages"
Depending on the size of the terminal window, which in turn limits the size of the message list area, certain large messages cannot be viewed in full.

If only a part of a message is being displayed, then we could probably respond to up/down as scrolling through the message only, or perhaps have slightly different keys to do so? We might not want to jump to the next message by 'accident', which co

[2020-03-15 20:15] neiljp commented on #209
@souravtecken Good point; the question is whether we want to spare extra characters for this (using something like in #520 , or vary it with a different style.

[2020-03-16 13:14] preetmishra commented on #543
The way Zulip's web app handles long messages is by limiting the size of the message (that is going to be displayed in the narrow) and using a `[More...]` button.

I think it'd be a good idea to imitate this behavior in ZT. We could limit the message size and append 'Press `m` to see more' to the message, where pressing `m`  would launch a scrollable full message pop-up.

[2020-03-17 06:20] neiljp opened #544 "Inventory styles and ensure they are appropriately used & named"
I'm pretty sure that we currently re-use some style names for elements which are un-related (eg. unread counts). This is mostly harmless, though confusing to read in the code, and now that we use more styles it would be useful to have a clearer idea of which are used and for what purposes.

The end result might involve having descriptive comments next to each entry in `required_styles` (if the nam

[2020-03-17 13:55] kaustubh-nair opened #545 "Check if a user's package versions are consistent with those specified in requirements"
Users running the development version of the app might have outdated packages if the packages are upgraded in subsequent commits.
While starting up, ZT should check if the package versions are the same, and display a warning/error if there's some mismatch between the installed and required versions.

[2020-03-17 20:39] neiljp opened #546 "Message copy[/paste]"
At least within my terminal, copying a message using terminal selection does not work across multiple lines, as it also selects text in one or both of the side bars.

While we could work around this temporarily using autohide, it would be useful to be able to copy selected message(s) independently of how the UI is set up.

This could be for quoting in another stream, or external to ZT.

A feature

[2020-03-17 21:04] neiljp opened #547 "Document intentional design choices where different from webapp/mobile"
This issue has some overlaps with the idea of having tutorials or extra documentation along these lines, but my thought for this issue would be a small section in the README indicating eg. how ZT is keyboard driven and only incidentally mouse-accessible (for now), and other related design choices/constraints.

Most aspects of ZT have tried to remain similar to the webapp, but it would similarly be

[2020-03-17 21:24] neiljp commented on #546
This also has potential connection/usage-with #352

[2020-03-17 21:36] neiljp commented on #515
@preetmishra I think we could probably add some contexts, like you've indicated, without needing to achieve a complete solution straight away.

However `general` mostly applies everywhere, though ctrl-l is a duplicate (so confusing) and ? will just draw that character in edit mode (search boxes, compose boxes).

It is possible that we will want to separate the help description from the actual cont

[2020-03-17 23:42] neiljp commented on #526
@ExpandingMan Thanks for letting us know. If you do run the version from git and confirm this is no longer an issue then we'd love to hear about it :)

[2020-03-18 06:48] preetmishra commented on #515
@neiljp I am not sure if I understand the separation bit properly. Could you give an example?

Regarding `esc` and other similar keys, we can append the context we're in to change its help text dynamically. For instance, if we're in a write box, we can say 'Go back from the write box'.

Should I proceed with adding some contexts which seem apparent right now?

[2020-03-19 18:13] blenderskool commented on #514
@neiljp I am unable to find where the bugdown is getting generated. Any suggestions?

[2020-03-21 20:17] neiljp opened #551 "Going through results of a search which is "empty" looks confusing"
Currently we appear to treat an empty search string the same as regular ones, which is confusing since on 'enter' it shows an empty search box and jumps to eg. the full selection of streams, leaving the search box blank.

Solutions may be to treat 'enter' with an empty string:
* the same as 'esc', ie. that an empty string search should cancel the search (and return somewhere?)
* the same as 'esc',

[2020-03-21 20:25] neiljp opened #552 "Show search-key & prefix in search boxes if search is enabled"
We conveniently show the keys to jump to search boxes, and when typing text it should be clear that this is filtering the results, or maybe just after pressing 'enter', also hopefully obviously.

However, once the search is enabled, ie. the list of items are filtered, we should probably show the key at the end of the box again, though the actual search text of course will not include this key text

[2020-03-22 03:32] kaustubh-nair commented on #552
@zulipbot claim

[2020-03-23 07:52] mregdos commented on #513
@zulipbot claim

[2020-03-24 07:42] SGeetansh commented on #516
@zulipbot claim

[2020-03-24 07:54] kaustubh-nair commented on #552
@zulipbot abandon
Will take it up after finishing current prs

[2020-03-24 10:01] stratosgear commented on #526
Same issue running with python 3.8 from an arch box.

What is the easiest way to install latest version (>0.4.0) without recreating the whole development environment?

Thanks!

[2020-03-24 16:44] preetmishra opened #557 "Explain how to do a topic search better."
We already have keys for how to switch to topics view `t` and then do a search `q` mentioned in the README and the Help (ZT) separately. However, it can potentially be challenging for someone who is trying ZT for the first time to figure out how to do a topic search.

It would be good to have this documented.

[2020-03-24 20:14] neiljp commented on #526
@stratosgear You could try `pip3 install git+http://github.com/zulip/zulip-terminal.git@master`, which should install a snapshot of the current master.

[2020-03-24 21:59] neiljp commented on #557
From your experience, do you think this would be sufficient by slightly extending the help menu and README, or require more than this?

[2020-03-25 01:13] sumanthvrao commented on #448
Update: We support auto-completing emoji names with 150a0fafd4f98700dfffce9ff3adfb69b379e049 and one after.

[2020-03-25 05:04] kaustubh-nair opened #558 "Download emoji list from server"
We currently use a list of emojis from zulip's repo to display emoji typeahead. These emojis maybe different for different servers, hence they need to be downloaded from `static/generated/emoji/emoji_codes.json`

We will require a public API endpoint for downloading this; a little bit of discusstion is present here https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Getting.20emojis.20f

[2020-03-25 05:05] kaustubh-nair commented on #558
@zulipbot add "enhancement"

[2020-03-25 05:14] kaustubh-nair opened #559 "Support adding general reactions to messages"
With https://github.com/zulip/zulip-terminal/pull/525 merged, we should be able to added all kinds of reactions to messages from ZT, we currently support only `:+1:`

For a v2 version, this can also extended to display the suggestions in the footer, once https://github.com/zulip/zulip-terminal/pull/540 is merged

[2020-03-25 05:14] kaustubh-nair commented on #559
@zulipbot add "enhancement"

[2020-03-25 09:18] kaustubh-nair commented on #448
Mentioning the emoji download issue here https://github.com/zulip/zulip-terminal/issues/558

[2020-03-25 19:06] preetmishra commented on #557
I think it would be sufficient to extend the help menu and README. Where do you think this note can be added under `Searching` or `Stream list actions`?

[2020-03-25 23:31] neiljp commented on #557
We could adjust the help text to indicate that it only activates streams or topics.

@sumanthvrao Do you have a thought, since you implemented this? We could combine the two keys, if we're keeping the UI like this for the moment.

[2020-03-26 02:07] sumanthvrao commented on #557
I think we can show some contextual help when a user focuses on streams (to press `q` to search for stream names) and when he toggles topic view (to press `q` to search for topic names).

Besides this, I think rephrasing the help text (combing both seems fine) can also be done.

[2020-03-26 13:18] preetmishra opened #560 "Display unread count for muted streams."
Currently, we only display `M` for muted streams. It would be better to show unread count for muted stream.
We can potentially add a different style (faded like the web app) for muted streams as well.

#### Screenshot for comparison
Note: The test here is muted.

Web app:
![Screenshot from 2020-03-26 18-40-32](https://user-images.githubusercontent.com/43616959/77651014-3434b800-6f92-11ea-853a-70ea

[2020-03-26 13:21] preetmishra commented on #560
@zulipbot add "enhancement"

[2020-03-26 13:22] preetmishra commented on #557
@zulipbot add "documentation"

[2020-03-26 13:37] preetmishra opened #561 "Add additional keypresses for `GO_BACK` keypress tests for popups."
Currently, the `GO_BACK` keypress tests for popups test whether a popup closes when the `GO_BACK` key is pressed. However, this behavior can also be triggered with the respective trigger command keys (`i` for info views and `?` for help) for popups.

We should add these extra command keys in tests along with `GO_BACK` and rename the tests as well (since it would not be testing just the `GO_BACK` k

[2020-03-26 13:37] preetmishra commented on #561
@zulipbot add "tests (pytest)"

[2020-03-27 18:07] preetmishra commented on #522
This is a duplicate of #333.

[2020-03-27 19:02] neiljp commented on #560
This is probably a duplicate of the remaining element of #209.

[2020-03-28 16:14] kaustubh-nair opened #566 "Don't update unread counts for PMs whose view is open"
Ran into this while working on https://github.com/zulip/zulip-terminal/pull/548
We don't have code to handle PMs with open views, like we do for streams. This leads to invalid unread counts. Like in this screenshot, the unread count is -1
![DeepinScreenshot_select-area_20200328213735](https://user-images.githubusercontent.com/30197132/77827623-cbd60a00-713c-11ea-8445-36bffd733210.png)

Steps to re

[2020-03-28 16:14] kaustubh-nair commented on #566
@zulipbot add "bug"

[2020-03-29 00:39] neiljp opened #567 "Consider changes needed/possible when Python3.5 reaches end of life"
Possible changes at this point, once we remove support for Python 3.5:
* Remove explicit `zipp` version from install files (pinned as it dropped 3.5 support already)
* Migrate type comments to type annotations for variables (automate this?)
* Migrate to f-strings where appropriate (automate this?)

Current end of life (EOL) will be 2020-09-13 according to https://devguide.python.org/#status-of-pyt

[2020-03-29 01:07] neiljp commented on #566
If I'm following this correctly, I can't reproduce this. This is with me chatting with my own bot.

However, I can reproduce this issue if the PM view is **not** open.

Could you describe more what you think the problem relates to?

My suspicion is that it is something which would be resolved with correct handling of the `unread_message` data, as in your open WIP PR.

[2020-03-29 19:13] kaustubh-nair commented on #566
Hmm, I'm not able to entirely pinpoint the exact issue here, maybe @sumanthvrao would have a better idea?

[2020-03-31 01:56] sumanthvrao commented on #566
I tried reproducing the issue with my bot, but am not able to. Neither when PM view is open nor when it's not open. 😕

[2020-03-31 02:13] sumanthvrao opened #570 "Enable stream settings view to toggle common stream settings"
Currently, the web-app has the following stream settings commonly accessible:

![image](https://user-images.githubusercontent.com/30312566/77979400-372d0100-7322-11ea-8d4f-b0f60ffe5806.png)

Such a view is much needed in ZT and will help toggle simple stream settings with ease. Currently out of all the stream settings, we only support mute stream with the hotkey (`m/M`).

The tasks here can be bro

[2020-04-02 11:08] kaustubh-nair opened #574 "Handle setting unread count for muted topics"
Marking muted topics as read decreases count in its respective stream. This could lead to negative unread counts in the stream.

Steps to reproduce:
1. Mute a topic.
2. Receive messages in the topic.
3. Mark the messages as read.
4. Unread count in the stream should decrease.

[2020-04-02 11:09] kaustubh-nair commented on #574
@zulipbot add "bug"

[2020-04-04 03:48] neiljp opened #575 "Filter/emphasize users who are in the present narrow"
I feel this has been discussed in the past, but couldn't find a reference to an issue.

When in a narrow other than all-messages, we should limit the display of users to show those in the narrow, much like the webapp makes the display of out-of-narrow users.

We could take the approach as in the webapp, or simply filter the users.

For private streams, we definitely should just filter to users - t

[2020-04-04 03:59] neiljp opened #576 "Add a key to undo editing (and maybe other aspects)"
This would probably be just in the editor for now, useful for accidentally deleting words/lines/everything via shortcut keys for example, but could be extended to 'undo' exiting a compose box (related to drafts v0?) or maybe editing a message (with a confirmation popup?)

Since we don't use ctrl-z for suspend, this key could be used, unless we want to support suspend in future?

[2020-04-04 05:51] kaustubh-nair commented on #576
@neiljp We already support a basic version of undo provided by `readline` which can be used to undo accidental deletions. (I believe the shortcut is `ctrl + _ ` ). We should probably add this to the help text, and even change the default shorcut key. This should make a good first issue

[2020-04-04 12:57] preetmishra opened #577 "Separate pinned and unpinned streams while searching."
We already use a divider to separate pinned and unpinned streams in the streams view. However, we don't add a divider while showing the search results at the moment.

We would want to have a divider at both times to address the distinction.

[2020-04-04 12:58] preetmishra commented on #577
@zulipbot  add label "UI" "enhancement"

[2020-04-04 12:59] preetmishra commented on #577
@zulipbot add "UI" "enhancement"

[2020-04-04 20:39] neiljp commented on #576
@kaustubh-nair Right; one aspect from an enhancement to `urwid-readline` which we discussed with them was how we could expose their key-mapping to allow generation of part of the help menu automatically in this way, though this has not been attempted.

[2020-04-05 23:28] neiljp opened #578 "Show number of starred messages next to button"
The webapp shows the number of starred messages, in a different style to that of unread counts, and we should likely do something similar.

This could be a good first issue.

[2020-04-05 23:53] neiljp opened #579 "Use/support user ids in preference to emails where possible"
Historically the server/API used only emails as identifiers. This is no longer the case, and rather ids are preferred, for many reasons.

User emails are generated on a per-org basis, so use of emails should still work (?), but we should probably move towards ids.

See https://chat.zulip.org/#narrow/stream/127-integrations/topic/emails.20in.20API/near/834961

[2020-04-06 13:42] kaustubh-nair opened #580 "Invisibile selection bar on exiting search"
Trying to go to any of the side-panels after an unsuccessful search doesn't show the selection bar.

Steps to reproduce:
1. Search for something that has no matches.
2. Press `h` or `l` to go to one of the side-panels.
3. Selection bar is missing. (However the selection bar reappears when pressing `j` or `k`)

[2020-04-06 13:42] kaustubh-nair commented on #580
@zulipbot add "bug"

[2020-04-07 17:26] preetmishra opened #581 "Users View's border breaks for empty tables"
For these cases, the `render_table` (in `zulip-terminal/ui_tools/tables.py`) seems to return the appropriate markup but the last vertical bar, for the second row, doesn't show up while rendering the content in the `MessageBox` and the Users View's border breaks.

Examples: https://chat.zulip.org/#narrow/stream/7-test-here/topic/table_render/near/848979 and https://chat.zulip.org/#narrow/stream/7-t

[2020-04-07 17:26] preetmishra commented on #581
@zulipbot add label "bug"

[2020-04-07 17:27] preetmishra commented on #581
@zulipbot add "bug"

[2020-04-07 17:55] preetmishra opened #582 "TRACKING: Table rendering enhancements"
With #550 merged, we now support rendering for tables in `zulip-term (ZT)`.  The mentioned PR inscribes the building blocks for the support, however, there's still room for refinements.

- [ ] Support inline-table styles.
- [ ] Support multi-line cells.
- [ ] Introduce a mechanism to handle tables for narrow screens (tricky).

[2020-04-07 17:57] preetmishra commented on #582
@zulipbot add "message rendering" "UI" "enhancement"

[2020-04-08 13:17] neiljp commented on #581
A workaround for this is to ensure that the source for a cell is not 'empty', but we should check if a similar issue applies elsewhere and if this is a general fix we need to make which make cause other UI corruption.

[2020-04-08 13:41] neiljp commented on #227
@rht I think we're much closer to a situation where this is reasonable or feasible. To clarify, you're essentially talking about user-customizable 'bookmark' buttons? These could be specified in some local configuration, saved from a particular search 'result', or another method. Does that fit what you had in mind? If so, I think we should update the title to reflect this.

[2020-04-08 17:23] neiljp commented on #402
There is another issue with this, visible here:
https://chat.zulip.org/#narrow/stream/127-integrations/topic/Semaphore.20webhook.20broken/near/849794
(ZT only adds an indent to the last line of the quote, though does style it all appropriately)

[2020-04-09 04:03] rht commented on #227
Nah, it was just an example application, which can be put into another issue. What I want is raw API request to the server.

[2020-04-09 07:14] neiljp commented on #425
This is complete, since the remainder of #433 (written over the Summer by @sumanthvrao) has now been reviewed and merged.

[2020-04-09 07:14] #425 closed

[2020-04-09 17:11] neiljp opened #585 "Review/Explore/Child mode (don't mark as read)"
If I understand the proposal correctly from the summary, this is less of an issue in ZT right now compared to the webapp, but there has been discussion of having a mode in the webapp to 'see messages without marking them as read':
https://chat.zulip.org/#narrow/stream/137-feedback/topic/Trick.20to.20see.20messages.20without.20marking.20them.20as.20read

While I don't think this is a priority, this

[2020-04-09 18:47] neiljp opened #586 "Recipient box typeaheads/autocomplete (streams)"
We should add support for autocomplete/dropdown in recipient boxes, that is at least:
* [ ] 'To' (PM)
* [x] 'Stream' (stream)
* [x] 'Topic' (topic)

Particularly the first of these is high priority, as otherwise one has to copy/paste someone's *actual* email address - eg. try using `x`. This is equivalent to searching for a user and pressing enter (as a workaround), but even if we removed this fun

[2020-04-09 18:53] neiljp opened #587 "Show & autocomplete PM recipient names & emails"
Currently only emails are shown in PM 'to' fields when sending a message. The server is moving towards hiding emails optionally or fully (preferring user-ids, see #579), but even if this was not the case, while showing email addresses is unique, email addresses don't always easily translate to an obvious name.

The simplest (if verbose) solution to this would be to do something like in email, ie.

[2020-04-11 03:34] neiljp opened #588 "Alert word handling"
We can discuss options for this, but possible ideas could include:
* [ ] Notify when an alert word is used (if narrow is not muted) [as in webapp]
* [ ] Button for alert words? Showing unread alerts? Hotkey? [not in webapp]
* [ ] Ability to configure alert words, possibly via using `i` on the button? [webapp uses settings]

[2020-04-11 07:41] kaustubh-nair opened #590 "Handle editing of mentions"
If someone mentions a user and later edits the message to remove the mention, ZT should appropriately handle the edit to remove the message from the mentions narrow. This should also be accompanied by a decrease in unread counts.

[2020-04-11 08:03] kaustubh-nair commented on #590
@zulipbot add "enhancement", "bug"

[2020-04-14 06:52] preetmishra commented on #522
@zulipbot add label "duplicate"

[2020-04-14 06:52] preetmishra commented on #522
@zulipbot add "duplicate"

[2020-04-14 08:00] kaustubh-nair opened #593 "Send typing event to server"
We support receiving and handling of typing events, but sending the event from ZT needs to be added.

If further information required, refer to conversation at https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Typing.20endpoint/near/846537

[2020-04-14 08:49] kaustubh-nair commented on #593
@zulipbot add "enhancement" "good first issue"

[2020-04-14 08:49] dmig-alarstudios commented on #526
@neiljp requirements are broken:
[code]

[2020-04-14 17:32] neiljp commented on #526
@dmig-alarstudios Just fixed in master in e3f9014f6. The next release will have this support too.

[2020-04-15 05:02] neiljp commented on #585
This has been at least partially discussed at https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/child.20mode/near/853184

[2020-04-15 05:08] neiljp opened #595 "Add 'reactions' button/narrow"
Similar to the 'mentions' narrow (via button/hotkey), showing messages in which you're mentioned, the 'reactions' (or some related term) narrow would show messages you wrote which have been reacted-to.

The equivalent enhancement in the webapp is zulip/zulip#14578.

This requires a backend change to enable.

[2020-04-16 08:37] neiljp commented on #559
Marked this as high priority, since this is something users likely switch to another front-end for (eg. webapp)

[2020-04-17 03:38] neiljp commented on #526
This should be fixed not just in master, but also in the just-released 0.5.0 release, now available on PyPI.

[2020-04-17 03:38] #526 closed

[2020-04-17 04:01] neiljp opened #598 "Add 'responses' ('following') button/narrow"
Similar to the 'mentions' narrow (via button/hotkey), showing messages in which you're mentioned, the 'my messages/threads/responses' (or some related term) narrow would show messages you wrote which have been responded to.

Related main repo links:
* https://github.com/zulip/zulip/issues/6605 [issue: my/sent/recent topics = my messages?]
* https://github.com/zulip/zulip/issues/12309 [issue: repli

[2020-04-17 04:56] neiljp commented on #570
It's worth noting that an 'unsubscribe' feature is useful, but perhaps should be accompanied by other work to allow subscribing too, to avoid accidentally doing something in ZT which cannot be recovered in ZT.

[2020-04-17 05:26] neiljp opened #599 "Reactions can show differently in multiple places"
Some reactions appear to show differently below messages and in the message-info box - and also possibly compared to in the webapp (on hover, for the name).

This looks confusing and like a major bug, even though it typically shows at least a similar reaction, so we should probably figure this out - it just looks bad.

This may be related to data which we don't directly have? @kaustubh-nair

[2020-04-17 05:36] neiljp commented on #451
Particularly (C) is high priority, to allow us to rename full topics within ZT.
A related bug is that if a topic is renamed in the webapp, we don't handle updating the topic list @sumanthvrao

[2020-04-19 03:00] neiljp commented on #567
Automation of some aspects can be made using:
* https://github.com/asottile/pyupgrade - with appropriate parameters (f-strings & others)
* https://github.com/ilevkivskyi/com2ann - (comments to variables)

[2020-04-19 11:06] neiljp opened #601 "Support setting default color depth in zuliprc files"
Following #563, we can further add support to set the default color depth via zuliprc files.

This touches only a small part of the codebase, though may require adapting if the tutorial work is merged.

[2020-04-19 11:46] neiljp opened #602 "Improve 16-color fall-back colors for streams"
Currently these are left empty, which can result in strange behavior - in some instances I've seen this show up with invisible text?

At best, we end up with white text for `#` and `P` prefixes - but also the same (not inverted) styles for the stream colors in the message-box stream/topic bars.

If we can't degrade the colors nicely, we could at least try to:
* Show *some* color for each stream (a

[2020-04-19 11:57] neiljp opened #603 "Improve monochrome theme / Add inverted theme?"
With #563, monochrome support is much improved, for a truly high-contrast (or retro!) experience.

However:
* Can we improve the 'colors' used for each style? There are very few combinations available, of course!
* Currently in 1-bit (monochrome) color-depth, every theme is identical, as having many 'themes' makes little sense in this context; however, we could have a 'light' (inverted) style, per

[2020-04-19 18:08] preetmishra opened #604 "Amend help text to indicate new autocomplete support for emojis"
With #525 merged, Zulip Terminal now supports autocomplete for emojis. However, the help text doesn't reflect this change.

This should be pretty straightforward to fix (for related code, look in `zulipterminal/config/keys.py`).

##### Screenshot:
![image](https://user-images.githubusercontent.com/43616959/79695831-9f726100-8296-11ea-96bb-79e2aa29fa37.png)

[2020-04-19 18:08] preetmishra commented on #604
@zulipbot add "enhancement" "good first issue"

[2020-04-20 05:05] neiljp commented on #604
This is a good first issue, but we should fix before the next release; I'm going with 'high priority' for now.

[2020-04-20 05:54] mregdos commented on #599
I tried adding some random reactions via webapp and I am seeing the same reactions both below messages and within message-info box in ZT. Do you have an example of incorrect behavior?

[2020-04-20 06:11] kaustubh-nair commented on #599
@mregdos try `:fingers_crossed:`
This is likely caused due to the `emoji` package we're using.

[2020-04-20 06:17] preetmishra commented on #599
@mregdos You can see this test -https://chat.zulip.org/#narrow/stream/7-test-here/topic/test.20reactions/near/85559, in particular.

[2020-04-20 06:54] preetmishra commented on #599
Related conversations:
* https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/.3Acrossed_fingers.3A/near/848945
* https://chat.zulip.org/#narrow/stream/3-backend/topic/Mismatch.20between.20emoji.20and.20reaction.20names/near/855678

[2020-04-20 08:58] #604 closed

[2020-04-20 10:23] neiljp opened #606 "Wrong rendering of reaction removal if multiple already present"
* Find a message with multiple thumbs-up
* Toggle thumbs-up (+)
* Toggle again

One of those last two, depending on your previous thumbs-up reaction to that message, currently completely removes that reaction from being rendered - and would probably do the same for other reactions when we add that feature in future.

[2020-04-20 10:23] neiljp commented on #479
I have an active solution for this, but have found a bug to fix in the meanwhile (#606) which is leading me to improve some of the tests first.

[2020-04-20 12:11] preetmishra opened #607 "Handle narrowing to empty streams in a better way"
Currently, narrowing to empty streams makes the selection bar disappear. Moreover, it is difficult to make out why nothing is being shown in the MessageBox.

**To reproduce**:
* Navigate to an empty stream (e.g. Django on chat.zulip.org).
* Press enter.

We could try imitating the web and the mobile app that show a rather informative message, when narrowed, for these streams.

Another aspect, rela

[2020-04-20 12:12] preetmishra commented on #607
@zulipbot "enhancement" "help wanted"

[2020-04-20 12:13] preetmishra commented on #607
@zulipbot add "bug"

[2020-04-20 12:14] preetmishra commented on #607
@zulipbot add "bug"

[2020-04-21 07:44] kaustubh-nair commented on #606
@neiljp I can reproduce this but not all the time.
Sometimes it leads to different behaviour
This is what happens:
*  Find a message with multiple thumbs-up
*  Toggle thumbs-up (+)
* Toggle again to remove thumbs-up
* Previous thumbs-ups remain, but now I cannot add my thumbs up again.

[2020-04-21 17:32] neiljp commented on #607
@preetmishra This may be resolved by a relatively early PR (#278) from @sumanthvrao? That PR has been sitting around without getting merged for too long, but should be good as a starting approach after rebasing and final reviews. We could potentially take a different approach, of course.

[2020-04-21 17:39] preetmishra opened #609 "Render italic text differently than bold text"
Currently, we use `msg_bold` for bold and italic text. While this does differentiate the two from the rest of the message, the distinction between these two remains unaddressed.

We could try using 'italics' setting from `urwid`. However, if we choose not to go with that (due to support concerns), we could try adding a new style in `themes.py` that provides a notable distinction.

[2020-04-21 17:42] preetmishra commented on #609
@zulipbot add "message rendering" "UI" "good first issue"

[2020-04-21 17:43] preetmishra commented on #607
@zulipbot add "bug"

[2020-04-21 17:47] neiljp commented on #609
Before we implement this, note that the theming is possibly more complex than initially expected: this needs to cope with not just bold *or* italic, but also bold *and* italic - and so potentially the style needs to easily overlap with bold, or we would need two extra themes (which is a bit less clean).

[2020-04-22 08:44] #599 closed

[2020-04-22 09:13] andreas-bulling opened #611 "Invalid API key"
Hi,

I followed the installation instructions but trying to login to the latest version of zulip on our own server using zulip-terminal results in the following error

[code]

Both the desktop app and the browser login work.

What's strange: When I download the zuliprc from "Settings" the API key is the right one/the same but the email address is different. It's not the one shown in the account de

[2020-04-22 09:20] amanagr commented on #611
If you remove your `zuliprc` file, you will be asked to input your `email` and `password`, along with `realm`, can you try login using that? It will also generate a zuliprc file for you. Remember if you haven't setup your password for the zulip account, you can do so by using reset passwork on browser.

[2020-04-22 09:24] andreas-bulling commented on #611
That's what I did first - didn't work. Then I downloaded the zuliprc file from "Settings" and noticed the differences. That file also doesn't work though. I definitely have a passwort - it comes through LDAP and works when logging in using the desktop app/browser

[2020-04-22 09:44] amanagr commented on #611
Can try creating an account on chat.zulip.org and see if it works? In case it works, this maybe a problem with your org. In that case, please describe your org and the zulip version it is running on.

[2020-04-22 22:23] neiljp opened #613 "Make list of themes available explicitly"
Currently, users likely use just the default theme, unless they examine the source to see the themes in `config/themes.py` - and that will be buried in a virtualenv somewhere, most likely.

Improvements we should likely make include at least:
* include a mention of themes somewhere in the README
* add a command-line option to list the known themes (`--themes`, or perhaps the more obvious `--list-t

[2020-04-23 06:46] neiljp opened #616 "Fetch & indicate server version (& 'feature level')"
It would be useful to show the server version - whether in the title or in some 'about' type box?

The side effect of us fetching this data, is that it should also make available the `zulip_feature_level`, as added in this commit: https://github.com/zulip/zulip/commit/e3b90a5ec86e426f4fa27e372e47655428927ca5

That in turn should make handling newer features, and migration of API versions, easier o

[2020-04-23 07:46] neiljp opened #617 "Maintain position in topic list when toggling topic list"
When we enter/leave the topic list, we currently reset the focus in the topic list to the top - even if previously it was some distance down the list.

I'd suggest we want to maintain focus instead, perhaps even when moving between different streams and back again? (at least, within one ZT session)

For implementation, this will involve storing the state when last in a stream (if there is any), on

[2020-04-23 09:02] neiljp commented on #543
@preetmishra This looks like a reasonable first approach at the very least.

This has come up again, since I realized it might be useful to have for wide text, like with code blocks, for which https://github.com/zulip/zulip/pull/14706 may be relevant.

[2020-04-23 09:27] neiljp opened #618 "List links at end of message (and/or in popup?)"
There is already an existing older PR for listing the links in a message in a popup and handling them (and would benefit from being broken into smaller commits). Discussion in #**zulip-terminal** in the 'links' topic suggested the approach below as an alternative or additional route to take, and in any case extracting the links may be useful for both cases (check that discussion first in any case)

[2020-04-24 09:33] #283 closed

[2020-04-24 09:45] neiljp opened #620 "Indicate if a user-activated operation failed"
Currently many operations such as starring, reacting, sending messages - all just fail with no feedback if the server fails to respond.

If just for debugging purposes, we should at minimum show a simple popup (as a v1) to indicate to the user that something has failed, and potentially in what way.

We could then extend that into a general approach to this subsequently, unless we have a strong fee

[2020-04-24 18:14] preetmishra opened #622 "Links that break into a new line don't get recognized completely"
Whenever any link gets broken into a new line, hovering the mouse over them only recognizes the first line, the one with 'https://', as a link.

This behaviour makes these links invalid to use (e.g. opening the link in any web browser).

**Screenshots**:

![image](https://user-images.githubusercontent.com/43616959/80242648-4c781f80-8683-11ea-858a-dd934482ebb8.png)

![image](https://user-images.git

[2020-04-24 18:15] preetmishra commented on #622
@zulipbot add "further discussion required"

[2020-04-24 19:03] preetmishra opened #623 "Show message formatting tips"
The web app has a section under keyboard shortcuts that shows a list of message formatting help tips. This, in particular, is helpful for users that are relatively new to markdown syntax.

It would be good to make it context-dependent.

Conversation link: https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Message.20formatting.20tips

**Screenshot**:

![image](https://user-images.github

[2020-04-24 19:15] andreas-bulling commented on #611
I just had to use a different email address. This is currently a bit confusing, I find, as there is the actual one from LDAP and the userX@hostname one Zulip creates

[2020-04-24 19:15] #611 closed

[2020-04-24 19:17] preetmishra opened #624 "Don't mark as read on search narrows"
Like the web app, ZT should not mark messages as read on search narrows to deliver a better and intuitive user experience.
This should be a good starting point for implementing any 'not-reading' behaviour in ZT (see #585).

Conversation link: https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Not.20marking.20read

[2020-04-24 19:18] preetmishra commented on #624
@zulipbot add "enhancement" "help wanted"

[2020-04-24 19:20] preetmishra commented on #623
@zulipbot "enhancement"

[2020-04-24 19:20] preetmishra commented on #623
@zulipbot add "enhancement"

[2020-04-25 01:31] #561 closed

[2020-04-25 07:27] #360 closed

[2020-04-25 08:07] neiljp commented on #611
@andreas-bulling Glad you managed to resolve this :+1: However, which email address did you have to use? The Zulip one? This may be related to a new feature in the server which hides email addresses and replaces them with local ones for privacy reasons, depending on how the server is set up - so it would be good to know what was necessary and what your server setup is. We can update the documentat

[2020-04-25 16:13] andreas-bulling commented on #611
I had to use the real one, i.e. the one from LDAP. I just tried - this is independent from whether the server is configured to hide email addresses or not.

[2020-04-25 17:20] #479 closed

[2020-04-26 09:27] neiljp opened #628 "Show loading screen in urwid, not terminal"
The open PR #457 has an ambitious aim to add a tutorial and change settings while the rest of the application is loading.

Independently of showing the tutorial or anything else, the first stage towards achieving the goal of features like in #457 would be to transition from showing the loading message and spinner in the terminal, to showing it in an urwid widget.

[2020-04-26 16:05] preetmishra opened #629 "Long stream/topic names break WriteBox"
Assuming that stream/topic names are generally short, this could be a low-priority issue, though is worth tracking.

**Screenshots**:

![image](https://user-images.githubusercontent.com/43616959/80312705-51181180-8804-11ea-9d28-f608faefd3db.png)

![image](https://user-images.githubusercontent.com/43616959/80312726-67be6880-8804-11ea-8af9-4b5ce71a96fc.png)

[2020-04-26 16:05] preetmishra commented on #629
@zulipbot add "enhancement" "further discussion required"

[2020-04-26 20:54] neiljp commented on #629
By break, do you mean the line-box formatting?

[2020-04-27 03:29] preetmishra commented on #629
Yes, the lines, they don't look good aesthetically.

[2020-04-27 08:23] neiljp opened #631 "Add alternative login methods"
As of writing, we only support email/password login, or via a downloaded zuliprc file.

Mobile supports other/related login approaches, which are possibly (via a file from the mobile repo):
      dev: true,
      github: true,
      azuread: true,
      google: true,
      ldap: true,
      password: true,
      remoteuser: true,

There was a mention on czo by @timabbott that this would take a sma

[2020-04-30 13:03] neiljp opened #638 "Expand search support beyond narrow+keywords"
The full search feature available from a Zulip server is rather general, as listed here:
  https://zulipchat.com/help/search-for-messages

Exploratory searches using eg. `sender:me` shows that currently these do not just get passed through and work right now, and are just treated as keywords. However, if in a narrow, we *can* search for keywords within it - this corresponds to eg. `stream:design k

[2020-04-30 17:26] preetmishra opened #639 "Allows user to set defaults in zuliprc from CLI"
It could be a bit inconvenient and intimidating for our end-users to locate and update `zuliprc` for ZT's default settings like notifications, themes, etc.

We could introduce an argument to update (e.g. `--set-default`) to support the mentioned behaviour.

However, with #628 we would need to approach this differently.

[2020-04-30 17:27] preetmishra commented on #639
@zulipbot add "enhancement" "further discussion required"

[2020-05-01 19:13] neiljp commented on #567
Also https://github.com/jacktasia/fstringify for %-style strings to f-strings, but I'm not sure we really use this much.

[2020-05-02 11:40] osa1 opened #642 "Negative number of new messages in a topic"
See the screenshot (`Salsa q` line). Observed in http://rust-lang.zulipchat.com/.

![Screenshot_2020-05-02_14-39-28](https://user-images.githubusercontent.com/448274/80863144-dd05bf80-8c82-11ea-8eed-650043a82e42.png)

[2020-05-03 00:00] neiljp commented on #642
@osa1 Thanks for the report! Could you confirm which version you are using? (`zulip-term -v`)

We're aware of this bug, which has been present previously but would then present as the stream suddenly appearing muted instead of having a negative total.

[2020-05-03 00:04] osa1 commented on #642
[code]

[2020-05-03 00:10] neiljp commented on #220
Showing individual and group PMs by order of most recent is a definite important feature to incorporate - identifying previous conversations can be challenging otherwise.

While the popup approach does work as a v1, we should clarify further how we may want to take this in a better-integrated future iteration, as ways to integrate "topic-like" behavior have been discussed in #**zulip-terminal**, a

[2020-05-04 16:32] neiljp opened #646 "Support mark-all-as-read events"
This is not something I run into often, but I just marked a topic as read in the webapp, and nothing occurred in ZT. I assume this is since we ignore the `'all'` part in the `'update_message_flags'` event handler.

The format of the event needs to be determined for these kinds of events - do they still send all message ids, or is `'all'` a substitute for that? How is the `'all'` specified, in term

[2020-05-04 16:43] kaustubh-nair commented on #646
+1
This could possibly be contributing to #642 too, along with our lack of read event handling for muted topics (#574)?

[2020-05-04 17:02] neiljp commented on #646
This should only fail to reduce the counts in ZT (ie. not reduce them too far, ie. negative), since this is for read-flag event handling, and - at least currently in Zulip - messages cannot be marked as un-read.

[2020-05-04 17:52] preetmishra opened #647 "Footer gets updated as many times as the edit key is pressed on any uneditable message"
Steps to reproduce:
* Move focus to any message that you can't edit
* Press e multiple times
* Press any other key to trigger the behaviour

[2020-05-05 01:24] neiljp commented on #647
To clarify, for me it updates the footer multiple times with different help hints, after the error message stops being displayed.

[2020-05-05 01:25] neiljp commented on #647
Also, this doesn't require the last key for me - just wait, and it will update the bottom bar rapidly after the timeout.

[2020-05-05 02:04] neiljp commented on #628
A related benefit of this approach is that a view should definitely be present *first*, so we can remove a lot of workarounds which were likely added in case the model loaded before the view was fully present (`hasattr` checks, typically).

See eg.
https://github.com/zulip/zulip-terminal/pull/635#discussion_r419813914

[2020-05-05 10:08] neiljp opened #648 "Migrate away from supporting theme aliases?"
In #612 we migrate theme names and add an alias table which allows the old names to continue working.

This issue is to track whether in future we remove this theme aliases dict - possibly in one major release first as a fatal error at loading, indicating more strongly that the theme should be replaced (or automatically updated in the file, or other location?) - and then in the next significant re

[2020-05-05 14:33] kaustubh-nair commented on #647
@neiljp @preetmishra What is the expected behaviour here?

[2020-05-05 18:27] preetmishra opened #650 "Add support to test if the notifications were configured properly"
For developers, it is handy to use bots or the development server to test if the notification are configured properly. However, as an end-user, it could be inconvenient to ask people to send you texts to test your configurations.

A v0 could be a CLI option like `--test-notifications`. Although, we would need to discuss the UI area wherein this could go later.

[2020-05-05 18:28] preetmishra commented on #650
@zulipbot add "further discussion required"

[2020-05-06 17:20] preetmishra opened #651 "Update zulip-term screenshot in the docs"
`zulip-term` has changed remarkably, particularly the UI, over the past months. We should reflect its improved look and feel in the `/docs/getting-started.md`.

Potentially, we could try captioning, where we mention `zulip-term --version`, the screenshot and updating it with every new release.

[2020-05-06 17:21] preetmishra commented on #651
@zulipbot add "documentation" "good first issue"

[2020-05-06 17:25] preetmishra commented on #647
@kaustubh-nair The footer text should only get updated once after the timeout.

[2020-05-06 18:28] neiljp commented on #647
Agreed, this seems fairly obvious from manual testing.

[2020-05-06 18:44] neiljp commented on #651
@preetmishra This definitely could be worked on, but this is sort of a duplicate of #286, and we could link to the same image in `/docs/`.

We need to think about what `getting-started` is for - perhaps it should be the jumping off point for a user tutorial?

Automation of the image for #286, and of synchronizing the hotkey tables from `keys.py` (which has an issue too?) is then a followup.

[2020-05-07 07:28] preetmishra commented on #616
@neiljp Would an 'about' popup, that gets triggered by a key, be good? We could list it in the help menu.

[2020-05-07 07:34] preetmishra commented on #588
@neiljp We don't markup the alert words differently (like the web app) currently, right?

I can see my alert words in 'green' in the web app but not in ZT.

[2020-05-07 07:51] neiljp commented on #588
Agreed - added to list; we basically don't do anything with alert words right now.

[2020-05-07 14:28] neiljp opened #652 "Clicking on a compose-triggering location cancels current compose"
While this could be considered resolved if we had a drafts feature where messages were saved in these situations, this could still be as confusing as it feels now:

* Start replying to a message (eg. stream, PM), and type some text
* Click on any message in the message list, or a user name in the right (which also narrows!)
* ...and the message is lost

While clicking on a user name *might* be rel

[2020-05-07 14:33] neiljp commented on #616
Right, by 'box' I meant popup :+1:

[2020-05-08 12:22] preetmishra commented on #616
@zulipbot claim

[2020-05-10 16:18] preetmishra commented on #566
I can't reproduce it, either with PM opened or closed, using the dev server (on latest `master`).

[2020-05-10 16:35] preetmishra opened #654 "Tidy up white space in StreamInfoView"
The mentioned popup/view show a blank line after the content which isn't as pleasing to look at. We could either remove the blank line or add a blank line at the top for consistency.

For comparison, look at the help menu (it doesn't have any unnecessary blank lines).

[2020-05-10 16:36] preetmishra commented on #654
@zulipbot add "further discussion required" "UI"

[2020-05-11 07:16] neiljp commented on #624
This might also include where we 'jump' to another narrow in a way that the user is unsure what they will see, equivalent to going to a 'near:' narrow in the webapp?

[2020-05-11 17:06] neiljp commented on #654
While we can tidy this, I think really what we can do with this is extend this popup to show more information generally, and also use it as a location for less common (or all) stream actions, ie #570.

[2020-05-12 08:15] neiljp commented on #428
For the record, this should include repeatedly scrolling beyond the end of known messages, which also hits ratelimits.

[2020-05-12 08:23] neiljp commented on #450
@telescopic @Ar9av This issue appears to be resolved in the current master branch (and soon 0.5.1), so I'm closing this. If you are interested in extending this, please open another issue/PR or chat on chat.zulip.org. Thanks!

[2020-05-12 08:23] #450 closed

[2020-05-14 13:48] preetmishra opened #658 "Stream names don't get rendered for streams that don't have any description"
To reproduce:
* Navigate to any stream that doesn't have any description (e.g. 'Django')
* Press `i`

[2020-05-14 13:49] preetmishra commented on #658
@zulipbot "bug"

[2020-05-14 13:49] preetmishra commented on #658
@zulipbot add "bug"

[2020-05-15 13:13] aditya-sarkar441 commented on #651
@zulipbot claim

[2020-05-15 13:16] aditya-sarkar441 commented on #651
Where is the documentation which is to be updated ?

[2020-05-15 16:15] aditya-sarkar441 commented on #651
I have sent a pull request after updating the screenshot. Kindly check.

[2020-05-16 02:53] neiljp opened #661 "Updating topic list while in topic search adds topic even if it doesn't fit the search"
* Go to topic list (eg. in test here)
* Search for very specific topic
* Wait for a new test message (or add one via another client), which doesn't have a matching topic
* See the topic list update with the additional 'wrong' topic

[2020-05-16 03:01] neiljp opened #662 "Add list of working terminal emulators (per platform?)"
Given the issues we've had with colors on different terminal emulators, I thought it'd be good to work on a list of those which work fine, and those which don't.

Currently work well: (except issue with 16-color streams)
* xterm
* uxterm (see xterm)
* gnome-terminal (@preetmishra @neiljp, https://help.gnome.org/users/gnome-terminal/stable/)
* iterm2 [mac] (feedback from @sumanthvrao)
* kitty (feed

[2020-05-16 12:07] aditya-sarkar441 commented on #286
@zulipbot claim

[2020-05-19 07:34] #286 closed

[2020-05-19 07:34] #651 closed

[2020-05-19 15:19] kaustubh-nair commented on #628
@zulipbot claim

[2020-05-20 09:07] myii opened #666 "Notifications should match the settings in the webapp (e.g. stream-based notifications)"
This issue was discussed in this topic:

* https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Debug.20notifications

The culmination of which was:

[2020-05-25 02:01] neiljp opened #671 "Long message recipients are not shown in narrow windows"
This is most notable with many PM recipients or with long stream/topic names. The recipients are still shown in the 'current messages recipients' box, but not in the list of messages. This is troublesome in stream, all-pm and presumably all-message narrows, where these headings are relied upon to understand which messages are in which narrow, within a wider/broader narrow (eg. messages in a given

[2020-05-25 02:25] neiljp commented on #671
Note that this is visible not just in very-narrow windows - which may not be very common - but also with quite wide windows but with long stream/topic combinations or very long lists of PM names.

[2020-05-27 01:21] #671 closed

[2020-05-30 23:10] #658 closed

[2020-05-31 17:49] neiljp commented on #666
Current status of notifications:
* nothing if you wrote the message
* always PMs
* streams if mentioned/wildcard-mentioned (all/groups), or if stream setting says want desktop notifications (from #669)

Features to add: (check vs webapp implementation)
* [ ] Don't notify if a stream message and stream is muted (user mentions override?)
* [ ] Don't notify if a stream message and topic is muted (use

[2020-06-02 14:47] sumanthvrao commented on #302
We might want to take this up after Zulip/Zulip#3775 is implemented and an API call is available for the same.

[2020-06-02 17:57] kaustubh-nair opened #674 "Notify user if a message edit fails"
Message edits are time-constrained. If a user opens a message for editing and the limit exceeds while he edits then they should be notified for the failed edit.

[2020-06-04 00:52] neiljp commented on #642
@osa1 This has improved somewhat with a recent change in master, but is not fully fixed.

[2020-06-05 09:35] kaustubh-nair opened #676 "Write keypress tests for WriteBox"
`WriteBox` is missing tests for keypress events like `SEND_MESSAGE, GO_BACK`, etc

[2020-06-08 10:15] alfonsrv opened #677 "zulip-term crashes when trying to send private message from user list"
Just installed `zulip-term` from the repo. When trying to send a private message to a user from the user list, it crashes with the following error:

[code]

Selection is done with navigating on the user in the user list using arrows and then pressing enter to try and initiate a private message.

[2020-06-08 10:17] alfonsrv opened #678 "make zuliprc a dot-file"
Following the configuration of other terminal-configuration files, the default `zuliprc` file should be called `.zuliprc` without having to explicitly specify it using the `-c` switch.

[2020-06-08 10:23] alfonsrv opened #679 "Lookup user's email address during first login"
When using another backend for authentication (e.g. LDAP) the login name is not always the eMail address, but sometimes an ActiveDirectory attribute like `sAMAccountName`.
While the Zulip server can do the translation from `sAMAccountName` to `eMail`, `zulip-terminal` uses the login name when building `zuliprc` instead of looking up the user's email. So the configuration ends up looking like this: