[2020-06-08 10:39] alfonsrv opened #680 "make it possible to rebind keys"
In Terminal on macOS `Ctrl + d` closes processes, while everything including the `Meta` key (aka `Alt`) is translated to a special character instead, hence making the `zulip-terminal` client a read-only client on macOS if the native Terminal configuration is not altered.

This could also help prevent `tmux` collisions by giving users the freedom to choose their key-bindings freely.

[2020-06-08 17:27] meelanp commented on #676
@zulipbot claim

[2020-06-08 17:28] meelanp commented on #551
@zulipbot claim

[2020-06-08 17:30] meelanp commented on #551
@zulipbot claim

[2020-06-08 17:33] kaustubh-nair commented on #676
Hey @meelanp thanks for taking this up.
Just a pointer that `tab` keypress tests are already written in #675, so you only need to cover `SEND_MESSAGE` and `GO_BACK` :)

[2020-06-08 17:59] neiljp commented on #677
@alfonsrv Thanks for the bug report! This error existed previously but was only made evident by a recent refactoring commit exposing this issue. Are you able to test if the commit I just pushed to a branch fixes your issue?

[2020-06-08 18:22] neiljp commented on #680
This is actually possible by editing the `keys.py` file in the source distribution, though granted this is not straightforward or sustainable with upgrades. We have discussed the issue in the context of an appropriate key for sending messages previously, including in #294 . Do you have any thoughts given that discussion?

[2020-06-08 19:30] alfonsrv commented on #680
Editing the `keys.py` file indeed does not seem sustainable over the long run. If you ask for my opinion, I think a seperate `[keybindings]` section within the config would be desirable.

We could either work with a `prefix` – such as tmux, e.g. `C-z` (`^Z`) (is not used by default for any application I know of) – and then `s` for send. I think that behavior while indeed having a steeper learning

[2020-06-08 20:43] neiljp commented on #680
I agree that making keybindings configurable outside of the source is the long term solution, and we could reserve this issue for that.

Given the ongoing debate over #294, setting sending keys in particular seems like the priority for now, whether as a configuration option or resolving the problem in another way. I recommend we discuss this aspect in that issue, and also in #**zulip-terminal**. T

[2020-06-09 01:40] sumanthvrao commented on #680
@alfonsrv A hack which worked for me with Mac OS was to toggle this setting under `Terminal > preferences > Profiles > Keys` from `Meta` to `ESC+`

Note: I use iTerm2 terminal emulator and not the default one.

![image](https://user-images.githubusercontent.com/30312566/84096690-2c78a180-aa20-11ea-95f5-093a705cb53d.png)

[2020-06-09 08:11] alfonsrv commented on #680
@sumanthvrao as mentioned initially, I do not want to adapt my native Terminal to a product; it should be the other way around. Thanks for the suggestion tho!

@neiljp well as mentioned regarding #294, `^z` or `^l` could be a god global alternative. regarding #662; colors work fine in native Terminal under `tmux` – automatically choosing dark theme even.

[2020-06-09 15:11] neiljp commented on #680
@alfonsrv `ctrl + L` is a readline key (clear text) and also is known as a screen-redraw key in terminals. `ctrl + Z` is the suspend key which we don't support right now but could support in future, so I'm wary of using it for such a significant key as sending messages. Selecting a good 'standard' is not as easy as it appears!

[2020-06-10 14:47] kaustubh-nair opened #682 "Restrict sending messages to announcement streams"
`is_announcement_only` flag is present in `model.stream_data`. The user should be notified ( in the footer ) if they don't have permissions to post to the stream.

[2020-06-11 12:13] preetmishra commented on #616
@zulipbot I am still working on it.

[2020-06-11 18:59] #654 closed

[2020-06-12 09:39] preetmishra opened #684 "Enhance the general popup styling"
We could improve the general popup styling to make popups stand out a bit more from the rest of the view.

This may involve a bit of experimentation, exploration and discussion with the team. Feel free to drop a message in [#zulip-terminal > Popup Styling](https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Popup.20Styling) about your design proposal. The related conversation should be

[2020-06-12 14:36] neiljp commented on #684
Anyone interested in this is also welcome to drop here some screenshots showing alternative designs which we can discuss and give feedback on.

[2020-06-12 15:06] neiljp opened #687 "Show text form of emoji in user full names"
Text forms of emoji/unicode are currently shown in messages and reactions, but if a user happens to have one in their user 'full name' then this is not handled right now. This triggers the behavior where the display can be corrupted by multi-width characters - a bug believed to originate in urwid.

To 'clean' the output of full names it would therefore be good to convert any emoji to the expanded

[2020-06-12 15:32] neiljp commented on #679
This may be a variant of #631

This could potentially be correlated to #611

@alfonsrv Have you had any success with any logins from an account other than with an email+password? My understanding from what would be required for #631 is that we'd need server support for at least some variations of that, but the situation may be simpler than I expect.

[2020-06-13 05:59] preetmishra commented on #606
I suspect that the reason is the following code block in `model.py`. There are two key issues here:
* it removes all the reaction (we could warrant a `break`),
* it removes whichever reaction it finds first (the comment has an explanation).

https://github.com/zulip/zulip-terminal/blob/7bc9da6c7d762f93554b26abb434f6a65ce68f79/zulipterminal/model.py#L840-L844

[2020-06-13 20:59] alfonsrv commented on #679
It is very much related to both of these issues. I'm not sure if I'm missing something here, but the way `zulip-terminal` handles logins, especially looking at #631 seems unnecessarily over-engineered.

Let me elaborate. Zulip server identifies all users no matter the backend using their email address. That means applications interacting with the API do not have to be concerned about what backend

[2020-06-13 21:06] alfonsrv commented on #680
I see. Well as previously suggested I think life would be much easier if shortcuts were prefixed or if keys were more accessibly rebindable using the `.zuliprc` config.

As for the theme – whenever I am in `tmux` it seems to default to the `zt_dark` theme, even though it is not specified in the configuration file. Sorry I had to blur most of it out, but I'm sure you get the idea https://imgur.com/

[2020-06-14 19:28] timabbott opened #688 "Add support for spoilers"
See https://github.com/zulip/zulip/pull/15281; we recently added markdown support for the `spoilers` feature, and it'd be valuable for zulip-terminal to at least not display the hidden text by default.

[2020-06-15 00:17] neiljp commented on #688
@timabbott Thanks for filing this, I appreciate the heads-up.

At absolute minimum for v0 I'd expect us to hide the spoiler content, perhaps providing a link to the message on the server, though that's not necessary?

I'd suggest one v1 approach might be to integrate this with implementing a fix for #543 (for 'large' messages), showing the 'full' text in that view. That does combine two use-cases

[2020-06-15 07:19] kaustubh-nair commented on #676
@meelanp are you working on this?

[2020-06-15 12:30] amanagr opened #690 "Support receiving message ids to delete in bulk."
After https://github.com/zulip/zulip/commit/cda7b2f5393b803f521f45f566b520ebcd9b8d20, client can specify if it supports bulk deletion of messages via passing `bulk_message_deletion = True` in [client_capabilities](https://chat.zulip.org/api/register-queue#arguments) on `/register` request.

See [`do_delete_messages` in action.py on zulip/zulip](https://github.com/zulip/zulip/blob/cda7b2f5393b803f5

[2020-06-15 16:59] meelanp commented on #676
@kaustubh-nair My apologies, I had a bit of a delay before being able to work on it but I am looking at it now. To clarify, is this task just to work on the FIXME's in test_boxes.py? I am also just now getting accustomed to the code, so it may take a bit. If this is no longer a good first issue i can select another task. Let me know.

[2020-06-15 17:07] kaustubh-nair commented on #676
@meelanp No problem about that, I pinged you because I'm looking at fixing this in one of my topic improvement PRs since there might be changes to the current codebase.
Picking another first issue sounds good, sorry for the inconvenience. Feel free to ping me if you need help :)

[2020-06-15 17:35] meelanp commented on #676
@kaustubh-nair Will do!

[2020-06-15 19:17] #662 closed

[2020-06-15 19:21] neiljp commented on #662
This is now merged/fixed via #689 - if other terminal emulators are tried, or there are updates on the status of them, please discuss this in the stream or open issues.

We can also open issues for different emulators regarding some issues, perhaps, such as the color support.

[2020-06-15 19:29] neiljp commented on #690
@amanagr Thanks for reporting this, though this is very heavy on the server details rather than the API :)

My understanding is that this issue is currently moot as we don't currently handle `message_deleted` events. So, while this will be an important factor to consider when supporting that event, this itself is not a high priority. I'm inclined to reduce the priority accordingly.

[2020-06-16 22:27] neiljp commented on #679
My understanding is that historically we simply assumed users would provide a `.zuliprc` file - which can be downloaded from the webapp settings area for every user - before adding the ability to generate such files via username/email+password, depending on server settings. That assumes the user account on the server is configured with a password, which isn't always (initially) the case if using e

[2020-06-17 00:44] timabbott opened #691 "New markdown feature: Mention a time"
We added a new markdown syntax, `!time(2020-06-18T17:32:00-07:00)`, that is meant to be a timezone-aware time displayed to all clients in local time (using the same mechanisms used in the timestamps in Zulip messages).

There's likely some discussion that will happen on how these should be rendered; my current leaning is that we should put a clock icon/emoji at the start of the pills.  But what's

[2020-06-17 04:36] imnitishng commented on #682
I am taking up this issue.

[2020-06-17 07:25] kaustubh-nair opened #692 "Change behaviour of 'z' on broad narrows"
Currently, `z` hotkey works as a toggle between stream and topic narrow. As a consequence on pressing `z` on all-messages/all-mentions/starred it works the following way: all-messages > topic > stream > topic
We want to change this to a zoom in - zoom out behaviour so that if a user presses `z` while on all-messages ZT goes to topic narrow and, pressing it again takes them back to all-messages

[2020-06-17 19:18] kaustubh-nair commented on #448
Follow-up: Add support to automatically show typeahead suggestions based on prefix string triggers.

[2020-06-17 21:47] neiljp commented on #682
This issue could be followed up with investigating any limitation on initiating private messages if they are disabled in organization settings https://www.zulipchat.com/help/restrict-private-messages
We may want to confirm this feature is final first, however.

[2020-06-17 22:52] ExpandingMan opened #694 "key error in `helper.py` on start"
On starting `zulip-term` I get the following error
[code]
As you can see, this is with Python 3.8.  This is on manjaro with zulip-term 0.5.1 installed via `pip`.

[2020-06-17 23:45] neiljp commented on #694
@ExpandingMan Do you have a lot of streams/organizations on your server? Is this on zulipchat.com? That's a high stream id!

Regarding the specific bug, my suspicion is that we're not handling the case where you were initially subscribed, gained unread messages, then unsubscribed, so the unread details don't appear in that dictionary.

As a workaround, if my suspicions are correct: if you recently

[2020-06-17 23:59] ExpandingMan commented on #694
If the stream ID's are ordered rather than hashed, then I suspect the stream ID itself is in error.  This is on `julialang.zulipchat.com`, I don't think we have a particularly high number of streams.

If I'm understanding what you're saying correctly, it sounds like there is some stream which I am unsubscribed from on which I have unread messages and that you think this somehow leads to the error.

[2020-06-18 00:16] neiljp commented on #694
While there may not be many streams on the julialang zulip, the ids could be higher since this is on `zulipchat.com`, by my understanding.

I'm not sure how comfortable you are with the source and/or python, but from the code this would be in the `Model`, in `self.initial_data['unsubscribed']`, though I haven't worked with that data significantly. If you did a `print(...)` of that near the end of

[2020-06-18 01:50] ExpandingMan commented on #694
I was going to hop in to it with a debugger, look what's going on and let you know.  Unfortunately, I'm finding Python environments to be just as irritating as ever and simply running from the cloned repo without doing anything else resulted in a rather spectacular crash of the entirety of X windows that required a display server restart, so not quite sure what happens there.

Anyway, most likely

[2020-06-18 02:47] neiljp commented on #694
Oh wow, that's not good! Maybe down to the debugger using lots of memory? Just a guess.

[2020-06-18 03:04] ExpandingMan commented on #694
No nothing like that, something with alacritty goes haywire I think.  Might be worth trying again, I wouldn't worry about it.  The key error is a clear problem, this probably isn't.

[2020-06-18 21:27] timabbott commented on #691
The markup has changed to `<time>`, which will likely be easier to deal with.

[2020-06-18 22:32] neiljp commented on #680
For the record, with #662 merged we've recorded the state of various emulators that we know so far.

[2020-06-19 04:28] meelanp commented on #551
@zulipbot claim

[2020-06-19 10:55] kaustubh-nair opened #696 "Muting and unmuting stream causes errors in unread counts."
If a stream is muted, reading messages after unmuting it causes negative unread counts.

[2020-06-19 18:56] neiljp commented on #696
@kaustubh-nair I understand that code is missing here, as we discussed, but could you describe a way to reproduce the bug you're describing? On master I see the stream count go down one at a time as I read messages, for example, after unmuting a stream that was muted when I start ZT. What is different/specific in this case?

[2020-06-19 19:01] kaustubh-nair commented on #696
@neiljp The key point here is to mute and then unmute the stream after you start ZT. It will not cause problems if the stream was muted before starting because `unread_counts['streams'] ` was updated by `classify_unread_counts`

[2020-06-23 23:08] neiljp commented on #448
Once #540 is merged, we can consider adjustments to the `[more]` text, to improve indications of how many there are (beyond 10) or maybe how to show the rest - if we don't find an alternative solution to this such as a scrolling footer.

[2020-06-26 01:30] #616 closed

[2020-06-26 02:45] #551 closed

[2020-06-27 18:29] preetmishra opened #704 "Notify user if the server version is unsupported"
With the recent discussions in #653 and [#zulip-terminal > Supporting multiple server versions](https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Supporting.20multiple.20server.20versions), we plan to support server version `2.1.0` and above (see [README.md](https://github.com/zulip/zulip-terminal#supported-server-versions) and [versions.py](https://github.com/zulip/zulip-terminal/blo

[2020-06-29 13:50] kaustubh-nair commented on #646
The event does not send any message ids, but only specifies `all: True` in the response. This will require #535 to be merged first, since all unread data is not present.

[2020-06-30 23:36] #696 closed

[2020-07-03 03:20] #694 closed

[2020-07-03 03:22] neiljp commented on #694
@ExpandingMan #706 should be a simple fix for this and is in the main branch now - it will be in 0.5.2, but if you wish to test the development version and see if this fixes the issue for you too this would be useful to know. Thanks again for reporting!

[2020-07-05 14:47] preetmishra opened #709 "Handle topic links"
Currently, we don't style or linkify [topic links](https://zulipchat.com/api/get-messages). We could potentially style the topic links as we style other in-line message links and extend the linkifiers.

Note: The concerned endpoint was renamed from `subject_links` to `topic_links` in Zulip 3.0 (feature level 1).

[2020-07-08 07:44] preetmishra opened #712 "Introduce new prefix character for web public streams"
Currently, both the web public streams and the public streams use '#' as `prefix_character` which makes it hard to portray the distinction. To resolve this, we could either use 'W' (considering how 'P' is used for private streams) or some other character for the web public streams.

#### Screenshot

| Web app | Zulip Terminal |
| ------------ | ------------------- |
|![image](https://user-images.g

[2020-07-08 07:46] preetmishra commented on #712
This not critically important for now but would be useful to have post https://github.com/zulip/zulip/pull/14638.

[2020-07-08 22:08] #577 closed

[2020-07-10 14:19] Jellby commented on #678
or `~/.config/zulip/zuliprc`

[2020-07-12 05:10] neiljp commented on #678
This was discussed on chat.zulip.org in #**backend>storing client settings** in May, among other aspects.

From my perspective a dotfile would be good, but standardizing on `~/.config/zulip/zuliprc` would be better (or a good addition).

Aspects to consider: (possibly to update later)
* Should we support both `.zuliprc` and the xdg path? Which takes priority?
* What name should we use within `.con

[2020-07-14 02:32] neiljp opened #715 "Some image (links) don't get rendered"
This occurs since we avoid rendering `message_inline_image` divs in `soup2markup` since this was showing duplicate links. However, while in some cases the link is shown anyhow (with the div elided), in others we see no image.

@aero31aero @preetmishra We discussed this previously?

This may be cleaner to fix as a follow-up to #703?

[2020-07-14 17:47] kaustubh-nair opened #716 "Display error message while loading if model.initial_data is not fetched"
This requires some investigation on what actually happens when `initial` data is empty, but zt should show an appropriate error message if the initial registration fails.

[2020-07-14 17:49] kaustubh-nair opened #717 "Move unicode characters to new file"
ZT uses a lot of unicode characters for displaying things like separators, lines, etc. These are hard-coded right now, but should be moved to their own file.

[2020-07-16 00:31] #618 closed

[2020-07-16 00:51] neiljp opened #719 "IDEAS: Improve recipient (narrow) rendering"
This is intended to address the styling of:
* headers above each (group of) message(s) in a stream/all/mention/... narrow
* the 'current message recipients' contents
* the 'navbar' at the top of the central column, specifying the narrow

Aspects that have been discussed previously to my knowledge:
* adding a `#` before stream narrows #**zulip-terminal>Stream prefixes (messages)**
* adding a space

[2020-07-17 10:00] kaustubh-nair opened #722 "Move stream muting logic for unread counts from to Model from StreamButton"
It would be cleaner to remove from the UI and have model methods for this.

[2020-07-17 14:41] kaustubh-nair opened #724 "Search query erased on mouse click anywhere else while typing in message search box"
To reproduce,

* Press `/`.
* Type something.
* Use your mouse to switch to some other search (stream/user) -> typed query is lost.

[2020-07-18 05:07] #624 closed

[2020-07-18 16:59] olynch opened #726 "Multiple Servers"
Is it possible to connect to multiple servers with zulip-term? When I open two zulip-terms, the second one crashes.

[2020-07-18 17:24] preetmishra commented on #726
@olynch Thanks for reaching out. Could you post the traceback or elaborate on the crash?

The traceback should be in `zulip-terminal-tracebacks.log`.

[2020-07-18 20:50] neiljp commented on #726
@olynch Connecting to multiple servers should be entirely possible by running `zulip-term` in different terminals, though for each server/user to have its own parameters you'll need the `-c` or `--config-file` option - but I imagine you're using that? Was that clear?

For the one that is failing, can you reproduce this without running the other?

Which version are you running? We have recently fix

[2020-07-19 06:49] preetmishra opened #727 "Show edit countdown if message editing is allowed"
We could potentially show the edit countdown for a message in the footer or elsewhere.

For reference, the web app shows the edit countdown below the compose box.

#### Screenshot
![image](https://user-images.githubusercontent.com/43616959/87869001-81adb880-c9b9-11ea-8c27-be89b4b33680.png)

[2020-07-19 06:58] kaustubh-nair opened #728 "Deal with focus/mouse cursor appropriately on mouse click"
With #720, the mouse click is ignored if the compose box is open but the position of cursor changes to the clicked location. We should deal with this appropriately.

[2020-07-19 07:39] #541 closed

[2020-07-19 17:23] neiljp commented on #728
This also occurs with search boxes.

[2020-07-19 17:43] #652 closed

[2020-07-22 00:15] neiljp commented on #622
@preetmishra This is improved dramatically now that #703 is merged, but with a FAQ entry and the popup I think we can definitely close this.

[2020-07-22 00:23] neiljp commented on #580
This would be fixed via something like #278.

[2020-07-22 13:07] preetmishra commented on #622
@neiljp While this is improved, it is still unusable when the links spread across, say, two lines. We may want to wait until we handle all the links via #708 and its follow-ups to close this (which I believe is what you meant).

[2020-07-22 22:03] neiljp opened #731 "Add list of caveats for incomplete/absent features"
The client works rather well at this point, but it's important for prospective users to know whether features are present, hidden/undocumented/difficult-to-find, partially implemented, not implemented. These could refer to issues/PRs, and be put in various categories.

This probably belongs in the FAQ, though perhaps is significant enough to sit in a separate document. This may be too large to fit

[2020-07-23 05:18] preetmishra commented on #731
I am inclined towards a separate document that we could link to FAQ.

[2020-07-23 06:26] kaustubh-nair opened #732 "Improve group typeahead"
With #730 de-prioritizing group typeahead over users, it makes it harder to access group suggestions.
Possible options could be:
1. Use a separate trigger pattern for groups (Maybe something like `@*`?)
2. Handle group matching with users rather than doing it separately, and find some way to mesh together both of the suggestions, rather than just adding both of them.

[2020-07-23 06:27] kaustubh-nair commented on #448
#732 for improving ordering of group typeaheads

[2020-07-23 12:30] preetmishra commented on #452
Update: `4: List links at end of message (and/or in popup?)` has been resolved in #703 and #708.

[2020-07-23 22:22] neiljp commented on #732
To clarify my comment on #730, `@*` could be part of the route into implementing autocomplete when the user has already partially typed or completed a name, ie. `@S` might end up with `@**Some User**`, but hand editing the text back to `@**Some` won't then currently autocomplete, and similarly for `@*some group*`. So we could treat those kinds of initial text for users and groups respectively, so

[2020-07-24 10:38] kaustubh-nair opened #737 "Deal with manual changes to recipients for WriteBox"
#730 Stores the recipient ids in `WriteBox` for ordering typeahead suggestions. However, if the user modifies the recipient to different users/streams the recipients stored in `WriteBox` will still contain the old recipient data.

[2020-07-24 20:10] kaustubh-nair commented on #737
Fixed in #730, closing this.

[2020-07-24 23:15] neiljp commented on #622
@preetmishra Do you think this is fixed now?

[2020-07-25 04:48] preetmishra commented on #622
@neiljp This is mostly fixed. We have drastically decreased the number of cases where the links could split over two lines. However, we still don't have a way to make links that are split over two lines usable.

I believe we could close this once we support handling internal/external links or atleast copying links to the clipboard.

[2020-07-25 17:57] kaustubh-nair opened #739 "Improve test coverage for WriteBox"
WriteBox is missing test for most of its methods except typeahead.
Related - #676

[2020-07-26 15:40] preetmishra opened #742 "Delegate link text for raw links in a better way"
Currently, we use the last segment of a link for this purpose. It works well for links that have an image or a file. For instance, `https://foo.com/image.png` gets rendered as `image.png`. However, it does have a few caveats.

A route, suggested by @sumanthvrao, that we could take is the following:
* If a link is an internal link, show its relevant part.
* If a link is pointing to an image or a fi

[2020-07-27 13:20] preetmishra opened #743 "Markup markdown text in stream description"
We could potentially extract the markup methods that we currently use for marking-up the message content in `MessageBox` for this purpose.

For comparison, see [#integration](https://chat.zulip.org/#narrow/stream/127-integrations) or [#feedback](https://chat.zulip.org/#narrow/stream/137-feedback) description on the web app.

[2020-07-27 17:59] #717 closed

[2020-07-27 18:04] neiljp commented on #717
Let's address general box characters in a different issue/PR, if we want to treat these similarly. With #741 we cover all the simple cases. Other lines are single or double and much more regarding geometry.

[2020-07-28 14:40] preetmishra opened #745 "TRACKING: Topic muting improvements"
- [ ] Do not show muted topics in stream narrow (and stream unread count)
- [ ] Handle setting unread count for muted topics - #574
- [ ] Support topic muting/unmuting

[2020-07-28 20:54] kaustubh-nair opened #747 "Update stream settings pop-up on subscription events"
Currently, the stream settings pop-up is not updated after receiving pin/mute stream events. This causes a mismatch between the stream state and the pop-up checkbox state when the settings are updated elsewhere when the pop-up is open in a ZT instance.

This can likely be fixed by using an absolute state instead of just toggling from previous state in the checkbox callbacks.

[2020-07-28 20:59] neiljp commented on #747
The absolute state change would avoid mismatch, but updating the checkboxes directly would be the next step.

[2020-07-29 15:15] kaustubh-nair commented on #745
@preetmishra I renamed #574 because the PR linked to that issue isn't supposed to handle topic unread counts. It only fixes the bug caused by improper `_found_newest` handling.

[2020-07-30 09:34] preetmishra opened #752 "Indicate whether the compose box is in editing mode"
Currently, it is difficult to determine whether a user is composing a new message or editing an existing message.

To enhance the user experience, we could indicate whether the compose box is in editing mode.

[2020-07-30 13:19] kaustubh-nair opened #753 "Add member list to stream info view"
Follow-up to #730 - which stores subscriber info for streams. We can display this, along with weekly message count for streams in the stream settings view.

[2020-07-30 19:30] kaustubh-nair commented on #451
I should also mention that we're missing community topic editing support.

[2020-07-30 20:48] kaustubh-nair opened #754 "Deal with no topic messages"
We don't allow sending of messages with an empty topic, however the web-app allows this by adding the messages to a topic named `(no topic)`. We should simulate something similar for ZT and care must be taken that this is consistent with what the web-app does.

[2020-07-30 21:37] #427 closed

[2020-07-31 19:09] kaustubh-nair commented on #620
@neiljp fixed in #714?

[2020-07-31 19:13] kaustubh-nair commented on #411
@neiljp fixed in #695 ?

[2020-07-31 20:48] neiljp commented on #620
@kaustubh-nair #714 seems reasonable as a first solution, certainly :+1: Thanks for digging this up.

[2020-07-31 20:48] #620 closed

[2020-07-31 21:46] neiljp commented on #411
@kaustubh-nair Could we maintain focus within the stream on pinning state change first? I erroneously referred to this as related to #617 in #]695, whereas this is stream-list related, not topic-list related. This is the #410-related aspect, where the focus changes unexpectedly just as the user is about to do something with the focused element.

[2020-08-01 01:25] neiljp commented on #745
Also updating of these topics when topics are re-named (since they're text, not an id)

[2020-08-03 08:19] preetmishra opened #762 "Update screenshots before pushing a new release to pypi"
With `0.5.2` released, our app screenshots are outdated. However, updating them now (in `git`) would mismatch with the one in `pypi` given the fact that `pypi` only generates its project description once per release (see https://github.com/pypa/warehouse/issues/2170).

To avoid this from the next release, we should update our screenshots before pushing a new release to `pypi`.

#### Related files

[2020-08-04 11:43] kaustubh-nair commented on #737
Fixed in #730 after addition of #738

[2020-08-04 11:43] #737 closed

[2020-08-05 23:42] #493 closed

[2020-08-06 17:45] preetmishra opened #764 "TRACKING: Handle message links"
- [ ] Handle internal (stream/topic/near narrow) links - #708
- [ ] Handle media (user uploads) links - #740
- [ ] Handle external links

[2020-08-07 06:15] #742 closed

[2020-08-09 00:38] neiljp commented on #141
@amanagr To clarify, did you mean message notifications like we now have implemented via #399 and subsequent work - meaning we can close this issue - or something more like mobile notifications or something else?

[2020-08-09 03:30] #754 closed

[2020-08-09 04:34] amanagr commented on #141
Yeah, with #399, this is fixed now.

[2020-08-09 04:34] #141 closed

[2020-08-09 17:11] kaustubh-nair opened #766 "Update view.users after presence updates"
`view.users` does not get updated because `model.get_all_users()` returns a new list after processing presence updates. This leads to problems such as the users list for typeahead not being updated after a new user joins the organization.

[2020-08-09 19:08] neiljp opened #767 "Add secure notifications for WSL"
WSL notifications were removed in 0.5.2. We should aim to add back a secure version.

[2020-08-11 07:51] preetmishra opened #770 "Introduce application-wide time format setting"
Currently, we default to the 24-hour time format in Zulip Terminal. It would be reasonable to introduce an application-wide setting to select between the 12-hour and the 24-hour time format.

For v1, we might want to introduce it as a custom `zuliprc` setting. (In the web app, it is shown under `Settings > Display settings`.)

Lastly, we would want to discuss which time format should be the _new_

[2020-08-11 20:14] neiljp commented on #770
Note that if we can use the API to fetch user settings then we could use that as a reasonable default.

[2020-08-11 20:25] #691 closed

[2020-08-13 06:48] preetmishra opened #773 "Allow a threshold configuration for footlinks"
Currently, the footlinks can either be configured to `enabled` or `disabled` via the `zuliprc`.

However, we could potentially extend it to establish a middle-ground where only a certain number (threshold) of footlinks appear in the `MessageBox`.

Conversation link: https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Configurable.20footlinks.20by.20threshold.

[2020-08-14 06:15] #722 closed

[2020-08-15 08:40] kaustubh-nair opened #774 "Disable cycling to stream and recipients while editing"
It is not possible to edit stream name for stream messages, not the recipient emails for private messages. Thus, we should disable cycling to these boxes.

[2020-08-15 08:51] kaustubh-nair commented on #774
This has a bit of conflict with #675, so should be fixed as a follow-up

[2020-08-16 16:54] kaustubh-nair opened #776 "Consider spaces in autocomplete"
Currently, `urwid-readline` only considers the last word for autocomplete and ignores any whitespaces preceding it. This would be needed in long topic names that have spaces or completing full names of users.

(https://github.com/rr-/urwid_readline/issues/13)

[2020-08-17 17:57] preetmishra opened #778 "Optimize user list handling to improve startup and in-app performance"
This is not as apparent with servers that have a limited number of users. However, with [CZO](https://chat.zulip.org/), which currently has ~16000 users, the performance hit is quite evident.

We should rework the way the user list loading/updating is handled currently to improve the app startup time and address other potential performance-related issues (e.g. user search reset in #700).

Related

[2020-08-18 17:30] kaustubh-nair commented on #776
Linking #13 here

[2020-08-18 18:10] preetmishra commented on #774
This is also evident in 64724949d9816cb452b3ef4d1d812af8cddbf1f8, i.e., the invalid stream name check can be bypassed currently.

[2020-08-18 18:52] kaustubh-nair commented on #774
@preetmishra What do you mean by the check can be bypassed? Can it bypassed with `tab` or an arrow key?

[2020-08-18 18:55] preetmishra commented on #774
An arrow key, which I think is what we're aiming for in this issue?

[2020-08-18 19:01] kaustubh-nair opened #779 "Disallow cycling from recipient box using arrow keys if recipient is invalid"
Follow-up from #738, we should also disable switching from recipient box using arrow keys, in addition to currently supported `CYCLE_COMPOSE_BOX` key, if the recipient is invalid.

[2020-08-18 19:03] kaustubh-nair commented on #774
I agree opened #779
This issue is about disabling focus completely while editing, because we do not have the move streams feature (which will require pop-ups anyway), hence trying to edit stream name makes not sense.

[2020-08-19 16:26] shanukun commented on #773
@zulipbot claim

[2020-08-20 19:04] kaustubh-nair opened #781 "Notify user if sent/edited message is outside current narrow"
For example, if a user is in topic narrow and edits a message's topic then it would be moved do a different narrow. We should probably display a message in the footer if this happens.

[2020-08-20 19:54] neiljp opened #782 "Support a variety of footer notification styling"
We can consider styling of footer notifications, eg. to distinguish errors/warnings from simple notifications like #781, and we could even add a positive one for "message sent" type notifications.

[2020-08-20 21:23] neiljp commented on #181
29fa557 should ensure that installation without dev packages is reasonable, so adjusting the title of this issue to clarify this issue.

[2020-08-20 21:27] neiljp commented on #13
Since we have fairly reasonable test coverage now, this is not high priority but may be worth keeping open as a pointer as to what to work on. It is highly unlikely that a particular PR will be considered to fix this issue.

[2020-08-20 21:42] neiljp commented on #291
We are currently focused on supporting:
* user installation from pypi (pip)
* user installation from latest git (pip)
* user installation from pypi (docker, requiring building docker image)
* user installation from latest git (docker, requiring building docker image #571)
* developer installation (pipenv)
* developer installation (pip)
* developer installation (pip+make, as of #777)

Unless there

[2020-08-20 21:58] neiljp opened #783 "Improve styling of compose-message recipients-area"
Currently we simply have lines around/between eg. stream + topic (+ edit-type), and between that or PM recipients and the message body. In addition we have large 'Stream:  ' and 'Topic:  ' captions, which we could perhaps minimize to look like stream/topic recipients elsewhere in the application, ie. `# stream-name > topic-name`, but with the names being editable.

Later versions of this could col

[2020-08-20 22:00] neiljp commented on #225
Most of these issues, which arose after discussion with @rishig, are now fixed.

The following track the outstanding issues:
* #515 Make help hints context-dependent
* #783 Improve styling of compose-message recipients-area

The grey highlight of messages should have been fixed with either the theme changes or upgrade to urwid 2.1.1, which fixed color rendering in some environments.

Given this, c

[2020-08-20 22:00] #225 closed

[2020-08-24 19:45] timabbott opened #786 "Use `op` rather than `operation` when present in `update_message_flags` events"
See https://github.com/zulip/zulip/pull/16168.  We'll need to check `feature_level` for which field to look at, but this should let us eventually delete the server-side compatibility code to send `operation` as well on these events.

[2020-08-26 23:23] Laanan opened #788 "Where does zulip-term look for ssl certificate. Getting error "Error connecting to Zulip server: SSL Error (get_messages, register)." with self-signed-cert"

[2020-08-27 07:27] neiljp commented on #788
@Laanan We use the python `zulip` module to connect to the server, so this is likely related to how this module works with self-signed certs. We haven't had many requests for this yet, but this would be good to fix or document, and of course get working for you :)

Which route did you take to specify your server and login information?

You might try reading the documentation (here)[https://pypi.or

[2020-08-27 16:04] Laanan commented on #788
@neiljp The link you provided makes sense. I'll try modifying the zuliprc file to point it to the cert and let you know how it turns out!

[2020-08-27 18:13] #585 closed

[2020-08-27 18:56] Laanan commented on #788
@neiljp , I made the changes to the zuliprc file, which got it running. I do keep getting the error, below:

Unverified HTTPS request is being made to host 'zulip.bingsonwong.local'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
│

Is this because it is a self-signed cert? I used the certutil tool, but, even in m

[2020-08-27 20:08] timabbott commented on #788
Generally we recommend using Certbot unless you have a strong reason to do so, because self-signed certificates require a lot of work to make every tool accept them that's very avoidable.

@neiljp maybe to close this issue for the terminal project, we should just add a section in the zulip-terminal documentation linking to the relevant part of the pythoin-zulip-api certificates docs?

[2020-08-27 23:42] Laanan commented on #788
Ok, thanks for the help. Aside from my self-inflicted SSL difficulties, Zulip is great! Already helping my staff stay connected and coordinated :-)

[2020-08-28 00:42] neiljp commented on #788
@timabbott We can certainly add an FAQ entry, which seems like the logical place to put something like this.

The reason I asked about the origin of the zuliprc file was since ZT doesn't add an extra line for this in the file it generates (it has the server/username and generates the API key, but doesn't ask for cert details), and I'm not sure if the file generated by the server for each user/bot

[2020-08-29 04:01] #352 closed

[2020-08-30 17:53] neiljp commented on #451
@kaustubh-nair This seems to have been mostly completed with #675, and I think #785 will fix the bug I mentioned above.
Community editing, and the general allowance for editing of `(no topic)` topics, seem like the remaining elements of this?

[2020-08-30 18:00] neiljp commented on #587
Stream/topic work is mostly complete as-of #746, so improving PM input/display is a high priority.

[2020-08-30 18:03] neiljp commented on #587
See #586 for more discussion on this.

[2020-08-30 18:03] neiljp commented on #586
The last two of these are complete as of #746. So closing this to focus on #587 in future.

[2020-08-30 18:03] #586 closed

[2020-08-30 18:09] neiljp commented on #752
@preetmishra For streams we now have the topic-change box, but did you have specific ideas on how to indicate this?

[2020-08-30 18:13] neiljp commented on #726
@olynch Could you please let  us know if you are still experiencing this issue? Version 0.5.2 has been released, and 0.5.3 should be released relatively soon.

[2020-08-30 18:56] preetmishra commented on #752
@neiljp We could potentially have a specific variety for this in #782.

[2020-08-30 19:03] preetmishra commented on #135
@neiljp With #663 merged, we can tick the remaining task and close this.

[2020-08-30 22:10] neiljp commented on #788
@Laanan Glad things are working for you now :+1: Did you acquire the zuliprc file from the webapp or via ZT? Where did you look for help before filing an issue here? (we can improve how easy it is to find this help)

[2020-08-31 18:22] neiljp opened #791 "Improve platform handling"
Currently we use `platform` to determine which platform we're running on, currently primarily for notifications.

There are currently some limitations in this:
* while not expected, we don't ensure that these values are mutually exclusive (only one is set)
* we explicitly only check for (and test on) these platforms

The former means - admittedly in likely rare situations - that we may load multip

[2020-09-02 02:54] #786 closed

[2020-09-16 21:22] neiljp opened #796 "Consider uncommon ambiguous typeaheads"
The current implementation assumes the longest right-most typeahead prefix is the one desired match, as of #794. This works well in most cases, but the absence of certain constraints on typeahead text (ie. names of streams, users, etc.) leads to ambiguity in edge cases, which could be confusing, or at least limit/hide typeahead/autocomplete.

For example, with user names containing `_`, and given

[2020-09-20 05:49] #732 closed

[2020-09-22 08:37] Astronag commented on #437
@zulipbot claim

[2020-09-23 20:34] fredrikekre opened #797 "Invalid Credentials when logging in from docker"
I get the following error:
[code]
when I try to log in to https://julialang.zulipchat.com from the alpine docker image. I have verified that the credentials work when loggin in from e.g. the browser. Here is the complete "session":
[code]
I also tried with the buster image, but that just crashes on startup:
[code]

Sorry for the low-quality bug report, but I am not sure how to debug this further.

[2020-09-23 21:04] fredrikekre commented on #797
I just noticed that I have gotten a bunch of emails with
[code]
so something seems to have gotten through to the servers.

[2020-09-24 05:57] manojkestur commented on #209
@zulipbot claim

[2020-09-24 06:58] Astronag commented on #437
Hello, I have made the necessary changes and also ran the tests. I got no errors. What should I do next? This is my first contribution.

[2020-09-24 07:47] kumarnithin164 commented on #527
@zulipbot claim

[2020-09-24 07:52] preetmishra commented on #437
@Astronag Hi. The next step would be to open a pull request for the team to review and give further feedback upon.

You may read more about opening a pull request [here](https://zulip.readthedocs.io/en/latest/git/pull-requests.html) and refer to other merged pull requests in the repository.

[2020-09-24 08:59] Astronag commented on #437
Thank you.

[2020-09-25 05:51] kumarnithin164 commented on #527
Should I retrieve time based on the server_url? Or the current location of the user?

[2020-09-25 09:30] rht opened #799 "Migrate from travis-ci.org to travis-ci.com"
Travis-CI.org will be shut down on December 31, 2020: https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=%5BUNIQID%5D

Migration instructions here: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

Also remember to update the Travis badge in the README.md.

Make sure to read the discussion at: https://chat.zulip.org/#narrow/stream/2-general/topic/Travi

[2020-09-25 20:07] neiljp commented on #797
@fredrikekre Thanks for the report!

I haven't run with Docker that much recently, but here are some ideas:
* The container generates/loads a zulirpc file as best it can, but it should do it the same inside or outside of docker - so have you tried just using `pipx` or a `virtualenv` setup? (the latter is a lot easier than it used to be, with the `venv` module)
* In that vein, what authentication m

[2020-09-25 21:07] fredrikekre commented on #797
Thanks for the ideas, I managed to login after downloading the pre-populated zuliprc. (BTW, it was pretty difficult to find, it was hidden under API Key). So it looks like what is broken is automatic creation of a zuliprc when noone exists.

I have password, and as noted in the OP that password works in the webapp.

[2020-09-25 21:16] neiljp commented on #797
@fredrikekre Good to hear that you managed to log in OK in ZT - please let us know of your experience with it and if you have any further troubles or ideas for improvement! I'm not sure if you have an account on chat.zulip.org yet, but feel free to come chat in #**zulip-terminal** :) There have been further updates since the latest pypi release.

@sumanthvrao If you plan to follow up with #571, th

[2020-09-25 21:42] fredrikekre commented on #797
I think the error is just a file permission error. By default the docker container runs with the `zulip` user https://github.com/zulip/zulip-terminal/blob/5609c78bdc45f972dc1f4bd30399bb6cafe5f332/docker/Dockerfile.alpine#L23 and that one does not have permission to create files in the mapped host folder. Starting the docker container with `-u root` works.

I think the best fix may be to just throw

[2020-09-26 21:49] neiljp commented on #797
@fredrikekre This does seem like a permission error, and I'll certainly look at that PR :+1:

To avoid downloading the zuliprc file (or running as root), does `-u <your-local-username>` work for you?

[2020-09-26 22:52] fredrikekre commented on #797
No, because there are no user `<your-local-username>` in the container.

[2020-09-28 23:21] avats-dev commented on #781
@kaustubh-nair Could you explain how I can resolve this?

[2020-10-03 16:40] sumagnadas commented on #799
This is going to be my first time contributing to zulip-term. So what am I supposed to do here?

[2020-10-03 18:42] amanagr commented on #799
@sumagnadas you need to read the doc liked in the comment and apply changes to our travis.yml file. Also, do read https://zulip.readthedocs.io/en/latest/overview/contributing.html

[2020-10-03 19:59] sumagnadas commented on #799
It doesn't seem like the .travis.yml file needs any fixing. It seems like it is mostly the migration and updating the link of the Travis badge in README.md.

[2020-10-03 20:16] sumagnadas commented on #799
@zulipbot claim

[2020-10-03 20:47] sumagnadas commented on #613
What is needed to be done for this except for adding a command option that lists all the available themes using `all_themes()`?

[2020-10-04 05:33] sumagnadas commented on #613
@zulipbot claim

[2020-10-04 18:34] adwait-thattey commented on #593
@zulipbot claim

[2020-10-05 01:57] neiljp opened #804 "Migrate 'all messages' key to 'a' in UI (retaining current key)"
The webapp is likely to move to a default view of recent topics in the future, meaning that all-messages will acquire a dedicated key since it is not the default view (associated with `esc`) any longer.

While ZT does not have an interface for recent-topics, it would be beneficial to at least support the new key for all-messages. Even if the webapp chooses not to take this path, it could be useful

[2020-10-05 04:12] adwait-thattey commented on #804
@zulipbot claim

[2020-10-05 04:24] adwait-thattey commented on #804
@neiljp  Slightly confused on this. Does this mean all messages should show on pressing both 'a' and 'Esc' or should they appear only on 'a'

[2020-10-05 10:40] sumagnadas commented on #799
Someone has to start the migration before the badge's link in README.md is updated. After migration, someone can update the README.md(or I can if there's no problem about that.

I had my profile in travis-ci.com and I forked this repo. I started the build and it didn't fail so it doesn't seem like the .travis.yml needs to be updated

[2020-10-05 12:21] kaustubh-nair commented on #781
@avats-dev You can use `model.narrow` and other narrow-related methods in the model to detect narrow changes, and use `view.set_footer_text()` to display the message.

[2020-10-05 21:14] avats-dev commented on #781
Thanks @kaustubh-nair for the help, I'll try and get back to you if I need some help.

[2020-10-06 02:58] #797 closed

[2020-10-06 07:26] sumagnadas commented on #613
Is zulipbot not working or is it because i haven't made any contributions to this repository before?

[2020-10-06 07:37] neiljp commented on #613
I believe zulipbot is not working right now. It's clear you're working on it :+1:

[2020-10-06 18:45] timabbott commented on #799
It seems like Travis CI hasn't fully implemented their migration process (I clicked the "apply for the beta" button; we'll see what comes of that).

[2020-10-07 08:57] kumarnithin164 commented on #682
@zulipbot claim

[2020-10-07 08:57] kumarnithin164 commented on #527
@zulipbot abandon

[2020-10-09 20:12] #804 closed

[2020-10-10 04:16] adwait-thattey commented on #593
@zulipbot claim

[2020-10-11 13:32] adwait-thattey commented on #593
@kaustubh-nair Is this issue still relevant? I wiki link mentioned in zulip chat doesn't seem to work. And I am not able to see typing event being received on ZT....

[2020-10-11 20:53] #613 closed

[2020-10-11 21:51] neiljp commented on #593
@adwait-thattey The wiki links have been moved to github in `docs/`.

Typing events from the server are handled by ZT for PMs.

[2020-10-12 11:27] sumagnadas commented on #527
I want to work on this issue.

Where can i see this in use?

The line @amanagr is referring to is https://github.com/zulip/zulip-terminal/blob/fdd0137c83f5242968e41ec8e745d18fb46d60c0/zulipterminal/model.py#L554. i just wanted to point this out for someone else who would want to work on this after me.

[2020-10-13 19:07] sumagnadas commented on #601
Sorry that i did this so suddenly, without even claiming it before.

[2020-10-13 19:07] sumagnadas commented on #601
@zulipbot claim

[2020-10-13 20:59] sumagnadas commented on #727
I have implemented some of it. But it doesn't get updated every second. It only shows the time left from the moment the user has started editing it.

[2020-10-16 06:52] Astronag commented on #437
@zulipbot claim

[2020-10-16 17:41] neiljp opened #809 "Fetch realm emoji in initial register call & update using events"
We have preliminary support for realm emoji (custom emoji specific to an organization) via #710, but this has a few caveats (though perhaps minor, depending on the frequency of adding custom emoji vs each ZT session):
* We don't update the realm emoji ZT is aware of, using events available from the server
* We fetch using an API call after initial register, so even if we had updates, we might miss

[2020-10-18 18:13] #601 closed

[2020-10-20 00:50] neiljp commented on #688
This was discussed in #**zulip-terminal>Spoilers! #T688** on chat.zulip.org.

[2020-10-20 15:22] neiljp opened #812 "Show configuration options for current session in about popup"
Once the application is running we don't have a way to establish which options ZT was loaded with.

We already have the about window, so having this in an "Application configuration" section in that window would be convenient.

[2020-10-22 10:17] manojkestur commented on #209
@zulipbot claim

[2020-10-22 21:44] #437 closed

[2020-10-22 21:49] neiljp commented on #437
Thanks to all those who worked on this; I just merged @Astronag 's version so will close the other PRs shortly, but I hope you learned from working on your contributions and will consider others in future, whether in ZT or other projects :+1:

[2020-10-22 22:02] neiljp commented on #302
A simple drafts feature was added in #772 which allows manual saving and restoring of the state during a session, supporting moving between narrows mid-compose.

[2020-10-27 17:44] neiljp commented on #799
@timabbott The process appear multi-step - for my personal account I tried various options, but I think I went to the .com and migrated things over in various stages.

[2020-10-27 19:19] aryanshridhar commented on #770
Hey , @neiljp . I looked into the Zulip Api documentation (https://zulip.com/api/get-user) , but I don't see a response type which signifies the user's time-format setting ( Maybe its stored in client side ). Is there something I am missing out ?

[2020-10-27 20:45] neiljp commented on #770
@aryanshridhar I believe this is not currently documented in the server. Based on reading `events.py` and `urls.py` in the server, if we were to take the server-fetched approach, we could add an extra string to the initial register call to fetch display settings and then also a handler to update them as events are received - other data/events work in a similar way if you want to look at that. Then

[2020-10-27 21:33] timabbott commented on #799
I believe I did the migration step I need to do for this.

[2020-10-27 21:44] neiljp commented on #799
@timabbott Thanks!

Anyone want to take up the related changes?

[2020-10-27 23:17] neiljp commented on #799
@andersk You just pushed all the changes necessary to fix this, at least for ZT?

[2020-10-27 23:30] andersk commented on #799
I updated the Travis badge in 01734667c85be4d46444e51f2f85b8a9b18e1815. I think that’s all we need to do.

[2020-10-27 23:30] #799 closed

[2020-10-28 17:08] aryanshridhar opened #816 "Adding new stream throws an Keyerror"
Whenever an admin adds an extra stream in the server , an error is thrown if a message in received the newly added stream as :
<a href = 'https://user-images.githubusercontent.com/53977614/97470053-15a1ff80-196d-11eb-9f21-c6a483bf4b2f.png'>Screenshot</a>

<strong>Traceback :</strong>
<pre>
Traceback (most recent call last):
  File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_inner

[2020-10-28 19:13] neiljp commented on #816
@aryanshridhar Thanks for the bug report! We definitely don't handle certain stream events, so I expect this could be related to that.

What version of zulip-terminal are you running?

[2020-10-28 19:29] aryanshridhar commented on #816
Oh Fine @neiljp  , I have updated the issue with the same .

[2020-10-28 20:26] neiljp commented on #816
@aryanshridhar I've not tested your case against the latest development version of ZT in git, but it may be more stable - I know we added some checks for unsubscribed streams at least.

It is still possible that this bug exists in the git version however, and certainly won't currently update the list of streams subscribed to - we need to handle more stream events in any case. I was looking into th

[2020-10-29 17:48] aryanshridhar commented on #816
Yup , The error exists in the git version as well .
<pre>
$ zulip-term -v
Zulip Terminal 0.5.2+git
</pre>

[2020-11-03 19:05] neiljp commented on #678
Another benefit of some kind of `.zuliprc/` rather than a simpler file approach, is that this provides a namespace that ZT can use, including treating the filenames (or names without eg. a .zuliprc extension) as names for each server connection.

Since py3.5 is now EOL, this opens up the use of `xdg` after we migrate to py3.6.

[2020-11-03 20:19] zee-bit commented on #812
Hi @neiljp,
I have managed to implement this feature enhancement. Here is the screenshot:
![About-section-zt](https://user-images.githubusercontent.com/54993043/98036151-8cdd0500-1e3f-11eb-8f38-686f5029b948.png)
This is my first contribution to Zulip's codebase, let me know if any thing needs to be modified. Also, before I make a PR, I just wanted to know is there any test or linting that I need t

[2020-11-03 22:29] neiljp commented on #812
@zee-bit That looks good as a first step - we can always adjust from within a PR :)
(I'm unsure if we want to have configuration above or below the server details, but it looks good for now :+1:)

For linting, it depends on your dev setup - if you used `make` to build your environment then you can use `make check`. That runs `tools/lint-all` and `pytest`, which can both be run individually, whethe

[2020-11-06 00:33] #812 closed

[2020-11-11 05:46] aryanshridhar commented on #415
Hey @amanagr , Should this issue still worked upon ? Wouldn't the clarity of image be reduced for the user (maybe , attach the link as well with it ?) .

[2020-11-11 07:37] amanagr commented on #415
Yes, you can work on this issue. Please discuss your approach in #zulip-terminal stream in czo before proceeding.

[2020-11-11 16:13] #135 closed

[2020-11-12 05:45] zee-bit commented on #781
Hi @kaustubh-nair, I have a couple of questions:
1. If a user edits a message topic in a narrow, then he already knows where the message is moved now because he edited it, so why is this needed. Am I missing something?
2. If we display a message in the footer, what should be the message body?

[2020-11-12 06:09] kaustubh-nair commented on #781
@zee-bit

1, That is correct. Though we want to give the user a pointer as to why the message disappeared from the screen.
2. That's up to you. It's a small enough detail that we can modify during the PR review, if needed. Feel free to take inspiration from the web-app.

[2020-11-12 15:22] mkp6781 commented on #809
I am new to the codebase and this is my first issue.
From what I have understood, these are the changes I intend to make:
- add "realm_emoji" to fetch_event_types list
-  change line 148 in `__init__` models.py from`        custom_emoji_data = self.fetch_custom_emojis()
` to
`        custom_emoji_data = self.initial_data['realm_emoji']
`

When a client starts up, a call to `_update_initial_data()`

[2020-11-12 18:30] neiljp commented on #809
@mkp6781 What you've described should replace the existing code and is related to the first part of this issue (title - the second bullet).

The second part (of title, the first bullet) - "update using events" - requires an event handler for that event type to update them as emoji are added and removed on the server, so that the application retains a current list.

[2020-11-12 19:11] zee-bit commented on #781
@zulipbot claim

[2020-11-13 21:03] mkp6781 commented on #809
[code]
This is the event handler code. However when I run pytest, it gives me a 'key error' saying no key 'realm_emoji'.  Should I make any more changes to pass the tests?

[2020-11-13 23:42] neiljp commented on #809
The `Event` type likely doesn't have that key at this point. You also should check whether it *should* have that key, based on the different types of events available from the Zulip API.

https://zulip.com/api/get-events#realm_emoji-update

You're just quoting a function here so I'm not sure what else you've written, but note that this method won't be triggered unless you map the function to the n

[2020-11-14 08:17] mkp6781 commented on #809
Shall I open a pull request so that you can do a quick review?
Thanks!

[2020-11-14 19:55] Laanan commented on #745
Hi folks, piggybacking on this issue:

- [ ] allow moving topics to new streams (private to private, private to public, and public to public).

Also, how can I help? I merely dabble in programming, but is there another way I can contribute to the project?

[2020-11-15 01:50] neiljp opened #826 "Support topics being moved between streams (events, then UI)"
We support events where messages in streams have their subject/topic renamed (ie. moving to a different topic in the same stream), but as per a recent Zulip release we should support the events which indicate messages have been moved between streams. This event is a variant of an existing one we handle; the code is currently in `models.py`.

Initially it is most important to support the events pro

[2020-11-15 02:13] neiljp commented on #788
@Laanan Would the pointer to the Zulip API documents (as in the commit just above) to solve this kind of issue for you in future? Or did you make some other kind of change or need some other information too?

[2020-11-15 02:16] neiljp commented on #745
@Laanan Filing issues is a great start, and if you want more freeform discussion then you're welcome to join #**zulip-terminal** on chat.zulip.org :) Of course you're welcome to contribute in other ways, like with code - there may be some 'good first issue' issues remaining, or just take a dive in the code and see how it works, or figure out how to solve something that's bugging you!

[2020-11-16 15:19] mkp6781 commented on #809
Pull request #827

[2020-11-16 18:21] hariprashantb commented on #593
This is my first issue.
From what I understood, I'd have to write a new function in `model.py` which should make requests using `client.set_typing_status(request)`, based on the typing status and should also keep in mind the `TYPING_STOPPED_WAIT_PERIOD` in case the user pauses. What would be an appropriate way to do capture the user's typing status?

[2020-11-16 18:24] hariprashantb commented on #593
This is my first issue.
From what I understood, I'd have to write a new function in `model.py` which should make requests using `client.set_typing_status(request)`, based on the typing status and should also keep in mind the `TYPING_STOPPED_WAIT_PERIOD` in case the user pauses. What would be an appropriate way to capture the user's typing status?

[2020-11-17 20:53] Laanan commented on #788
@neiljp Hello, yes the link https://pypi.org/project/zulip/ provided all the info I needed. As it turns out, adding the --cert-bundle=<file> worked great. No problems with SSL after that! :-)

[2020-11-17 23:13] #788 closed

[2020-11-18 02:02] Laanan commented on #826
Thanks @neiljp !

I am diving into the code to see if I can figure out how it works. Good documentation and tutorial  in developer-documentation.md -- thanks for that. Can you point me to what I should read in: https://zulip.readthedocs.io/en/latest/subsystems/ to get me up to speed on how subjects/topics get renamed? I'll look forward to joining the chat on #zulip-terminal. :smile:

[2020-11-18 07:14] neiljp commented on #826
The key thing to follow is the get_events call, and how it dispatches to the different `_handle_*` methods. The expected values in the events should be documented here https://chat.zulip.org/api/get-events

[2020-11-18 09:13] kaustubh-nair commented on #593
@hariprashantb `keypress` methods can capture typing.

[2020-11-18 12:55] HarshCasper opened #830 "Adding Issue + PR Templates"
## Description

- Add an Issue Template to streamline creating new Issues
- Add a PR Template to document the changes implemented.

I would like to work on the same. This would make it easy for the reviewers to review the important points of the PR and make necessary request changes for them.

[2020-11-18 18:39] zee-bit commented on #816
Hi, I am getting a similar error when I try to compose a message from the `Starred Message` section.
[code]
I was wondering if this error is somewhat related to this issue or not. I have been trying to get to the root of this error, but all in vain. Have you guys figured out the cause?

[2020-11-18 19:21] Laanan commented on #826
Awesome, thanks Neil -- I look forward to seeing how it all works!👍

On Tue, Nov 17, 2020 at 11:14 PM Neil Pilgrim <notifications@github.com>
wrote:

--
Matt Hall, D.D.S.
(804) 912-4034
matthall.dds@gmail.com

[2020-11-19 20:33] neiljp commented on #830
@HarshCasper Thanks for opening this issue!

Re issue templates, I've noticed some other projects/repos now use the github feature of multiple templates, which helps triage feedback and focus the information requested. While we could support a basic issue template first, the breadth expected likely would make this noisy.

Re PR templates, this seems feasible to work on more directly, though needs

[2020-11-19 20:39] neiljp commented on #826
I should point out that there is an outstanding aspect which is in progress to improve this area slightly based on the last part of #785.

[2020-11-20 19:54] neiljp commented on #830
I listed some example issue types in #**zulip-terminal>Issue types** for open discussion on chat.zulip.org.

[2020-11-20 21:52] prah23 commented on #593
@kaustubh-nair Line 61 in `boxes.py` seems to be capturing the message input. It's using the `ReadlineEdit` function. It's a little unclear how the `TYPING_STOPPED_WAIT_PERIOD` can be tracked through the function. I can think of a naive solution, which is to send the `start` operation before the input and the `stop` operation after the input's been given, but I don't think that suffices.

[2020-11-20 21:53] prah23 commented on #593
@kaustubh-nair Line 61 in `boxes.py` seems to be capturing the message input. It's using the `ReadlineEdit` function. It's a little unclear how the `TYPING_STOPPED_WAIT_PERIOD` can be tracked through the function. I can think of a naive solution, which is to send the `start` operation before the input and the `stop` operation after the input's been given, but I don't think that suffices.

[2020-11-21 03:42] #776 closed

[2020-11-22 01:23] neiljp opened #833 "On removal of earlier messages, show elided sender/date fields of lower messages"
To reproduce:
* Compose a message in a stream with a new topic, and another one (or more) below it
* Move the top messages to a different topic (edit the top message(s) only)
* Note the sender and/or date fields may be missing in the remaining messages (not moved)

Note that while this can be triggered from within ZT, this can also be the case from the webapp, so the solution should work from the

[2020-11-22 01:40] neiljp opened #834 "TRACKING: Support unsubscribed streams"
As of November 2020, the existing code only shows streams subscribed at the time that ZT is loaded; no changes in subscriptions are available to change user subscriptions via a UI or via events affecting the datastructures, during a session.

* [ ] Finish adding defensive checks for cases where events triggered exceptions via non-subscribed streams. These are mostly resolved, though there are a fe

[2020-11-22 03:00] neiljp commented on #451
@kaustubh-nair Just to confirm, but the basic topic editing appears to be complete after the work from the Summer?
So this leaves the community topic editing and no-topic editing?

[2020-11-22 18:16] kaustubh-nair commented on #451
@neiljp Yes, that's correct

[2020-11-22 18:29] neiljp opened #836 "Message editing: Add support for "community topic editing""
We currently support editing message topics of one or many messages, but only via one's own messages in those topics.

Depending on a particular server settings, then it should be possible to edit topic names independently of contribution to the topic:
https://zulip.com/help/configure-message-editing-and-deletion

[2020-11-22 18:29] neiljp opened #837 "Message editing: Add support for renaming of "(no topic)" messages"
We currently support editing message topics of one or many messages, but only via one's own messages in those topics.

If a topic is "topicless", ie. shown as "(no topic)", then depending on server settings it should be possible to edit it independently of contribution to the topic:
https://zulip.com/help/configure-message-editing-and-deletion

[2020-11-22 18:31] neiljp commented on #451
@kaustubh-nair Thanks for confirming :+1: I'm closing this and have broken out the remaining work into #836 (community) and #837 (no topic). If you have any branches then they can be assigned to close those issues independently.

[2020-11-22 18:31] #451 closed

[2020-11-24 17:24] Ezio-Sarthak commented on #809
Hi @neiljp I am new to the codebase and this is my first issue. Could you please elaborate a bit what the issue is?

[2020-11-27 14:20] mkp6781 commented on #809
I have updated the pr. #827
Please do have a look and suggest any more changes that may be necessary.

[2020-11-29 04:13] mkp6781 commented on #809
@zulipbot claim

[2020-11-29 18:37] neiljp commented on #809
@Ezio-Sarthak Someone is already working on this right now - have a look at other issues, explore the application and see what you think could be improved, and come and have a chat on chat.zulip.org in #**zulip-terminal** :)

[2020-11-30 08:09] Ezio-Sarthak commented on #809
@neiljp Yeah sure, thanks!

[2020-11-30 14:17] sundargs2000 commented on #545
@zulipbot claim

[2020-12-02 09:51] sundargs2000 commented on #545
Hey. So, I was working on this and I was wondering whether to use the requirement parser package (https://pypi.org/project/requirements-parser/) or just implement a regex parser. Please let me know @kaustubh-nair @amanagr.

[2020-12-03 19:41] neiljp commented on #545
@sundargs2000 Thanks for taking the initiative to look into this issue :+1:

While this is marked as a good first issue - and it doesn't require heavy understanding of the project internals to explore - there are a few points to be aware of:
* If we implemented the check so as to be present in the published version, we would want it to be as close as possible to a no-op when things were OK, to min

[2020-12-03 19:50] neiljp commented on #567
Progress towards this is ongoing in #838

[2020-12-04 08:03] Abhirup-99 commented on #773
@zulipbot claim

[2020-12-04 08:41] neiljp commented on #773
@Abhirup-99 zulipbot is maybe not working right now, but note that someone else was working on a PR for this previously.

@shanukun Could you comment as to whether you plan to continue with that PR, or if someone else can pick up where you left off?

[2020-12-04 08:43] Abhirup-99 commented on #773
Ok, I would wait for his reply before starting then. Thanks for the reply.

[2020-12-04 12:27] shanukun commented on #773
@neiljp Sorry for the late reply. I should've informed earlier.
@Abhirup-99 I am little busy with some work. You can definitely work on this.

[2020-12-04 13:56] sundargs2000 commented on #545
Hey @neiljp. Thank you for the feedback.
- So about making it no-op, does seem very tough as the functions I have used are what pip uses as well during installation. I don't have complete clarity and will look into it.
- Setup.py would be a better source of truth. Also, I need to just check testing_deps, linting_deps and dev_helper_deps since running with inconsistent install_requires gives an err

[2020-12-05 02:38] neiljp opened #840 "Handle >50k unread messages (including muted)"
Currently the initial data returned from the server includes a maximum of 50k unread message ids, including muted messages - the most recent 50k unreads.

In the relatively rare case that a user has this many unread messages  then the unread counts tracked in ZT may be self-consistent, but not accurate. This can be confirmed since the webapp handles this situation correctly by fetching messages be

[2020-12-05 16:28] Abhirup-99 commented on #773
@neiljp I have pushed a pr for this issue. Can you review it?

[2020-12-07 06:27] shubhank-saxena opened #842 "How to login using Github OAuth?"
I have used Github OAuth method to signup/login in a zulip server. How do to it in the CLI? It's asking for email and password

[2020-12-07 10:51] Ezio-Sarthak commented on #609
Hi @neiljp . Would you like to start discussing the issue? I think it is possible to make a font italic *and* bold. What I tried simply was to add both bold and italics in the palette.
![Screenshot from 2020-12-07 16-20-59](https://user-images.githubusercontent.com/55916430/101342150-2b79dd00-38a8-11eb-86b9-d1c0498bfa87.png)
Please let me know if I am missing something.

[2020-12-07 13:30] Ezio-Sarthak commented on #511
@neiljp Going through the code base, I am unable to find how are we fetching full user profile data (as displayed in the web app). This seems interesting to me!

[2020-12-07 17:09] neiljp commented on #842
@shubhank-saxena Thanks for giving ZT a try and asking the question :+1: Unfortunately right now we only support email/password as a means of accessing the user profile and generating a zuliprc from within ZT. It is possible that if you download your personal zuliprc file via the web interface and point ZT at that file it may work, but I don't have personal experience with that.

This would likely

[2020-12-07 18:01] shubhank-saxena commented on #842
Thank you so much for the reply @neiljp :+1:

[2020-12-07 18:22] neiljp commented on #842
@shubhank-saxena Let me know if you manage to login with ZT, and whether with ZT or another client you're welcome to drop by #**zulip-terminal** on chat.zulip.org :)

As per the issue I referenced, this is something we'd like to add in future.

[2020-12-07 18:39] neiljp commented on #511
@SGeetansh Do you expect to continue your work on this soon?

@Ezio-Sarthak We don't currently have the data stored in the app - I believe it is fetched on demand as per the linked PR here. There may be a method in the python API we can use instead however. For a first version it may be wise to fetch the basic information, before determining how to handle custom fields (which vary per server) in a

[2020-12-07 19:02] neiljp commented on #609
@Ezio-Sarthak It may work in one terminal, but I'm not sure of the widespread support for this, or how well it displays if it is not supported. I started a topic on czo for this: #**zulip-terminal>Italic styling #T609**.

[2020-12-08 09:12] shubhank-saxena opened #843 "Addition of pre-commit"
Every time that someone lands up a PR, the person is expected to run the lint tests. And if they fail to do so, it may result in failure of Travis. And then they will have to re-run the test and push back again.
How about we add a pre-commit hook, which will ensure that all the lint tests are run before being committed to the branch/repo and thus saving the time!
Tool to use - https://pre-commit.c

[2020-12-10 06:19] mkp6781 commented on #809
@zulipbot add "PR needs review"

[2020-12-10 09:58] Abhirup-99 commented on #816
@neiljp what's the status of this issue? Can I work on this?

[2020-12-11 08:56] Ezio-Sarthak commented on #221
@vhawk19 Are you still working on this issue?

[2020-12-11 09:20] Ezio-Sarthak commented on #783
@neiljp I would love to work on this issue!

[2020-12-11 12:27] Ezio-Sarthak commented on #843
Hi @shubhank-saxena ! I guess this is already documented here: [Zulip's Git pre-commit hook]](https://zulip.readthedocs.io/en/latest/git/zulip-tools.html#set-up-git-repo-script) :)

[2020-12-11 12:36] shubhank-saxena commented on #843
Oh. I must have missed it. Thanks for pointing it out @Ezio-Sarthak

[2020-12-11 12:36] #843 closed

[2020-12-11 12:44] Ezio-Sarthak commented on #511
This PR #848 needs review :)

[2020-12-13 12:35] mkp6781 commented on #834
@zulipbot claim

[2020-12-14 19:10] vinitwadgaonkar commented on #682
i want to take up this issue is it still open?

[2020-12-14 19:19] vinitwadgaonkar commented on #682
@zulipbot claim

[2020-12-14 19:22] vinitwadgaonkar commented on #682
@zulipbot claim

[2020-12-14 19:31] vinitwadgaonkar commented on #684
i am intrested

[2020-12-18 04:56] imnitishng commented on #682
I resumed working on this but I see that this is already fixed by https://github.com/zulip/zulip-terminal/pull/714
@neiljp Can we close this?

[2020-12-18 07:37] mkp6781 commented on #833
As I was trying to recreate this issue, I came across another bug as well.
In ZT, I am able to edit content of a message on pressing 'e' even after the time to edit has expired. On sending the edited message, the content of the message does not change but it is labeled as 'edited' both in the webapp as well as ZT(**NOTE:** I have not changed the stream or topic). Is this the desired behaviour?

[2020-12-19 11:59] Abhirup-99 commented on #773
@zulipbot "PR needs review"

[2020-12-19 12:00] Abhirup-99 commented on #773
@zulipbot add "PR needs review"

[2020-12-19 20:26] zee-bit commented on #514
@neiljp Just to be on the same page, we need to prepend the quoting template markdown with the name of the user whose message is quoted along with the link that would narrow to the message that was quoted. Am I correct?
Also, what do you mean by **bugdown**?

[2020-12-19 21:26] neiljp commented on #514
@zee-bit That seems correct to me.

Re bugdown, this was a name used in the past for at least one part of the markdown engine, but appears to have been renamed over the Summer.

[2020-12-19 21:32] zee-bit commented on #514
@zulipbot claim

[2020-12-20 18:27] RahulAg0110 commented on #521
@zulipbot claim

[2020-12-20 18:42] neiljp commented on #521
I can't find your username to tag you, but thanks for your interest in this and working on the project!

However, I just realized that this documentation has been written already here (added in #820):
https://github.com/zulip/zulip-terminal#tips-for-working-with-tests-pytest

Please let us know what you think of the text, but I'm going to close this issue for now to avoid further confusion!

If yo

[2020-12-20 18:42] #521 closed

[2020-12-20 19:09] rahulagr01 commented on #521
Thanks, @neiljp for informing. Keep up the awesome work!

[2020-12-20 22:21] neiljp commented on #545
@sundargs2000 Just checking in and mentioning that you are welcome to work on other issues if this is blocking you, as well as giving a little extra clarification below.

* Re no-op, as long as we use the same versioning style, testing for `git` or `+git` in the version string should be reasonable. Wrapping that in a small function in the version file as `is_development_version` seems useful - we

[2020-12-21 14:30] shubhank-saxena commented on #631
As discussed on chat, I would love to work on this @neiljp !

[2020-12-21 15:30] Ezio-Sarthak commented on #527
I was actually having such error on my pc, glad to find an issue for the same!
Would love to work on the issue! :)

[2020-12-22 10:27] sundargs2000 commented on #545
@neiljp Thank you for the clarity. I have my exams, but will update the PR ASAP.

[2020-12-23 16:10] tushar912 commented on #687
@neiljp can I work on this

[2020-12-23 16:10] tushar912 commented on #687
@zulipbot claim

[2020-12-24 07:36] mkp6781 commented on #833
@zulipbot claim

[2020-12-24 09:33] Ezio-Sarthak commented on #837
I'd love to work on this issue!

[2020-12-24 16:42] neiljp commented on #631
@shubhank-saxena You're welcome to work on this - I don't think anyone else is doing so right now :+1:

[2020-12-24 20:09] zee-bit commented on #791
@neiljp for the first part of the limitation, we know `platform.system()` will always be one of 'Linux', 'Darwin', 'Java' or 'Windows', so instead of pre-checking for the correct platform values(which may be mutually exclusive), we can check for the system on the go inside `notify` function. This should ensure that under no condition the system value is mutually exclusive, if I am right.

For the

[2020-12-25 04:12] shubhank-saxena commented on #631
@zulipbot claim

[2020-12-25 12:30] mkp6781 commented on #833
@neiljp I have attempted to fix this bug my making changes to the `update_rendered_view` function. I can continue to fix the 2 failing tests. However, I was doubtful as to whether this is the right way to fix this issue. Should I rather try to make changes to `handle_update_message_event`.?

[2020-12-25 16:03] zee-bit commented on #753
@kaustubh-nair this seems like a reasonable improvement, and I would like to work on this.

[2020-12-28 06:17] Ezio-Sarthak commented on #27
What's the status of this issue @amanagr ? I'd love to work on the issue, if currently no one's working :)

[2020-12-28 07:54] neiljp commented on #27
@Ezio-Sarthak Thanks for checking back on this early issue :+1:

Right now many of the core "how do I do..." type tasks should be listed in the development-related part of the README. Given you're a relatively new contributor, any thoughts you have on that type of content that felt missing or unclear would be much appreciated - you're more likely to see issues, being fresh to everything :)

The de

[2020-12-28 12:22] Ezio-Sarthak commented on #27
I'll do share my thoughts on missing/unclear things during this period of exploration and learning!

I agree about the pytest section duplication. I'll remove it from developer-documentation.md. For urwid, I'll add related info in README.md :+1:

Tutorial should be specifically a single file (maybe something like `developer-add-feature-tutorial.md` ?)

For the overview, I think replacing it with d

[2020-12-28 14:42] Ezio-Sarthak commented on #782
I presume no one's working on this currently. Since I am familiar with that part of the codebase, I would love to work on this issue!

[2020-12-28 16:00] Ezio-Sarthak commented on #676
I would love to work on adding Pytests for `WriteBox`!

[2020-12-28 16:11] Ezio-Sarthak commented on #739
I would love to add further pytests for `WriteBox` :)

[2020-12-29 04:03] Ezio-Sarthak opened #859 "Make 'EDITED' message prefix clickable like webapp"
While exploring ZT, I noticed that the Edited message prefix is not clickable like in webapp.

I would like to work on the same :)

[edit_prefix_webapp](home/ezio-sarthak/Downloads/Gifex/edit_prefix_webapp.gif)

[2020-12-29 07:24] neiljp commented on #859
Generally supporting operations using the mouse has not been considered a priority. We may want to clarify that further in the README somewhere. The thought is primarily to focus on achieving a featureful client using the keyboard interface, without getting distracted with adding and maintaining mouse support for each action too.

Practically speaking this is certainly something we can add, and we

[2020-12-29 08:44] Ezio-Sarthak commented on #859
Thanks for clarifying various aspects of this issue! I do agree that the keyboard interface with the client should be our first priority. I'll keep that in mind from now on :)

[2020-12-29 13:39] zee-bit commented on #779
@kaustubh-nair @neiljp I have a doubt/confusion. The arrow keys do not just cycle the focus between corresponding compose message blocks(like <kbd>Tab</kbd>) but are also used to move the cursor inside a particular block(to edit contents). So how would we figure out if an arrow keypress is meant to cycle the focus between message compose blocks or just to move the cursor inside a specific block?

[2020-12-30 04:11] neiljp commented on #779
I believe the text box should track the cursor location, which should enable checking whether it's at the maximum left/right/top/bottom of the box.

[2020-12-30 08:48] zee-bit commented on #779
Oh. I didn't know we could determine the cursor position inside the box using `header.edit_pos`. I would like to work on this issue then. @zulipbot claim

[2020-12-30 12:51] zee-bit commented on #727
As a v1 we could just show the time in the footer for a couple of seconds, and then we could build/improve from there. @zulipbot claim.

[2020-12-30 16:21] Ezio-Sarthak commented on #719
I would like to work on this issue!
They all are great aspects to let the UI match that of webapp :)

[2020-12-30 16:33] Ezio-Sarthak commented on #716
[code]
I guess this part of the `_update_initial_data()` checks for a failure?
Nonetheless, I'm interested in working on this issue!

[2020-12-31 12:14] Ezio-Sarthak commented on #709
I would like to work on this!
We could also potentially wrap those links into `'ellipsis'` (as provided by urwid) later :)

[2021-01-01 03:54] neiljp commented on #522
Closing this in preference to the duplicate, though this does provide some good data :+1:

[2021-01-01 03:54] #522 closed

[2021-01-01 05:25] Ezio-Sarthak opened #863 "Style the message with user's mentions (like webapp)"
We could modify the color of the message box if it contains the user's mention like (red) in web app.

[2021-01-01 05:50] Ezio-Sarthak commented on #863
@zulipbot add "enhancement"

[2021-01-01 06:49] Ezio-Sarthak commented on #863
@zulipbot add "further discussion required"

[2021-01-01 22:20] prah23 commented on #587
I see that this hasn't been worked on yet, I'd like to take this up.

[2021-01-01 22:20] prah23 commented on #587
I see that this hasn't been worked on yet, I'd like to take this up.

[2021-01-01 22:20] prah23 commented on #587
I see that this hasn't been worked on yet, I'd like to take this up.

[2021-01-01 22:21] prah23 commented on #587
I see that this hasn't been worked on yet, I'd like to take this up.

[2021-01-01 22:22] prah23 commented on #587
I see that this hasn't been worked on yet, I'd like to take this up.

[2021-01-02 00:19] neiljp commented on #587
@prah23 You're welcome to take this up :+1: It would be good hear your plans for the UI.

[2021-01-02 07:27] #629 closed

[2021-01-04 21:34] zee-bit commented on #138
@neiljp I can't seem to reproduce this. Is this issue fixed?

[2021-01-05 00:33] neiljp commented on #138
@zee-bit This seems fixed to me - I think this was just a representation of how very early on we didn't show muted stream contents even if they were available? @amanagr @sumanthvrao Agreed?

[2021-01-05 02:15] sumanthvrao commented on #138
Yup, it's likely that when we fixed that, we forgot to check and close this issue.

[2021-01-05 08:27] zee-bit commented on #290
@neiljp There are several points I would like to raise here:
- Regarding tips we should definitely exclude from the footer. There are keys like `ENTER` and navigation keys that could be excluded. Also narrow-to keys like `a`(all messages), `P`(private messages), `#`(mentions), `f`(starred) should be removed from tips since they are already present beside their respective section names. Search hotk

[2021-01-05 15:34] kaustubh-nair commented on #716
@Ezio-Sarthak Yes, those would capture registration failures. It's also worth checking `model._register_desired_events()` for failures - since these can cause `model.initial_data` to be empty.

Also, note that the view would not load when this fails - you would have to use exceptions to handle errors here.

[2021-01-06 03:51] imnitishng commented on #834
I'd like to work on adding the missing streams

[2021-01-06 16:13] zee-bit commented on #417
@sumanthvrao The focus in both cases (PM/streams) seems to behave similarly in ZT as in web-app. In both ZT and webapp the focus remains on the previous message after sending a message in either PM/stream. Can you please check?

[2021-01-06 21:34] Abhirup-99 commented on #764
@zulipbot claim.

[2021-01-07 01:06] neiljp commented on #684
Fixed by #853 :tada: Thanks @Ezio-Sarthak :+1:

[2021-01-07 01:06] #684 closed

[2021-01-07 04:24] neiljp commented on #138
@zee-bit Thanks for noticing this - closing this now :+1:

[2021-01-07 04:24] #138 closed

[2021-01-07 12:09] Abhirup-99 commented on #774
I did love working on this issue.
@zulipbot claim.

[2021-01-08 18:28] Ezio-Sarthak commented on #826
@neiljp Here are some of my assumptions. Do let me know if I am missing/misleading something:
 - As per the documentation, `new_stream_id` should be the endpoint passed only if there is a message moved to another stream. If multiple messages are moved, `message_ids` are returned with ids of messages to be moved.
 - The areas that would require update are: topic narrow, stream narrow, all messages

[2021-01-09 22:12] Laanan commented on #826
Hi Sarthak and Niel,

I am currently up to my eyeballs in work, so please, by all means, Sarthak,
if you would get to this fix, that would be so awesome. I have a few more
tweaks to make on a snooze function for Zulip (a bot called snoozebot), and
I am about to try out using Gmail's schedule send functionality to schedule
send Zulips. These are future integrations/functions I would like to
impleme

[2021-01-10 14:01] Ezio-Sarthak commented on #826
That seems to be a cool integration!

Thanks for letting us know about the current status :+1: I'll dig into it after an affirmation from @neiljp :)

[2021-01-10 14:07] Ezio-Sarthak commented on #687
@zulipbot claim

[2021-01-10 21:13] neiljp commented on #791
The platform should not vary dynamically (ie. while running), so we only need to check once and then look up later - we don't need to keep checking `platform.system()`. We can do this via the new platform-agnostic wrapper file.

Note that the docs say "such as..." for those values so there may be other values - and this may not always be the best way of identifying the platforms, in the way we do

[2021-01-10 21:30] neiljp opened #871 "Improve compose hotkey behavior (as compared to replies)"
Most of the compose-message actions behave fairly well, and many are reply-based, often with extra features.

Since our autocomplete of streams/topics has been (and for users still is) less useful, the best approach for ZT users has been to rely upon ways to reply, rather than do straight compose actions. For example, one might go to a stream or topic and reply but editing the stream/topic, or rep

[2021-01-10 22:03] neiljp commented on #290
I feel that the first stage of always-excluding certain keys from the footer seems good since we have a brief summary listed on the main screen: `Help(?)`. I partially agree that areas which have listed hotkeys could, in principle, be removed from inline help given it is listed in the UI, but I do feel like the help text is more detailed.

For "general" commands (including navigation) I think thes

[2021-01-12 15:58] Ezio-Sarthak commented on #764
I would like to add internal PM links handling, as a follow-up PR from #708. Discussed my concerns in czo :)

[2021-01-12 21:22] #783 closed

[2021-01-13 15:11] Abhirup-99 opened #873 "Add FAQ regarding the meta key and alternatives in README"
There is no specific key called meta on the keyboard and it would be better if we add additional info about the meta and alt key relation in the README.
Relevant discussion:
 https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Alt.20.2F.20Meta.20keys

[2021-01-13 17:49] Ezio-Sarthak commented on #406
I'd like to work on v0 case!

[2021-01-15 15:58] #753 closed

[2021-01-17 06:35] neiljp commented on #682
@imnitishng The motivation for this issue is to provide a warning before the message is sent (which is what #714 will do), so that a user doesn't write a long message only for it to fail to send as they cannot post there, as I described here: https://github.com/zulip/zulip-terminal/issues/682#issuecomment-642129332

[2021-01-17 06:48] imnitishng commented on #682
Okay I get it. Essentially we have to avoid opening the compose box in the streams where users aren't allowed to post.
 I will start the work and send a PR ASAP.

[2021-01-18 12:42] prah23 commented on #575
@zulipbot claim

[2021-01-19 00:00] neiljp opened #879 "Message Info Popup: Add Year to date of message"
Messages (in the list of messages) show the year of posting (if it is a prior year), but currently we don't seem to be showing any year for the date in the message info popup. In the popup we can always show the year.

[2021-01-19 17:38] jalajcodes commented on #879
@zulipbot claim

[2021-01-19 22:22] neiljp commented on #357
I've renamed this issue to narrow its applicability; right now ZT should run fine in a WSL environment.

I'm leaving this open to track the issue, but it's certainly not a priority given we have WSL support now.

However, anyone is welcome to contribute a PR to make this reality :+1:

It is possible that urwid could provide a workaround for the fcntl issue, but otherwise a PR would need to do so.

[2021-01-19 23:49] neiljp commented on #547
I've updated this issue title to narrow the scope slightly.

Listing known limitations probably belong with #731, though longer-term aspects are now part of https://github.com/zulip/zulip-terminal#about

When we add the details of intentional differences, which could perhaps go into a separate file in `docs/`, we can also consider relating these to a FAQ entry named something like "Migrating from

[2021-01-19 23:50] neiljp commented on #26
I've extended this to be a tracking issue for now, focusing on extending user documentation.

Regarding "supported features", this could be a rather long list to handle. What we likely want are notes as to what features we have that are:
* missing, compared to webapp (and maybe mobile)? (#731)
* motivational (see "Why use ZT" below)
* different from the others through choice (eg. `z`, marking read

[2021-01-20 00:18] neiljp commented on #826
@Ezio-Sarthak Did you mean #745 or #785? (the latter is merged fully now.) Regarding what's necessary, there are likely quite a few areas to update in the UI, including eg. the topic list, if it's open, and it may be easier to see a PR. I'd definitely want to see a PR handling the events cleanly first, and we can consider any topic-moving from the ZT UI later (particularly given it's an admin acti

[2021-01-20 00:28] neiljp commented on #178
To update this: we have started isolating the unicode we use into `config/symbols.py`, so in principle we could have "symbol themes" too at some point. As with regular themes and exposing them to be more easily configured, or keybindings (#680), my concern with this is that we start to tie ourselves into keeping the names/structure fixed.

For those installing from git, or willing to do so from a

[2021-01-20 02:20] IgnisDa commented on #639
I would love to work on this! Could you please explain what exactly does "approaching it differently" entail?

[2021-01-20 15:27] Ezio-Sarthak commented on #826
Oops, it was a typo there (edited that comment). I meant #785.

Re event handling, I've started mocking some of the code in the merged PR #785, thinking of opening a WIP PR soon :)

[2021-01-20 21:44] #514 closed

[2021-01-21 02:19] jalajcodes commented on #871
I would like to work on this but as I am still getting familiar with ZT and it's codebase it might take me some time  to understand what needs to be done and how.

[2021-01-22 01:11] #593 closed

[2021-01-22 01:25] neiljp opened #885 "Make various minor adjustments to match Zulip typing notifications protocol"
We now do a reasonable job of handling typing events as documented here:
https://zulip.com/api/set-typing-status

However, there are some points which are not quite handled right, so far including:
* [ ] We don't handle the TYPING_STARTED_EXPIRY_PERIOD case; that means the footer can get stuck if a PM user doesn't send a stop event, which happens if the other user disappears (closes client, falls

[2021-01-23 09:43] zee-bit opened #887 "Add notification checkboxes in Stream Info view."
This issue extends PR #880 and should work towards improving the Stream Info view in ZT. Currently, there are just two checkboxes in `StreamInfoView`(mute_stream & pin_to_top). These are fine but we want to add more checkboxes related to Stream notifications. We could potentially add:
- [ ] Audible desktop notification
- [ ] Email notification
- [x] Visual desktop notification, and
- [ ] Mobile no

[2021-01-23 09:45] zee-bit commented on #887
@zulipbot claim

[2021-01-24 18:31] neiljp commented on #508
`autopep8`, `autoflake` and `flake8` are now dev dependencies, although only the latter is in CI as the others are code fixers.

We also use flake8-continuation and flake8-quotes.

There has also been talk of using `codespell` in the zulip/zulip repo, and I've applied it on occasion, eg. the updated merged commit in #881, but also notes in the former that it may be not so simple to add to CI.

[2021-01-25 13:47] prah23 commented on #885
Absolutely, I'll take this up.

[2021-01-25 13:48] prah23 commented on #885
Yes, I'll take this up.

[2021-01-26 00:01] neiljp opened #891 "Migrate name of master branch to 'main'"
This process is being pursued over Zulip repositories in general; see #**general>master-slave term** on chat.zulip.org, ie.
https://chat.zulip.org/#narrow/stream/2-general/topic/master-slave.20term

GitHub docs:
https://github.com/github/renaming

[2021-01-26 16:44] neiljp commented on #836
There is a PR currently open for this: #793

[2021-01-26 17:25] neiljp commented on #126
I believe we've discussed moving the hotkeys from README into docs/, so that might be a good first step, updating all the links, followed by the automatic synchronization via a script and then checking that with a GitHub Action (since we don't use Travis now).

[2021-01-26 17:38] neiljp commented on #127
@amanagr I plan to close this shortly as there may be ways to improve the experience, but we have a lot of docs now :)

[2021-01-26 19:15] neiljp opened #892 "Automate developer overview of files by extracting module docstrings"
Currently overviews of each file are manually described in `docs/developer-file-overview.md`.

For developers it would be useful to have each of these descriptions at the top of a given file as a docstring; with that, this document could then be generated automatically and checked to be up to date in CI.

* [x] Add docstrings to each source file that match the overview file
* [ ] Add a CI Action w

[2021-01-26 19:17] neiljp commented on #126
This is a similar issue to #892.

[2021-01-27 00:28] amanagr commented on #127
Yeah, go ahead!

[2021-01-27 05:18] #127 closed

[2021-01-27 21:47] neiljp commented on #762
Provisional 0.6.0 screenshot attached.
![pngout](https://user-images.githubusercontent.com/9568999/106058460-1f3f1e80-60a6-11eb-8b70-90ed10bd3d57.png)

[2021-01-27 22:08] neiljp commented on #762
Slightly fewer columns:
![pngout](https://user-images.githubusercontent.com/9568999/106060322-b86f3480-60a8-11eb-8f11-2289c78d43f5.png)

[2021-01-27 22:12] neiljp commented on #762
Slightly shorter still:
![pngout](https://user-images.githubusercontent.com/9568999/106061037-b659a580-60a9-11eb-8ff8-ea1c54ac9084.png)

[2021-01-28 05:07] neiljp opened #894 "Add validation/autocompletion of time mentions"
Entry of time mentions can be challenging, to obtain the correct date-time format (ideally ISO 8601).

To resolve this, we'd really benefit from an autocomplete for them. This could popup up something like a date-picker such as provided by https://github.com/AFoeee/additional_urwid_widgets - though this is just a date, not a time too.

[2021-01-28 06:34] neiljp commented on #13
Coverage is now at 80% and we're typically including tests with new code, so I'm going to close this issue. If we later want to push coverage right up then I'd suggest we want a new issue in any case.

[2021-01-28 06:34] #13 closed

[2021-01-28 06:42] neiljp commented on #223
I'm closing this since there are many more issues registered for `area: message editing` now. The first in the list is now complete, and the second is in #774.

[2021-01-28 06:42] #223 closed

[2021-01-28 07:34] Ezio-Sarthak commented on #894
This seems to be an interesting issue to work on!
I'd like to contribute for a time picker widget first in the repo you mentioned. It already seems cool!

[2021-01-28 16:50] neiljp commented on #894
@Ezio-Sarthak I'm not sure how supported that repo is given the lack of recent activity (it was just one example repo) - hopefully you will get some responses to your issues/PRs, though :+1:

[2021-01-28 16:59] neiljp opened #895 "Crash for user with no subscriptions (eg. new bot)"
Currently producing a fresh bot and using the zuliprc in ZT causes a crash, unless some streams are pre-subscribed for it.

This shouldn't be an issue for regular uses, who tend to get subscriptions automatically, but it's possible that a user could lose their subscriptions, so we should avoid this issue in any case.

[2021-01-28 17:35] neiljp commented on #366
This can relate to data-loss (eg. compose or "where was I" state in narrow/unreads) so I'd like to understand if this remains an issue after the reconnection issue was fixed.

[2021-01-28 17:37] neiljp commented on #333
This may be fixed upstream in urwid/urwid#225, but could be resolved via aspects like #687, applied to all names where emoji can take place.

[2021-01-28 18:45] neiljp opened #896 "Show sender/recipient presence status in messages"
This is to clarify the intent behind PR #501, which isn't quite #406 (related to highlighting particular users eg. yourself vs others by name), but more to translate the presence information into an extra field in messages to avoid scanning through the user list to see the sender's active status. We could also apply this to recipients in PMs.

[2021-01-28 18:57] neiljp commented on #896
The server has some aspect of this (eg. in list of PMs) and is considering more, starting with perhaps zulip/zulip#17137, zulip/zulip#17138 and PR zulip/zulip#17149.

More discussion here:
https://chat.zulip.org/#narrow/stream/137-feedback/topic/Status.20Evidence

[2021-01-28 19:28] neiljp opened #897 "IDEA: Alternative unread representations"
While having accurate unread counts is important (and there are a few corner cases to resolve), I'm interested to explore alternative indications and representations of unread messages.

### Motivation
In many cases it is not important to me quite how many messages are unread, but aspects such as (more to be added):
* how many unread topics? (in a stream)
* how old are those topics?
* how large ar

[2021-01-28 19:31] neiljp commented on #546
This could be related to #543 (view/scrolling of single messages).

[2021-01-28 19:57] neiljp opened #898 "Copy/pasting links to messages"
While autocomplete does handle #**stream** and (eventually) #**stream>topic name**, it would be useful to have ZT be able to copy a link to a selected message both optionally more specifically (id) and perhaps in different formats.

This could be of benefit both for:
* moving from a message context in a ZT session to a web-browser case (URL), including indirect cases such as sending a link out-of-

[2021-01-28 21:58] prah23 opened #899 "Reposition cursor before autocompleting"
While autocompleting, the position of the cursor is where the autocompleted text is added, appending the text after the cursor to the autocompleted text, resulting in inconsistent text.
For example, `#**zulip-ter|min` is autocompleted to `#**zulip-terminal**min` due to the cursor being placed after `r`.

We should reposition the cursor before we autocomplete on the text.

[2021-01-28 23:53] #762 closed

[2021-01-29 01:45] Ezio-Sarthak commented on #896
@neiljp Thanks for opening the corresponding issue separately!

Would love to work on it!

[2021-01-30 18:07] mkp6781 commented on #833
@zulipbot add "PR needs review"

[2021-01-30 18:09] mkp6781 commented on #833
@zulipbot remove "PR needs review"

[2021-01-30 19:17] neiljp opened #901 "Move from type comments to inline type annotations"
This breaks out the last part of #838, which is enabled by the move to python 3.6+.

This could be automated using `com2ann`, though note that tool requires python 3.8+.

[2021-01-30 19:57] neiljp commented on #901
^ This seems like a bug in zulipbot label-checking?

[2021-01-30 21:02] #891 closed

[2021-02-01 19:46] zee-bit commented on #559
@neiljp This issue looks very interesting to me. Unless @kaustubh-nair wants to continue his work on this issue, I would love to tackle it, by potentially building/improving on top of his work.

[2021-02-02 04:49] #773 closed

[2021-02-02 05:36] neiljp opened #905 "Minimize length of stream box during compose based on available space & maximum stream length"
Currently the stream box can be quite wide; we spread the boxes between the available width.

While topic length can vary, we should be able to find some way to determine a smaller length using urwid's features based on what we know about the maximum stream length at the time.

Good related features to consider
* if we can/should limit the width of the 'topic edit' box while editing (edit-one, edi

[2021-02-02 19:24] cyberShaw commented on #905
@zulipbot claim

[2021-02-03 04:25] kaustubh-nair commented on #559
@zee-bit go ahead :+1:
#707 should be mostly useable but might require some improvements on PopUpBox.

[2021-02-03 17:52] vinitwadgaonkar commented on #623
@zulipbot  claim

[2021-02-04 14:54] cyberShaw commented on #638
@zulipbot Claim

[2021-02-05 03:54] #587 closed

[2021-02-05 22:35] ahmedabuamra commented on #901
@zulipbot claim

[2021-02-06 02:21] ahmedabuamra commented on #901
I'm sorry for working on this issue without assignment.
I wanted to try `com2ann` and save you some time. Thanks.

[2021-02-07 01:05] #901 closed

[2021-02-07 01:12] neiljp opened #912 "Add GitHub Action to regularly check unicode emoji are up to date with those in server"
These change infrequently, but it would be useful to be alerted when these need to be updated.

We have a script which fetches and converts the emoji right now, which should allow this to be automated fairly easily.

[2021-02-07 19:00] prah23 commented on #885
@zulipbot I'm still on this.

[2021-02-08 09:16] Ezio-Sarthak commented on #894
Given no recent response from the repo maintainer, I surfed through different repositories but wasn't able to find a suitable one to contribute. I'd appreciate it if you could suggest more such repositories :sweat_smile:

[2021-02-10 10:55] Ezio-Sarthak commented on #912
Would love to automate this :)

[2021-02-10 20:54] Abhirup-99 commented on #892
I would love to work on this issue.

[2021-02-11 19:27] #743 closed

[2021-02-11 22:50] ahmedabuamra commented on #899
@zulipbot claim

[2021-02-12 16:21] Ezio-Sarthak commented on #912
@zulipbot claim

[2021-02-13 01:48] klfoulk16 opened #919 "Duplicate Message"
[
![Screen Shot 2021-02-12 at 7 21 15 PM](https://user-images.githubusercontent.com/57010984/107838282-2be49780-6d73-11eb-92aa-5f75fb569b22.png)
]

This occurred in the desktop stream in the 'blank white screen' topic when I attempted to send a message using ctrl d. I got a bit impatient and tried pressing ctrl d a second time before the message appeared. Then when it appeared it was there twice.

[2021-02-13 01:51] klfoulk16 opened #920 "KeyError: 'flags'"
![Screen Shot 2021-02-12 at 8 38 22 PM](https://user-images.githubusercontent.com/57010984/107838385-ac0afd00-6d73-11eb-935f-14d38cce2ee2.png)

The following error was in my zulip-terminal-thread-exceptions.log:

Traceback (most recent call last):
  File "/Users/kellyfoulk/Documents/code/zulip-terminal/zulipterminal/model.py", line 1265, in poll_for_events
    self.event_actions[event['type']](eve

[2021-02-13 16:17] klfoulk16 commented on #221
@zulipbot claim

[2021-02-13 16:20] klfoulk16 commented on #919
Pressed control D once today and had the same error occur. Using python 3.9 on mac.
![Screen Shot 2021-02-13 at 11 20 05 AM](https://user-images.githubusercontent.com/57010984/107854946-6d198d80-6ded-11eb-9fe8-d779b8845ec7.png)

[2021-02-14 01:38] klfoulk16 opened #923 "crash while using search"
I was using the zulip search box [q] and I went to edit a former stream search. I deleted the entire search and pressed enter. Then the app crashed. I was unable to replicate this incident so I'm not sure if I should be creating an issue for it?

I am running Zulip Terminal 0.6.0+git on mac in a Z shell....The following was in my zulip-terminal-tracebacks.log:

{e}

'<' not supported between insta

[2021-02-14 23:12] ahmedabuamra commented on #687
@neiljp Does it need a manual action? as it seems the bot unassigned tushar912 without removing `in progress` label.

[2021-02-15 01:00] ahmedabuamra opened #925 "Autocomplete mention with spaces between first and last names"
Mentioning a user with first name OR last name only works fine, but when trying to autocomplete mentioning them with full name, the autocomplete suggest users based on the last name only (assuming putting the cursor at the end of the last name) while it should use the words before the last name in suggestions too.

[2021-02-15 02:13] Ezio-Sarthak commented on #687
@ahmedabuamra I guess maybe the in progress label was added manually by Tushar; (commented zulipbot add "in progress" and then deleted that comment)
However, if this was done by zulipbot, it's great to file it in the zulipbot repository 👍. (I see you've commented already :))

[2021-02-15 02:14] Ezio-Sarthak commented on #687
@zulipbot claim

[2021-02-15 02:27] sumanthvrao commented on #631
@shubhank-saxena wanted to check if you had started work on this? This was on my radar for a while so I thought of taking this up if you haven't already.

[2021-02-15 05:50] Ezio-Sarthak commented on #606
@preetmishra Are you planning to push the changes in [your local commit](https://github.com/preetmishra/zulip-terminal/commit/121827541d93f7498db013a0851db7e128aae9a0) ?

I guess it would be good to merge this before #913. so as to avoid provoking the removal issue in the EmojiPicker?

[2021-02-15 07:04] neiljp commented on #606
@Ezio-Sarthak I have a WIP branch for this which improves some tests as well. I'll work on digging it out.

[2021-02-15 09:35] Ezio-Sarthak commented on #546
I've initiated my work on #543 in #874 days back, and I'm thinking to dig into it now and put forward an iteration.
Since I am proposing to show the raw message content in that view, I could add a hotkey to copy message text to the clipboard in that tab, as a later iteration and a separate commit.

[2021-02-15 14:44] silentC1C4D4 commented on #905
@zulipbot claim

[2021-02-15 17:55] cyberShaw commented on #905
@zulipbot abandon

[2021-02-17 10:51] mkp6781 commented on #126
@zulipbot add "PR needs review"

[2021-02-17 16:10] jalajcodes commented on #879
@zulipbot claim

[2021-02-17 16:11] jalajcodes commented on #905
@zulipbot claim

[2021-02-17 17:08] silentC1C4D4 commented on #905
@zulipbot  claim

[2021-02-18 07:55] #781 closed

[2021-02-18 09:10] jalajcodes commented on #905
@zulipbot claim

[2021-02-18 09:47] avats-dev commented on #895
@neiljp can you guide me a bit to resolve this? I would like to contribute.

[2021-02-18 09:50] avats-dev commented on #873
This chat reference is giving 404. @Abhirup-99 can you guide me what needs to be done here? Thanks.

[2021-02-18 09:51] avats-dev commented on #925
Can anyone help me out how this could be resolved?

[2021-02-18 13:41] Abhirup-99 commented on #873
Hi @avats-dev, thank you for expressing interest in the issue.
There is no "meta" key on the keyboard, but `alt` serves as the meta key. We would like so documentation entry in the faqs section related to this. Research what's the meta key on mac/windows and make a small entry in the faqs section.

[2021-02-18 23:55] neiljp commented on #895
I would suggest ensuring you can duplicate this first, which likely should be achievable by creating a bot user and running zulip-term with the matching zuliprc file. I'm guessing the UI code is not resilient to an empty list of streams, but I've not tried reproducing this bug myself recently - you should get a traceback indicating where the error is to some degree.

[2021-02-19 19:18] avats-dev commented on #895
ok, thanks. I will try that and update.

[2021-02-20 05:43] #879 closed

[2021-02-21 01:40] #770 closed

[2021-02-22 05:40] neiljp opened #933 "Improve use of extra terminal width (avoid wide message view)"
I'm filing this to track @aero31aero 's work on #388 in the past, and potential areas to improve in a similar way.

I agree with the main thrust of the original PR, ie. to avoid having a central column which reaches very large widths, which can make it difficult to read messages.

The original PR does deviate from the webapp style, in that it puts space *between* the side columns and the central o

[2021-02-22 05:52] neiljp opened #934 "Topic -> Stream zoom-out fails for old topic after viewing recent up-to-date stream"
To reproduce:
1. Narrow to a stream you're up to date on (select stream in stream list) -> interleaved stream view
2. Move cursor left, toggle into topics view, `q` and search for eg. `388`, hit enter -> topic view for that topic
3. Hit `z`

I'd expect this to zoom out to the context of the message that was selected, in the stream view, eg. around April 2020.

Instead this goes back to the first s

[2021-02-28 20:25] neiljp opened #938 "Support symbol "themes" to allow varying levels of icon/symbol rendering"
Spinning this feature idea out from #178, which this could end up resolving and is a relevant read.

The idea is to add a feature to support terminals with various levels of unicode support, so that the UI can look reasonable on basic terminals, "typical" ones and potentially up to ones with recent emoji support - though rendering of emoji themselves in place of our current text rendering is likel

[2021-03-02 02:44] #126 closed

[2021-03-04 08:31] zee-bit commented on #578
@zulipbot add "good first issue"

[2021-03-04 08:33] mkp6781 opened #940 "Remove unstarred messages from starred messages narrow"
Steps to reproduce:
1) Star a message. You can find it added to the starred messages narrow.
2) Now unstar it. The star in the top right corner is no longer visible but the message can still be seen in the starred messages narrow.

This is the case only within the same ZT session. As per the behaviour in the webapp, unstarred messages should be removed from starred messages narrow immediately.

[2021-03-04 10:18] b-thebest commented on #578
Can I work on this ?

[2021-03-04 16:26] Abhirup-99 commented on #940
Can I take this up?

[2021-03-04 16:29] Abhirup-99 commented on #940
@zulipbot claim.

[2021-03-04 18:05] mkp6781 commented on #940
Yes you can go ahead. 👍🏼

[2021-03-05 08:37] zee-bit commented on #402
This is not necessarily true. It checks for the number of `child-tags` inside `blockquote`, and if its greater than 1, it skips the first line and indents the rest. Probably, because of this line in `indent_quoted_message()` :
[code]
Example: https://chat.zulip.org/#narrow/stream/7-test-here/topic/quote.20zt.20FAIL/near/1127598

[2021-03-08 14:36] asdf8dfafjk opened #944 "Just want to say thank for your the amazing piece of software"
It's ultra intuitive! When I started it told me that hjkl could be used and I didn't have the patience to read further somehow assumed that it's modal. And then from there on everything was super intuitive, hit-esc, `r` or `e` on messages.

Coming away really impressed and thankful!

[2021-03-08 16:19] neiljp commented on #944
@asdf8dfafjk Thanks for the positive feedback!

I should note that while our navigation is adjusted to handle a TUI, a lot of our keys do come from the main webapp.

If you have any problems please do let us know on here - or subscribe to #**zulip-terminal** on chat.zulip.org, or other channels for the wider community of course :) (We don't yet have account sign-up/generation in zulip-term, unfort

[2021-03-08 16:50] asdf8dfafjk commented on #944
Oh please, when software just works, it's such a pleasant experience, and yours is already amazing (in the true sense of the word). The more I use it (in small chunks so far since I'm new) the more I enjoy it. `Ctrl-A` also seemingly considers puncutation, that's a very nice touch!!

Can't wait for IRC to be finally deprecated

[2021-03-09 04:51] mkp6781 commented on #871
I would like to work on this issue. On taking a look, it seems that <kbd>x</kbd> is working fine while <kbd>c</kbd> is creating the wrong compose box. Is this the issue that needs to be resolved here?

[2021-03-10 00:01] neiljp commented on #944
A lot of our text entry is courtesy of `urwid-readline`, though you may notice we currently override a few of the standard keys - there are only so many keys/combinations available! (particularly across platforms)

[2021-03-10 00:18] neiljp opened #945 "Improve key rendering in documentation"
There are a few improvements we can make in the script which generates `docs/hotkeys.md`; some of the same changes could be added to the rendering of keys in the help menu too.

* [x] space-separated keys (page up/down) are rendered as separate keys in `hotkeys.md` - they should be one key
* [x] we may wish to capitalize or otherwise rename some keys, from those understood by urwid to how they sho

[2021-03-10 00:30] b-thebest commented on #905
@zulipbot claim

[2021-03-10 00:30] b-thebest commented on #578
@zulipbot claim

[2021-03-10 00:31] b-thebest commented on #578
@zulipbot claim

[2021-03-10 15:28] zee-bit commented on #837
@Ezio-Sarthak are you still working on this or can I take this up?

[2021-03-10 16:58] Ezio-Sarthak commented on #837
@zee-bit Sure, you can take it up 👍

[2021-03-12 18:52] avats-dev commented on #925
Hii, any updates or tips on this?

[2021-03-13 15:41] zee-bit commented on #151
@neiljp This issue seems to be fixed by #854, should we close this?

[2021-03-13 20:04] neiljp commented on #151
This is now likely pending on #928.

[2021-03-13 21:25] zee-bit commented on #151
Ahh...sorry. It was user mention syntax and not the quoting syntax we recently merged. :)

[2021-03-14 05:38] #871 closed

[2021-03-14 16:06] klfoulk16 commented on #578
@neiljp Is this still a desired addition? It seems like a great issue to work on while getting acquainted with the codebase. Would the desired behavior look something like this; however the number "2" in the image would be white instead of yellow?
![Screen Shot 2021-03-14 at 12 00 49 PM](https://user-images.githubusercontent.com/57010984/111075139-ed9adf00-84bc-11eb-9348-8a46c3cb2c72.png)

I also

[2021-03-14 19:09] neiljp commented on #578
This is still a feature to add, to match that in the webapp.

The text could be the default color in the first version (though as you say, not the count color - ie. not yellow in the default theme), though we can think about a separate style for it, or reusing an existing one.

The other aspect is it would be useful to have this depend upon the user setting in the server, namely "Show counts for s

[2021-03-15 01:10] #940 closed

[2021-03-15 18:32] mkp6781 commented on #676
Since we have #739, I think we can close this issue specifically for `SEND_MESSAGE` and `GO_BACK` because these tests are already included now.

[2021-03-16 19:57] zee-bit commented on #406
@rht  `urwid.Text` can be specified with a [display attributes](http://urwid.org/manual/displayattributes.html#text-markup), if that's what you were looking for.
You could also wrap your widget in `urwid.AttrMap`, if you want to assign a display attribute for the whole widget, or if you want to change one or more display attributes to other display attributes.

[2021-03-17 15:13] zee-bit commented on #469
@neiljp any particular reason why it's still partially resolved?
A quick `git grep` indicates we have covered almost all cases of hardcoded keys in keypress events.

[2021-03-17 16:31] neiljp commented on #469
I'm not entirely sure originally why this was left open. However, there are still explicit checks and/or calls to keypress with specific characters - that's not necessarily test-specific, though things (including tests) may break if we customized the keys.

[2021-03-17 17:02] zee-bit commented on #469
Right. There are few instances of hard-coded keys that are not specific to tests, do you want me to fix those?
I have a small UI improvement PR that I was about to propose. I can push this refactor into that PR -- though, this may not be a good practice.
Or, I can make a new PR, with a few more reactors if I could find?

[2021-03-17 18:51] neiljp commented on #469
Generally we want all the keys to be flexible to allow for customization, so explicitly calling with particular keys is quite likely to break at some point.

A separate PR is fine - it can often be quicker and easier to review, as long as it's straightforward. If there is another commit then they all need to be considered.

[2021-03-17 20:00] as2539-ctrl commented on #905
@zulipbot claim

[2021-03-18 12:12] Ezio-Sarthak commented on #567
I think the only aspect left for this issue is the migration from type comments to type annotations?

[2021-03-18 13:34] Ezio-Sarthak commented on #648
Could you elaborate about automatically updating, and potentially in which file?

[2021-03-19 08:26] Abhirup-99 commented on #895
@avats-dev are you still working on this? I would like to take a stab at it.

[2021-03-19 20:39] neiljp opened #954 "Narrowing with a contextual message id should select that message"
If using a link such as generated in a quoted message, then the UI doesn't select that message - which seems like the behavior to be expected.

To reproduce:
* quote a message and send it
* move cursor onto message with quote
* open message info popup, move cursor onto link to original message & press enter

I'd expect the original message to be selected, but we don't do this.

Current behavior is

[2021-03-20 08:13] zee-bit commented on #588
This looks interesting, didn't know there was such a feature in Zulip. :sweat_smile:
I would love to work on this. :smile:

[2021-03-20 13:03] Ezio-Sarthak commented on #945
Apart from the 2nd checkbox (which I don't seem to follow clearly), other improvements seem to be reasonable. I'd happy to push a PR for this :)

[2021-03-20 13:21] Ezio-Sarthak commented on #925
@avats-dev Apologies for the slow reply. I'm afraid you've understood the issue correctly?

I think the issue description might need some improvements, as the autocomplete doesn't seem to show any results for full names?

Hop in anytime in [#zulip-terminal](https://chat.zulip.org/#narrow/stream/206-zulip-terminal) stream on czo. Feel free to discuss any issue/bug/problems etc in the community :)

[2021-03-20 15:44] neiljp commented on #945
The second checkbox is a simpler version of the third really, namely if urwid only generates `tab` but we wished to output `Tab`; the third point might have us adding a tab representation, if that's appropriate, or as indicated there, extra arrow keys.

[2021-03-20 15:51] neiljp commented on #925
@avats-dev Are you asking as a user or a potential contributor?

The solution may involve dynamically updating the delimiter which urwid-readline provides, but that's just an idea based on the approach I took to resolve this with autocomplete with spaces in the stream header, which is a lot simpler than general autocomplete in a body of text.

[2021-03-20 16:04] Ezio-Sarthak commented on #945
Makes sense. I seem to have resolved the first part by a one-liner change :)
We might discuss the 4th aspect, as you said, in CZO (others too) in any case :+1:

[2021-03-20 16:12] Ezio-Sarthak commented on #945
So, potentially something like `help_keys`, in addition to regular `keys` parameter in `KEY_BINDINGS` ?

[2021-03-20 16:31] neiljp commented on #945
Yes, one approach could be to have an extra field, but then we risk having them getting out of sync. I think when discussing this on the stream with @mkp6781 I suggested having a general lookup table for rendering (just hokeys.md, or help too) - that avoids the synchronization issue with another layer of indirection (https://en.wikipedia.org/wiki/Fundamental_theorem_of_software_engineering)

[2021-03-20 16:42] neiljp commented on #945
Regarding the fourth point, the webapp takes the `shift + <uppercase visual of key>` approach, though I think there was definitely a time when this was not the case. For hotkeys.md that seems pretty useful, but it seems less obvious within the application since the text is less styled and more obvious? (though of course then we'd have different representations which could be confusing)

[2021-03-20 17:00] Ezio-Sarthak commented on #945
@zulipbot add "further discussion required"

[2021-03-21 10:32] Ezio-Sarthak commented on #894
Recently, I finished uploading my first pypi package `urwid_picker_widgets`! It mainly includes `*Picker` widgets, such as `time_picker`, `date_picker`, `integer_picker`.

Link to the project: [urwid-picker-widgets](https://pypi.org/project/urwid-picker-widgets/0.1/)

Hope this helps taking this issue forward :)

[2021-03-21 18:03] mkp6781 commented on #945
Just to clarify. Is this only regarding page up/down or in general. Before having the automation script, most of the space separated keys were rendered separately apart from maybe one or two(like Alt Enter).

[2021-03-21 18:06] mkp6781 commented on #945
You can go ahead with it @Ezio-Sarthak. 👍🏼

[2021-03-22 08:31] codewithvicky commented on #836
Can you Explain what to do and please give me this issue to solve

[2021-03-22 17:06] neiljp commented on #836
@codewithvicky The link above describes how Zulip allows editing of messages from a server perspective.

The open PR may go some way towards resolving this, but may need extra work.

This may not be a good first issue, if that's what you are looking for, but you are of course welcome to look into it.

[2021-03-23 06:48] Ezio-Sarthak opened #956 "Crash on narrows with inactive bots/deactivated users"
Steps to reproduce:

 - Make a bot (potentially of any type)
 - Start the conversation (a couple of messages, to help narrow to it later)
 - Deactivate the bot (from web app :))
 - Perform either narrowing or quote reply actions on that conversation in ZT

You'll encounter a traceback, with the error `Key error: <bot-email>`. The key error corresponds to `Model.user_dict`.

This should likely be t

[2021-03-24 13:05] klfoulk16 commented on #945
Regarding the fourth point, I've updated the getting started tutorial to use <shift><p>...shall I update it to include the plus? I feel like previously we didn't use that but now I see all of the hotkeys have that plus.

Are we planning to use this method for all uppercase hotkeys? Originally I know we were discussing P becuase p and P look similar, but s and S (narrowing) also have the same issue

[2021-03-24 15:35] klfoulk16 commented on #578
@zulipbot claim

[2021-03-24 20:18] zee-bit commented on #954
@neiljp quoting a message generates a near message url (internal link) to the quoted message, which is already handled by #708?
And, I am not able to reproduce as you said. The UI seems to select the message fine for me.
Could you please clarify once?

[2021-03-24 20:41] neiljp commented on #954
At minimum this doesn't occur when within the same narrow.

I thought it also didn't work for some cases when across narrows, but we may need to check manually or maybe check/add tests for this?

[2021-03-24 20:57] zee-bit commented on #954
I already did a few manual tests for across narrows, and it seemed to work fine for all cases.

I am not sure if adding tests would be any better since we have most of the tests related to parsing/narrowing already implemented in #708 ?

[2021-03-25 16:14] Rohitth007 opened #957 "Zulip crashes on pressing 'n'"
**OS**: Ubuntu 20.04
**Terminal**: Gnome-Term 3.36.2
**Shell**: Bash running inside **_TMUX_**

Zulip crashes instead of going to the **'Next Unread Topic'** when pressing the hotkey **'n'**.
_**TMUX**_ might be a reason too.

Output of `zulip-terminal-tracebacks.log`
[code]

[2021-03-26 18:29] timabbott opened #961 "Investigate adding support for multiple organizations"
This is likely to be a fairly big project, but I think it's one of the most important large structural changes that zulip-terminal may want to make.

There's an argument that we don't need this feature, because one can just run multiple copies in different terminals (or terminal tabs within a window).  But I think there will certainly be users who'd much prefer to have a single terminal user exper

[2021-03-26 18:49] neiljp commented on #961
Do we have particular users who want this feature? There has been mention of this in the past, but like you say this is easily achieved with multiple terminal sessions. This is documented in the FAQ as it stands.

One part we could certainly improve is to handle profiles better, rather than just encoding everything in the zuliprc, which should be a lot easier to handle now that we're at python3.6+

[2021-03-26 18:57] neiljp opened #962 "Investigate support for pasting text containing characters like tab"
Pasting in the terminal typically involves pasting the text literally as a sequence of keystrokes. This means that elements of text such as tab characters end up translating into an intent to switch into another text entry box during composition of messages, whereas I'd expect in every case this is not expected or desired.

[2021-03-26 19:06] timabbott opened #963 "Test zulip-terminal with new hl_lines markdown feature"
We're close to merging https://github.com/zulip/zulip/pull/16984, which will add support for the pygments `hl_lines` feature (being able to highlight lines in a markdown code block).

We should test how that new feature looks in the terminal app, and if it's ugly, fix it.

As a sidenote, is it useful to document features like this in the API changelog?

[2021-03-26 19:26] timabbott commented on #961
I think basically anyone who uses Zulip in their own community and wants to have chat.zulip.org open as well wants this.  And there's a bunch of projects, like Rust, that have a constellation of Zulip organizations (one for the Rust language, and then individual ones for different libraries).

There is prior art for putting multiple things in a zuliprc file: https://zulip.com/api/deploying-bots#ru

[2021-03-26 20:13] neiljp commented on #961
I'm not denying that the feature of having multiple ZTs open is desirable, just suggesting that having that occur in the same process rather than being handled elsewhere by a system that already handles it well (tabs/windows) is much lower priority.

While we do have an object model that could lend itself to multiple organizations, and tidying that up to support this would be a good project in its

[2021-03-26 20:27] neiljp commented on #963
I assume this issue is primarily to ensure we don't have a problem with it rendering badly, as opposed to it being rendered properly?

My recollection is that we ignore unknown rendered tags and don't currently style code as it's pretty challenging given we're already styling the rest of the UI, though this has been suggested once or twice in the past.

Provisionally we could take the test case ex

[2021-03-27 01:15] #957 closed

[2021-03-27 01:17] neiljp commented on #957
@Rohitth007 While the behavior of `n` is not perfect, this should avoid the crash issue and return to the previous behavior - it'd be great to know if you agree :+1:

[2021-03-27 09:17] zee-bit commented on #678
@neiljp I too think `~/.config/zulip/zuliprc` would be better approach than having a `.zuliprc`, mainly because having just one sub-directory instead of a number of dot files(for different profiles) and/or dot directories will reduce clutter when "hidden" files are displayed in GUI, and ofcourse pushing all user-configuration files to a dedicated sub-directory is always an attractive solution. :)

[2021-03-27 09:20] Ezio-Sarthak commented on #962
I just tested this with the search boxes as well. It just ignores any tab spaces in that case.
[unrelated] In search boxes, a newline character `\n` is treated as `enter` keypress?

Since these would be a risk for every such `ReadlineEdit` widget we use, we might file a relevant issue there?

[2021-03-27 11:31] Rohitth007 commented on #578
@zulipbot claim

[2021-03-27 14:11] Rohitth007 commented on #578
Looks like someone is already working on it. @zulipbot abandon

[2021-03-27 15:23] Rohitth007 commented on #27
@neiljp The developer tutorial file seems outdated can I work on this?

[2021-03-27 15:37] Rohitth007 commented on #27
@zulipbot claim

[2021-03-28 08:19] zee-bit commented on #767
For reference: ea8321d is the commit that removed notifications on WSL and secured it on Linux & macOS.

[2021-03-28 12:14] zee-bit commented on #767
@neiljp But, I don't understand the security flaw in WSL notifications. I just tested it myself, and although the notifications work fine, the terminal's display breaks(sort-of), with all the text getting exceedingly small. Is this the reason for removing notifications in WSL or was there some other major security-issue?

[2021-03-28 18:36] neiljp commented on #962
The reason we have an issue is since the text is not treated differently when it's pasted? So `tab` only has an issue with when we're mid-compose, and similarly 'enter' only has an effect if we treat it differently too.

The solution - which applies to whatever text entry widget we used - might involve having a mode for regular and 'paste', a little like vim has by default. In that mode it'd skip

[2021-03-28 18:38] neiljp commented on #954
Have you tried within the same narrow?

[2021-03-28 21:37] neiljp opened #965 "TRACKING: Update to use modern API elements (retaining support to 2.1)"
There are various situations where we currently use older elements of the API which have been deprecated. We should migrate to the newer forms, while possibly retaining (or extending) compatibility down to our stated lowest supported version if the server is older (from feature level `None` to `1+`, ie. the current dev release).

Some API elements to consider: (more likely can be added)
* [ ] mess

[2021-03-28 22:10] neiljp commented on #678
@zee-bit See #961 for my general thoughts on this, which should clarify some of these points.

Re checking with the main project, I meant what namespace we should use under `.config` - zulip? zulip-terminal?
This could tie in with improving the server/webapp approach to saving/naming zuliprc files, potentially - but for now we would need to rely on users saving/naming them appropriately, unless we

[2021-03-29 07:30] zee-bit commented on #954
Okay, understood.
So the problem is quoting generates a link to the message in the `['stream', 'topic']` narrow, and if you are already in the same topic narrow, `model.set_narrow()` returns True (it assumes you are already in the correct narrow), and the message doesn't get selected.

Solution - Check if contextual msg-id (`anchor`) is provided to the `controller._narrow_to` method and don't retu

[2021-03-29 08:28] zee-bit opened #968 "Add support for audible notifications in Linux and WSL."
This issue is drawn-out from #887.

Currently, ZT supports audible notification only in OSX. We need to extend the support for other platforms as well. From a brief recent discussion in [#development help](https://chat.zulip.org/#narrow/stream/49-development-help/topic/audible.20notifications.20for.20ZT), we are thinking of using a system package(like `paplay` from [`pulseaudio-utils`](https://man

[2021-03-29 18:21] mkp6781 commented on #898
I would like to work on this issue.

[2021-03-29 18:21] timabbott opened #970 "Handle new USER_DEACTIVATED and REALM_DEACTIVATED API error codes."
https://github.com/zulip/zulip/pull/17872 adds a couple of new custom error codes for errors that I'd expect us to see when trying to connect to a deactivated organization with the terminal apps (and also will change the error codes to 403).

We should check if these help the mobile app do better error handling for this error when trying to login or start the app.

(I added a label called "api mig

[2021-03-29 18:35] zee-bit commented on #898
@mkp6781 Thanks for your interest in this issue, but I have already been discussing/working on this for a while now. I have been meaning to add a reliable copy-paste mechanism for ZT in #880 (currently only for stream-email but could be easily extended for `MessageLinks` as well.)
Here are some of the recent discussion revolving around this issue on CZO, if you want to have a read:
- [#zulip termi

[2021-03-29 22:05] zee-bit commented on #674
@neiljp @kaustubh-nair I guess we are already displaying a footer message in such a case. Should we close this?
(I tested this on the dev-server)

[2021-03-30 18:04] suzaram3 commented on #905
@zulipbot  claim

[2021-03-31 00:38] sumanthvrao commented on #709
Cross-linking here to note that zulip/zulip#17124 is now merged. The `topic_links` format would now contain a list of dictionaries rather than the list of URL strings. This means that for ZT to support all server versions, we would have to tweak the way this is handled. Also, the new format benefits from having the text along with the URL for each link in the topic, thus simplifying the client-sid

[2021-04-01 14:25] zee-bit commented on #533
@preetmishra We could use `primary_key_for_command` instead; that will only give the `up` and `down` keys (or primary ones).
I have a fix for this issue as #953(one of the commits is borrowed from your #539 :sweat_smile: :).

[2021-04-01 15:24] Rohitth007 opened #975 "Focus_Index_Before_Search doesn't work as intended"
Suppose one is currently focused on the 10th Stream. After "escaping" search it is expected that the focus is back on the 10th Stream but it rather focuses on the stream it was in focus **during the search** right before escaping.
<img src="https://user-images.githubusercontent.com/64144419/113316166-aa00fb80-932b-11eb-879b-49fb871738d6.gif" alt="wrong-focus" width="200"/>
This is also related to

[2021-04-01 15:29] Rohitth007 commented on #975
@neiljp Also, wanted to ask if this feature is necessary because if you press `q` when u are at `All messages` or `Middle Column` or `Right Column` there is no way of knowing which was in focus as each of these are different `ListWalkers`

[2021-04-01 15:30] Rohitth007 commented on #975
@zulipbot add "further discussion needed"

[2021-04-01 15:32] Rohitth007 commented on #975
@zulipbot add "further discussion required"

[2021-04-01 15:40] Rohitth007 commented on #923
@neiljp
This happened with me too...
Finally figured out what caused it!!
**Steps to reproduce bug:**
* Search for something which you know for sure doesn't exist, eg `aaaaaa`
* Press `Enter`
* Press any key other than `q`, `esc` or any other shortcut key-binding that triggers an event. Eg: `down-arrow`
* Now press `esc`

Zulip **crashes**

[2021-04-01 16:02] Rohitth007 commented on #923
@zulipbot claim

[2021-04-01 17:04] mkp6781 commented on #896
@Ezio-Sarthak Can I take this up if you have not working on this?

[2021-04-01 17:13] Ezio-Sarthak commented on #896
@mkp6781 I just thought of pushing a PR for this a while ago, before I got occupied with other issues. I (vaguely) remember I have a remote branch for this, and looking forward to revive and push the work ASAP 😅. Thanks for querying 👍. I hope I'm able to clarify 😅

[2021-04-01 17:55] mkp6781 commented on #863
My opinion would be to leave it as is since the red for @ mentions seems to be good enough for distinguishing from other messages.

[2021-04-01 18:57] neiljp commented on #923
@Rohitth007 Thanks for reproducing this :+1:

[2021-04-01 21:54] #221 closed

[2021-04-02 03:30] dehnert commented on #920
I also hit this, but don't know why. (Zulip-Terminal in screen in Gnome Terminal, checked out from git today.)

[2021-04-02 09:10] Ezio-Sarthak commented on #863
I'm not sure if I'd agree to that. The mentions could be red for all users, right?

[2021-04-02 09:24] zee-bit commented on #863
The title of the issue could be misleading. I guess what Sarthak meant is to style those messages which contain the current user's mention(i.e. the user using ZT) - just like the webapp. The red for `@` mentions are used for highlighting all username and distinguishing it from the rest of the message.

@Ezio-Sarthak Perhaps amending the title/description to be a bit more apt, would be better?

[2021-04-02 12:31] Ezio-Sarthak commented on #863
@zee-bit thanks for clarifying. I've update the title accordingly. Apologies for confusion. Is it appropriate now?

[2021-04-03 04:06] dehnert commented on #961
FWIW, historically I think I'm a lot more likely to read any of chat.zulip.org if I'm reading it in a client I'm using for other things. I don't think I've ever kept a tab open for long, but when it can live in my Barnowl or Snipe session that I'm also using for Zephyr and possibly other Zulip realms, it's (maybe?) stuck. (I haven't continuously used a chat client that supports Zulip + other thing

[2021-04-03 08:31] Ezio-Sarthak commented on #965
Makes sense. I'd also like the intent of refactoring different API formats to restrict performing amendments in a single dedicated file (for instance, `api_types.py`).

Re the handling of `subject_links` (last point), I've added some initial refactor commits providing support for `modernizing message API response` (as discussed), in an unrelated PR #867. This could be extended in general for diffe

[2021-04-04 00:39] neiljp commented on #961
@dehnert This sounds like two aspects:
  1. if all configured profiles are as easy as possible to get to, up to the point where connections just start up automatically, then the user is more likely to stay connected with that community
  2. having multiple profiles in the same client would enable treating multiple communities with a "shared inbox" experience, eg. `n` cycles through all organizatio

[2021-04-04 00:42] neiljp commented on #965
@Ezio-Sarthak Re your first point, I'm not sure quite what you're saying, but I expect we'll end up with feature-level-dependent types in `api_types.py`. Were you meaning to have more than that?

[2021-04-04 00:57] dehnert commented on #961
Sure. I think the second is significantly more important, though - if it's one more place to check, even if it's equally easy, I think it's likely to fall by the wayside.

[2021-04-04 04:50] mkp6781 commented on #715
I have not exactly understood what the issue is here. Could you elaborate @neiljp .

[2021-04-05 08:21] Ezio-Sarthak commented on #448
Add-on to the list: Auto complete time mentions in message content (#894)

[2021-04-05 17:47] neiljp opened #983 "UI for current user to move a topic between streams"
This issue represents the feature of moving a topic between streams, ie. not just renaming a topic inside the same stream.
This contrasts with #826, which is focused on updating the state from such changes for all other users via events.

Given that this currently requires admin+ rights, I've labelled this appropriately. We aren't currently focusing on admin actions, but if this becomes a moderato

[2021-04-05 17:48] neiljp commented on #826
I just clarified that this is the user-visible feature, ie. when receiving events triggered by other users updating topics.

I've split the UI aspect of this into #983, which is the admin-requiring feature.

[2021-04-05 18:03] neiljp commented on #726
@olynch I'm closing this since we've not heard back from you for further information. Please reopen if you have more information for us or can reproduce this problem!

For reference you may be interested in:
* FAQ entry here: https://github.com/zulip/zulip-terminal/blob/main/docs/FAQ.md#how-do-i-access-multiple-servers
* a future aim, #961

[2021-04-05 18:03] #726 closed

[2021-04-05 18:15] neiljp commented on #680
Supporting even a simple version of this would enable us to unblock use by more users and give details of how to work around this between releases.

We likely want to work on #678 first to enable separation of config for profiles and options, though we could always migrate to that later? We likely want a centralized config for this since generally this is unlikely to be specific to a profile, thou

[2021-04-05 18:21] neiljp commented on #648
Automatically updating would be the source of the provided configuration; I'm wary of doing this as we're touching user config, but we're not yet at a stage where we need to consider this change. This may be less problematic after #678 if the config is separated from profiles and we generate a guaranteed new proposed config file.

[2021-04-05 18:23] neiljp commented on #646
Once this is resolved we should follow-up with UI to enable this action for streams and topics.

[2021-04-05 18:29] neiljp commented on #965
The first point in the list looks like #579.

[2021-04-05 18:37] neiljp commented on #567
I'm closing this now, since we've applied this to the code and tests.

[2021-04-05 18:37] #567 closed

[2021-04-05 18:42] mkp6781 commented on #646
I can work on this once I get @kaustubh-nair  #535 ready for merging. I'll rebase the open PR and make changes necessary.

[2021-04-05 18:42] neiljp opened #984 "Consider changes needed/possible when Python 3.6 reaches end of life"
This is the next iteration of #567, and is mainly for tracking. See that issue for potentially useful tools.

3.6 is due to end 23 Dec 2021 according to https://endoflife.date/python or more officially https://devguide.python.org/#status-of-python-branches

[2021-04-05 18:49] neiljp commented on #528
This is being most recently worked on in #980.

[2021-04-05 20:07] neiljp commented on #767
The issue is the handling of the necessary quoting, which is/was not clear.

[2021-04-06 14:05] sumanthvrao opened #985 "Add support for running code snippets using the "playground" feature."
This is definitely not a near-term priority feature right now, but just as a heads-up to a feature worth potentially integrating into all clients in the future.

zulip/zulip#16432 (which is the tracking issue) details support for "playground" links which allows one to easily open the contents of a code block in an external playground. (E.g: Rust code being opened in the rust online playground).

W

[2021-04-06 19:25] neiljp opened #986 "TRACKING: Increase support for widgets (**poll**, todo, trivia, ...)"
This needs careful handling since it is a fairly underdeveloped feature in the server which may change. However it has not changed significantly for some time and `/poll` is now used quite often. On that basis it would be good to be able to:
* [x] View polls which are in messages
* [x] Have polls update as users 'vote'
* [ ] Respond to existing options
* [ ] Add new options

These are in order of

[2021-04-07 06:10] Rohitth007 commented on #27
@zulipbot @neiljp I think the PR #966 is ready to be merged, could you take a look at this?

[2021-04-07 20:16] neiljp opened #988 "Handle user update events & consequential UI changes"
Currently we regularly get new presence information, but I believe the user information is fixed as per the start of the session.

We should implement event handling to update the user data, as well as UI changes which may be necessary promptly, ie which aren't refreshed from the updated model data on a regular basis or as needed, though we could consider updating more frequently for better repres

[2021-04-07 20:20] neiljp opened #989 "Allow users to update their profile details"
This should likely block on #988 first, though strictly speaking we could update the local data before receiving update events.

#988 relates what happens if user details are updated in another client/API; this issue is regarding enabling the active user to update/set their profile information via a UI.

This could be connected to #848, or some variant popup depending on the user, though that may

[2021-04-08 06:32] #709 closed

[2021-04-08 13:43] Ezio-Sarthak commented on #715
@mkp6781 to clarify, take a look at the 1st, 3rd, and 6th message in the screenshot below. (These are some examples of the unwanted link behavior discussed above).

The expected behavior is to add those links too as footlinks. We currently ignore the rendering of such classes of links by adding them to `unrendered_div_classes`.

Hope this clarifies the issue :)

![Screenshot from 2021-04-08 18-58-

[2021-04-08 21:12] neiljp commented on #715
This is a blocker for showing the links generated by the new giphy feature, as discussed at https://chat.zulip.org/#narrow/stream/101-design/topic/giphy.20integration/

[2021-04-11 14:04] Ezio-Sarthak commented on #965
@neiljp To clarify, my intent was that we could have mapping layers between different feature-level dependencies, such that the same feature level data (TypedDicts) would be in a single file, so as to head for the `total=True` aspect for TypedDicts.

(I could now see my above comment could be misleading. Sorry for confusion :sweat_smile:)

[2021-04-11 23:04] prah23 opened #992 "Handle typing events from multiple users in a PM narrow"
We currently don't support displaying multiple users' typing statuses in a PM narrow.
In a huddle/group PM, we only handle typing events from the first email in the narrow specification.
We should be handling typing statuses from all the senders in the huddle.

The web-app handles multiple users typing this way:
[code]
with Person 1 being the user that sent the most recent `start` update. Since we

[2021-04-12 02:50] Ezio-Sarthak opened #993 "TRACKING: Event handling improvements"
- [ ] #588 : Alert words handling
- [ ] #988 : Update user display settings
- [ ] Update global notifications (currently stream-based priority? #666)
- [ ] #816 Streams (add, delete, update) (#851)
- [ ] #529 Upload/Attachment events
- [ ] Submessages (e.g., polls) (#287)
- [ ] #988: User status updates.
- [ ] Custom profile fields (extension of user info popup #848)
- [ ] Handle Default stream up

[2021-04-12 02:51] Ezio-Sarthak commented on #993
@zulipbot add "area:event handling"

[2021-04-12 02:51] Ezio-Sarthak commented on #993
@zulipbot add "area: event handling"

[2021-04-12 06:35] neiljp commented on #993
Tagged with GSoC, but this is across multiple areas so as per the tracking nature of this issue, this isn't something one person will likely work on.

[2021-04-13 19:22] timabbott opened #995 "Migrate from `realm_filters` event format to new `realm_linkifiers` format"
In https://github.com/zulip/zulip/pull/17596, we changed the format for `realm_filters` events to a new `realm_linkifiers` format that is more rational and extensible.  We should migrate clients to this new format.  (See the backwards-compatibility notes in the API documentation, but I expect a correct implementation will choose whether to send `realm_filters` or `realm_linkifiers` in `event_types

[2021-04-14 08:42] Ezio-Sarthak commented on #311
Steps to reproduce the bug in PM narrows (on main):
 - narrow to a very early PM message (e.g., with Welcome bot).
 - narrow to All PMs.
 - You'd see there's a gap in messages, particularly older ones belonging to PMs in point 1 above, and before.

More discussion re this [here](https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Handle.20internal.20links.20.23T708/near/1106016)

[2021-04-14 16:22] Ezio-Sarthak commented on #282
This would be as easy as adding a flag `2**24` in `--color-depth` argument.

We could also discuss here adding `88` too, though the default dark view for it doesn't seem readable at all :)

[2021-04-15 02:10] neiljp commented on #256
There haven't been significant known issues related to UTF-8 in this way for some time that I'm aware of. As discussed in #**zulip-terminal>ZT crashing when scrolling down the user list** it therefore feels appropriate to close this issue now and remove the advice given in the FAQ. The latter will take place shortly in #979 (testing symbol rendering using shipped script + FAQ entry changes).

Give

[2021-04-15 02:10] #256 closed

[2021-04-15 02:18] neiljp commented on #178
@feamsr00 This was a great issue to understand the problem and possibilities for solution, but I'm closing this in favor of #938 which is expected to ultimately be the approach to be implemented to solve this :+1:

[2021-04-15 02:18] #178 closed

[2021-04-16 10:53] alok commented on #961
fwiw, i'm an end-user who came looking for just this feature

[2021-04-16 14:51] neiljp commented on #961
@alok Thanks for letting us know, but just to clarify, which feature of the 2 I mentioned above?

[2021-04-19 19:29] neiljp commented on #282
Given the need for color-depth/theme compatibility after #998, I don''t mind if we leave this open to resolve the literal issue title, or close and break up into smaller issues - but I'd definitely like something open to track the incomplete support we're at right now, useful as it is already as an intermediate state :+1:

[2021-04-20 16:17] WesleyAC opened #1001 "Add support for muted users"
We've finished merging the backend for muting users in zulip/zulip#16915, and are discussing the UI in zulip/zulip#18222.

This is being implemented in the webapp (zulip/zulip#16915), and mobile (zulip/zulip#4678), and it would be excellent for ZT to support it as well.

zulip/zulip-mobile#4655 may be helpful for figuring out what implementing this looks like, it's unlikely to be very tricky.

[2021-04-20 16:24] alok commented on #961
2

[2021-04-20 18:35] neiljp commented on #961
@timabbott Did you envisage this as point one or two? Point 2 isn't available in other clients, so I'm guessing you meant point 1.

I'm thinking we could split this up to allow focus on one or the other - though of course one does depend on the other.

[2021-04-20 18:40] neiljp commented on #1001
@WesleyAC Thanks for opening this - I was just considering doing so myself :+1:

This is projected for Zulip 4.0?

[2021-04-20 21:18] timabbott commented on #961
Approach 1 (basically analogous to the Zulip desktop app -- where you can see unreads for each connected organization and easily switch which one you're looking at content for) is easier to build, and is what I'd start with because it's a subset of the work for approach 2, but it'd certainly be cool to build something more in the "approach" style. (I imagine that would mostly be a single sidebar w

[2021-04-21 06:26] neiljp opened #1002 "Make standard scrollable popups shortcut keys more obvious"
Currently we indicate in the help menu that `?` 'show/hide the help menu', and indicate that 'up/down scrolls' in the title - and similarly for many other standard popups.

This has a few issues:
* the popup title is slightly mixed with the scrolling hint
* except for the help menu, there is no hint how to exit a popup

Given that the popup title is now a bar, one solution to the first two is movi

[2021-04-21 08:22] Rohitth007 commented on #642
I was able to successfully reproduce a particular case of negative count this would be fixed after #977 is merged.
Steps to reproduce:

    Search for something.
    Wait for a message sent to any other stream apart from those in the results.
    Go to that message and mark to as read
    Count becomes negative if initially count was zero.

This is applicable for topic count and user count aswell

[2021-04-21 15:17] WesleyAC commented on #1001
Yep, the plan is for this to be in 4.0 :)

[2021-04-21 19:52] neiljp opened #1005 "TRACKING: Issues for smaller terminal sizes down to 80x24 (columns x rows)"
Known issues, in approximate priority order:
* [ ] 'All messages' is not accessible from a panel context
* [ ] Depending on user name/email and organization name/url, this can disappear from the top of the UI in small widths
* [ ] Message display is too narrow without autohide mode (manually) enabled
* [ ] Popups do not scale down appropriately if window sizes are adjusted #1008
* [ ] Autohide: cl

[2021-04-22 07:11] zee-bit opened #1008 "Make popups auto-scale with window scaling"
Currently, when ZT is opened in a terminal with a large enough size, the popups do scale with the terminal up to a minimum dimension as defined in #1005. But, when ZT is opened in a terminal with a small dimension initially, the popups don't autoscale if the terminal dimensions are expanded.

Steps to reproduce:
- Set the terminal dimension to, lets say (85 x 35), then open any popup. (e.g. `Help`

[2021-04-22 08:10] zee-bit commented on #968
@zulipbot add "missing feature: user"

[2021-04-25 00:38] neiljp opened #1009 "Improve dynamic message loading behavior"
Currently we trigger loading more messages upon reaching the end of the current available list (top or bottom), with a failed up/down causing an exception and a message fetch.

Except for network issues, users typically expect a "cursor hitting bottom/top" to literally be at the respective end of the message list, so we should change the UI such that we don't rely upon "hitting the end" to fetch m

[2021-04-26 19:56] zee-bit opened #1010 "Improve user feedback for compose box's content-length limits"
After the recent merge of #996, ZT added content-length restrictions for the compose box, which is fine as a v1, but there are potential scope for improvement particularly in the UI.

- [ ] A potential v1.5 is to strip leading whitespace, as we do for search, since those are already stripped by the server, and our restriction might block the following text from getting entered in the compose box.

[2021-04-27 18:51] zee-bit commented on #1010
@zulipbot add "area: UI"
@zulipbot add "enhancement"

[2021-04-28 02:16] neiljp opened #1014 "Minimize sending no-op message edits to server"
Currently there are cases when editing a message, where we send details to the server of a message edit, even if the topic or content have not changed. These 'no op' edits are not currently identified by the server and can lead to unexpected no-change entries in message history.

After zulip/zulip#16317 and zulip/zulip#17193 these should not be a problem and filtered from the server side, but this

[2021-04-28 05:00] neiljp opened #1015 "Add support for typing notifications in streams"
The backend for this is now merged via zulip/zulip#17040 and is expected to be in Zulip 4.0

As with the current implementation for PM typing notifications, this is split into extending the event handling, and sending stream (topic) typing status.

For the events we need to use a new client_capabilities value (none of which we set yet), stream_typing_notifications. Without that, we won't receive t

[2021-04-28 18:17] neiljp opened #1016 "Explore tidying "current message recipients" (minimal bottom compose area?)"
ZT currently has a "current message recipients" (CMR) area at the top. This is in addition to the current narrow indicator above that. Discussion in  #**zulip-terminal>Message header simplification?** suggested we should tidy this somehow.

The CMR area is an attempt to provide an equivalent to the "floating recipient bar" (FRB) of the webapp, so that for long sequences of the same recipients wher

[2021-04-28 18:32] abhijeetbodas2001 commented on #993
I get that this is not a high priority, but whenever in the future ZT adds support for handling events sent after the linkifiers in the realm have changed, we should handle the new `realm_linkifiers` events, since the `realm_filters` event type has been deprecated in feature level 54. #995 has more context. Can you update the issue description?

[2021-04-29 14:18] Ezio-Sarthak commented on #993
Thanks! Updated the issue description :)

[2021-04-30 19:37] timabbott commented on #508
Now that the server project has moved to black, it's probably a good idea to migrate this too.

@andersk may be able to help with tooling for making it easy to rebase PRs.

[2021-05-01 14:07] Rohitth007 commented on #1009
@neiljp This seems interesting to work on.
I had an idea here, could we have a **MessageInfoBar** which can be placed at the bottom of the list to create "empty space" indicating end of messages? This bar can be multi-functional as well by acting like the **date** bar in between messages similar to the webapp. (This could also help shortening the timestamp)

[2021-05-01 19:53] neiljp commented on #1009
@Rohitth007 You've raised some interesting points which I don't think we've split into other issues yet, though I'd like to keep this issue to improve the loading experience itself.

For the other points:
* #278 was an early PR which adjusted the message box to notify something similar to your bar idea for no-messages; this would solve quite a few outstanding issues and could be a less message-box

[2021-05-02 08:44] Ezio-Sarthak opened #1021 "Show contextual hints for different write boxes"
We've fairly improved the styling of compose boxes (#783/ #852/ #865), though we could improve more upon the same, by adding **context** to them. Currently, `#` and `>` are the only indicators (for an end-user) to know that a box is of stream or topic, respectively. The same is the case for PM recipients box (`To`), and (visually) no context for the message write box.

As there could be various ap

[2021-05-02 08:44] Ezio-Sarthak commented on #1021
@zulipbot add "UI" "enhancement"

[2021-05-02 08:45] Ezio-Sarthak commented on #1021
@zulipbot add "area: UI"

[2021-05-03 06:14] Rohitth007 commented on #923
@zulipbot Yes, it's still in progress.

[2021-05-04 15:09] klfoulk16 commented on #578
I'm still working on it! Actually all previous suggestions have been resolved and it's ready for review

[2021-05-05 16:11] #809 closed

[2021-05-09 20:30] neiljp commented on #578
This was fixed by #951 :tada: Thanks @klfoulk16 !

[2021-05-09 20:30] #578 closed

[2021-05-09 23:42] neiljp opened #1027 "Respect user display setting on server for whether to show starred count"
Since #951 the count of starred messages is always visible. In the webapp this being displayed is dependent upon a display setting in the server.

While there was some debate on whether to synchronize this setting for use in the server and other clients (see #**design>unread messages starred count**) this is likely a user setting we wish to respect from the webapp.

[2021-05-10 04:42] neiljp opened #1028 "Improve memory usage"
For fairly "large" servers such as chat.zulip.org memory usage can be larger than one might expect, partially since we retain all the original data sent by the server and don't currently trim entries actively.

My current resident memory for two ZT sessions is at 160M & 398M; the latter has been running longer so may have accumulated more useful data, but both are quite large. The virtual memory u

[2021-05-11 17:58] bjorn3 opened #1029 "Negative unread message count"
![image](https://user-images.githubusercontent.com/17426603/117862557-12c88580-b293-11eb-93a0-7156ed2bc8ba.png)

I got this after a rate limit due to scrolling down too fast. It doesn't go away now that the rate limit is over and I scroll down on the respective streams. `#t-compiler/help` is also stuck.

[2021-05-12 12:05] bjorn3 commented on #1029
Also got a +1 stuck now without rate limit on a different instance.

[2021-05-12 12:06] bjorn3 commented on #1029
Comparing the web and terminal version I see that there was a message that still shows up in the terminal version but not in the web version. I guess it was deleted.

[2021-05-13 12:02] bjorn3 opened #1030 "Support opening links in a browser"
On Linux this can use `xdg-open <url>`. On macOS `open <url>` and on Windows `start "" "<url>"`.

[2021-05-13 14:13] Ezio-Sarthak commented on #1030
Hi! Thanks for the report. We already have an issue filed and open PR(s) for this: See the last checkbox of #452 and PR #991 for more insights. Hope this is the issue you're trying to address.

For more discussion, join the community on [CZO](chat.zulip.org) :) The stream dedicated to the terminal client is **#zulip-terminal** :)

[2021-05-13 14:28] Ezio-Sarthak commented on #1029
Thanks for reporting this high-priority issue! This is a known regression in the terminal client and addressed via issues #642 and #574. We're actually having a hard time reproducing the negative counts, as they seem to appear in unexpected times. It'd be nice if you came up with a way of reproducing it.

Re the +1 stuck bug, this is also known, and could potentially be fixed while resolving #646

[2021-05-13 14:48] bjorn3 commented on #1029
I started using zulip-terminal the same day that I reported this issue. Since both positive and negative stuck counts have happened several times for me. Yesterday I even saw a -24. I think positive stuck counts happen more often than negative, but it is hard to say for sure as I only just started using it. I also just saw a duplicate message sent at exactly the same time. Yesterday it skipped del

[2021-05-13 14:49] #1030 closed

[2021-05-13 15:41] bjorn3 commented on #1029
I kind of fixed a stuck positive count. I went from zooming in to the topic that had the stuck count to all messages and then back to the topic. This put the "cursor" to I think the amount of stuck messages back from the end of the topic. Scrolling down eventually resulted in -1 at the last message.

[2021-05-13 16:47] neiljp commented on #1030
@bjorn3 Not sure if you saw https://github.com/zulip/zulip-terminal/blob/main/docs/FAQ.md#unable-to-open-links ?

Generally text links are selectable in a similar way, which should allow for copy/paste.

[2021-05-13 16:50] neiljp commented on #1029
@bjorn3 Do you use other clients at the same time as ZT? This is definitely a case where counts can become out of sync.

[2021-05-13 17:01] bjorn3 commented on #1029
I have the android app installed. I don't have any other clients open.

[2021-05-13 17:05] neiljp commented on #1029
The current code can have issues where a message has not been fetched in ZT but is read elsewhere (eg. mobile, webapp, other ZT, ...) so this may be expected right now. A fix is under discussion.

[2021-05-13 17:08] bjorn3 commented on #1030
Yeah, that works (I need to shift drag to select and then middle mouse button to paste with xterm), but it is more work than just clicking on it or something like that.

[2021-05-13 17:10] neiljp commented on #830
Now that ZT is becoming more popular, I'm bumping the priority of this.

[2021-05-14 15:58] bjorn3 opened #1033 "Messed up rendering"
![image](https://user-images.githubusercontent.com/17426603/118296620-7940e400-b4dd-11eb-9cf0-ff53874e1237.png)

ctrl+l doesn't fix this. Itscrolls with the exact message for which it happens.

I also saw ![image](https://user-images.githubusercontent.com/17426603/118296873-ba38f880-b4dd-11eb-8422-8605efb61c96.png) which fixed itself again.

(yellow = all the same person)

[2021-05-14 16:21] bjorn3 commented on #1033
An exception just occured. I don't know if it is related:

![image](https://user-images.githubusercontent.com/17426603/118299554-2ec16680-b4e1-11eb-9961-0c89bc332926.png)

zulip-terminal-thread-exceptions.log:

[code]

[2021-05-14 16:40] fredrikekre opened #1034 "Can't edit messages: "Time limit for editing the message body...""
I am running `zulip-term` from docker (https://github.com/zulip/zulip-terminal/blob/main/docker/Dockerfile.buster) and I am not able to edit messages I have sent, even if it is directly after. I see the error
[code]
but I can go to the browser client and edit the message just fine.

Worth noting also that https://julialang.zulipchat.com, where I noticed this, doesn't enforce any time limit on edit

[2021-05-14 22:56] prah23 commented on #1034
Thanks for taking the time to report this, @fredrikekre!

This points us in the right direction.

@zulipbot claim

[2021-05-15 17:17] neiljp commented on #1033
@bjorn3 Are you using the 0.6.0 release or a git version right now?

We improved quote handling since the 0.6.0 release, which should have resolved the issue you posted first.

The exception looks like a separate issue. We can handle it more carefully, though it suggests an internal issue - we're being told someone has unsubscribed from a stream but they aren't marked as subscribed in the first pl

[2021-05-15 17:50] bjorn3 commented on #1033
I am using the 0.6.0 release. This all happened on the rust-lang zulip, which is quite busy, so I don't know of anything specific that happened around the time the bug occured.

[2021-05-15 17:52] bjorn3 commented on #1033
I see there is a debug mode. Does it work when using multiple zulip-term instances for different servers or will they trample over each other when writing the log file?

[2021-05-15 22:58] #1034 closed

[2021-05-15 23:04] neiljp commented on #1034
@fredrikekre A fix should be in `main` now; thanks to @prah23 :tada:

[2021-05-15 23:55] fredrikekre commented on #1034
Thanks

[2021-05-16 05:27] neiljp commented on #1033
@bjorn3 I would suggest trying the git version from `main` - it's fairly stable and has new features.

Regarding debugging I'd suggest chatting on chat.zulip.org in #zulip-terminal rather than in issues - but yes, right now they will trample over each other unless they're running in a different location (other than centralizing config via xdg, I'd like to simplify this too in a similar way).

[2021-05-16 05:28] neiljp commented on #1029
I pushed a commit to the main branch today which addresses one part of this where events arriving mid-search may not update counts, but the point I mentioned above is still outstanding.

[2021-05-17 01:55] #923 closed

[2021-05-20 18:29] neiljp commented on #527
The server time will soon be exposed in the initial data, which will enable resolution of this issue.

[2021-05-20 20:55] neiljp opened #1036 "Explore substituting external lxml parser for builtin html.parser"
The largest current non-dev dependencies (above 1k) in my local venv are: (excluding small dist-info directories)
* 13344 lxml
* 10660 pip
* 10648 cryptography
*  2780 pytz
*  2224 setuptools
*  1820 urwid
*  1588 chardet (via requests)

Of the top 3, `pip` and `cryptography` are essential for the application, but on recently reviewing the `bs4` (856) documentation I wondered if we could use the o

[2021-05-20 21:01] neiljp commented on #1036
Notes comparing parser backends: https://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-a-parser

[2021-05-24 17:56] preetmishra opened #1037 "All/everyone/stream mentions don't show up in mentions narrow"
`@all`, `@everyone` and `@stream` mentions don't seem to appear in the mentions narrow.

I would recommend against testing the anomaly on any stream with a high subscriber count and would recommend using the zulip dev server.

[2021-05-24 17:59] neiljp commented on #1037
Also see #**zulip-terminal>Bug: "all" mentions** for original report and possible future discussion.

[2021-05-24 18:05] preetmishra commented on #1037
@neiljp Thanks for mentioning the stream and identifying the issue. 👍

[2021-05-27 14:49] prah23 opened #1040 "Update the topic in the header on a topic-update event while composing"
When one is composing a message to an existing topic and the topic's name is changed, the topic name is not updated in the stream/topic header (`header_write_box`).
The expected behaviour is an update in the topic header, replacing the old topic with the new one as the event occurs, so the message's destination (the thread) remains intact.
This is critical to the reading and conversation experienc

[2021-05-29 20:43] neiljp commented on #302
The drafts UI in the webapp is under discussion, and there is not yet a server-side drafts feature.

For now it would be useful to move beyond the existing draft(s) feature (1/session, not persisted).
Elements to consider:
* persistent draft(s) (currently the one draft is lost if a session ends intentionally - or otherwise, such as a rare crash)
* keep current explicit draft saving behavior, or au

[2021-05-29 22:33] zee-bit opened #1042 "Composing message when focus is on side-panel leaves it open in `--autohide` mode"
Composing a message using `x` or `c` when the focus is on either of the side-panels, leaves it open when `--autohide` is specified as a command-line arg. A similar case happens when opening a draft with either of the side-panels open, which is discussed briefly in **#zulip-terminal>Bug: Drafts focus**.

This can lead to some easily reproducible cases where both the side-panels are open, which seem

[2021-06-01 22:20] neiljp opened #1045 "Add feature to actively check for updates"
This is a follow-up to #1031. See there for details and more references, but it likely comes down to these elements:
* [ ] v1: Add network call to check API updates & warn if out of date, plus note that we call home
* [ ] v2: Add "advanced" config feature to disable calling home?

There are nuances as to how to check for updates, when to warn, etc. which we should likely discuss first.

[2021-06-05 23:39] neiljp opened #1047 "TRACKING: Follow-up to black transition"
* [ ] Add black 'badge' to README
* [ ] Document basic expected style (isort + black?)
* [ ] Document auto-fixing code at base level & editor integration
* [ ] Pre-commit hook?
* [ ] Migrate to zulint (may require updates to earlier categories)
* [ ] Consider deprecation of flake8 settings, use of autopep8, use of autoflake; use of pyflakes?

[2021-06-07 15:55] Rohitth007 opened #1049 "Globally refocus after search"
We currently can locally refocus back to the index before panel search in the left and right column.
A more useful feature would be to focus back to where it was before search if it was not in the stream/topic/user list.
Eg: If we are in the message view and press `q`, escaping should bring us back to that message.

[2021-06-07 19:47] andersk commented on #1047
* [ ] Consider applying Black to `setup.py` and `tools/*`, which were initially excluded ([discussion](https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/zulint.2Fblack.2Fisort/near/1198914)).

[2021-06-09 08:40] Rohitth007 opened #1050 "Unavailable status marker in User list"
We currently don't support the unavailable status option which can be turned on from the "set yourself as unavailable" option in the webapp.
* An initial version could be to enable the display and updates for this feature.
* A followup could be to enable setting this status from ZT itself.

Some options for the symbol could be:
* ⊝ : Circled Dash
* ⊖ : Circled Minus

Related discussions can be fou

[2021-06-09 13:13] prah23 commented on #1040
Still on it, @zulipbot.

[2021-06-11 23:47] #151 closed

[2021-06-14 01:53] rht opened #1052 "`b` to go back to previous topic."
In the browser, after pressing `n`, you can use the browser-back feature (alt-left, or backspace) to go back to previous selected topic. What about having this feature in ZT by pressing `b`?

Why `b`? Because it's the shortcut in vim that complements `n`.

See https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/b.20to.20go.20back.20to.20previous.20topic.

[2021-06-14 05:44] neiljp commented on #1052
For comparison to the web app, as @Rohitth007 mentioned, I think the nearest equivalent would be the backward/forward buttons, or `alt left`/`alt right` to move through the url history - or in the case of Zulip, mostly the narrow history in the application.

Regarding the use of `b`, my concern with that, if equivalent to in `vim`, is that we likely want a way to go forwards again after a `b`, and

[2021-06-16 20:29] #782 closed

[2021-06-18 19:25] zee-bit commented on #920
Bumping the priority, since I happened to encounter the same bug twice today. Trying to figure out a quick fix too...

[2021-06-19 20:48] #1037 closed

[2021-06-23 23:31] #975 closed

[2021-06-25 02:37] #954 closed

[2021-07-04 21:44] #896 closed

[2021-07-05 07:47] mistersmee opened #1066 "add option to disable debug.log"
Currently, `debug.log` is created wherever the current directory is, and if there are no errors, it is a 0B empty file, even if zulip-term is launched without the `-d` flag.

I would like the creation of `debug.log` to be tied to that `-d` flag, as it gets messy and annoying after a while, deleting that file again and again, i.e. if the debug flag is passed then use debug.log, else don't create it

[2021-07-05 07:53] mistersmee opened #1067 "Support external user-defined themes (not in code)"
Currently zulip-term only ships with 4 themes. I would like for there to be an option in `zuliprc` to define our own themes, for e.g:

[code]

The values can be in hex, RGB, argb, or just plain names, i.e. cyan, etc.

Because right now, the default is similar to Gruvbox, and while I don't hate it, my personal preference for a theme is Solarized Dark.

This way, it also removes the work for you guy

[2021-07-06 00:32] neiljp commented on #1067
@mistersmee Thanks for the feedback :+1:

Providing or adjusting themes from a configuration file is likely not a high priority item for the project right now - although anyone could work on this of course :)

For a less involved approach to your problem of wanting a specific theme while using ZT, we just improved how easy it is to add internal themes in the git version, so a contribution of that

[2021-07-06 00:59] neiljp commented on #1066
@mistersmee While I mainly run this from the same directory I definitely can agree with you on this :+1:
What version of ZT are you running?

We have a plan to move to using `xdg` directories which will help with this to some degree in future (#678).

However, independently of this plan, debug.log should have little output in most cases, so I'm going to see if there's a quick resolution to this wh

[2021-07-06 06:57] mistersmee commented on #1067
Sure, no problem.

I don't have any experience in Python, but I think I'll take a crack at it in my free time, shouldn't be too difficult with the existing theme files being there. I can't promise any results, though, as I said, I have no experience with Python.

Sure. And yep, I'd say it's resolved. I'll close the issue.

[2021-07-06 07:08] mistersmee commented on #1066
[code]

That would be awesome! I currently have an alias that basically does the same thing, `alias zul="zulip-term -c ~/.config/zulip-term/zuliprc"`, but having XDG support would make it so easier.

I mainly stay in `~` as well, but sometimes I'm working in a repo, and I need to check messages I may have received, and it gets created there, etc. etc.

Sure, thanks! With that I'd say the issue is

[2021-07-06 16:24] neiljp commented on #1067
@mistersmee I'm going to reopen this as while we can add themes more easily and it's not in current scope, this is a feature we want to track for the future and I expect others to want to raise :+1:

[2021-07-06 16:39] neiljp commented on #1066
@mistersmee Thanks for being proactive in closing this, but I'm going to reopen this for now to see if we can avoid outputting until we write to the file, like we do with other log-files, or until we have #678 resolved.

[2021-07-06 16:47] neiljp commented on #1066
@mistersmee Just a note that we keep the git version fairly stable and there are some good new features there you might enjoy :)
If you have time to drop by #zulip-terminal on chat.zulip.org it'd be interesting to hear your experiences with ZT and Zulip in general!

[2021-07-07 14:49] Rohitth007 opened #1069 "TRACKING: Theme Related Issues"
We have recently done theme restructuring when simplifies managing themes and opens up theme related issues and ideas to explore.

- [ ] adding FAQ details for adding themes (recommended to discuss with the project rather than add custom ones individually)
- [ ] Add actual 24bit color codes to DefaultColor
- [ ] Move from `#rgb` - 216 colors to `hxxx` 256 color format
- [ ] Add all the official gr

[2021-07-07 16:09] Ezio-Sarthak opened #1070 "Improve rendering of KaTex/Math text"
After the merge of #1024, ZT now renders the math/katex/latex text as raw source. Although this retains the markdown information, this is ideally not the rendering a normal user would expect.

Some ideas of implementation:
 - A `raw -> urwid` approach might be used, wherein we convert raw source (current output) to urwid-displayable content. We currently support `rendered -> urwid`, and thus this

[2021-07-07 16:19] zee-bit commented on #452
Update: The last point (`Add a key to view a message in the browser`) has been resolved through #991.

[2021-07-07 18:07] neiljp commented on #282
I'm going to close this since we now support 24-bit features in themes, even if not every built-in theme has a 24-bit-specific set of colors - ie. we need to add those values to `DefaultColor` if we want them to be more specific.

See #T1069 for tracking follow-up.

[2021-07-07 18:07] #282 closed

[2021-07-07 18:20] neiljp commented on #1069
Not all of these items have been discussed sufficiently, so please chat on the #zulip-terminal stream on chat.zulip.org about them first to ensure we're going in the right direction :+1:

[2021-07-10 15:47] neiljp opened #1075 "Support (un)resolving topics"
This feature is likely to be in Zulip 5.0 and while still under development appears fairly settled and ready to be implemented.

This feature involves toggling a prefix+space marker, though we should check the web app to confirm what is required.

We don't yet have one, but this is likely most easily presented through an option in a TopicsPopUp.

[2021-07-10 23:04] #511 closed

[2021-07-13 20:58] zee-bit commented on #887
Sorry for the "Fixes" comment on the PR, this isn't completely resolved yet. Re-opening!

[2021-07-15 02:09] #469 closed

[2021-07-15 02:15] neiljp commented on #533
Closing this after #953, though we have a *very* few use of isolated keys (navigation and activation) which will likely be solved using command-map work.

[2021-07-15 02:15] #533 closed

[2021-07-17 17:28] Ezio-Sarthak opened #1086 "Enhance UX for User Info View (including custom profile fields)"
ZT currently supports a basic version of the user information popup (press `i` in users list to open), with some trivial details of a user. However, we can improve its user experience further by:
 - ~~Displaying human-friendly last active timestamp. e.g., `5 hours ago`, instead of the formatted date string.~~
 - Displaying additional user information (e.g., favorite editor, status message, Github

[2021-07-22 20:37] preetmishra commented on #1016
In addition, it would be interesting to explore how the tidying up affects the "Messages" title. There has been a discussion in **#zulip-terminal>Message view title** regarding whether we should shelve the title given that it is evident that the middle view is dedicated for messages.

[2021-07-23 06:38] #543 closed

[2021-07-23 07:35] Ezio-Sarthak opened #1094 "Condense/collapse large messages (messagees crossing screen height)"
After the recent merge of #874, we do now have a way to view large messages, i.e., messages that cross the terminal height boundaries. For such large messages, we could show a condensed/collapsed view, so that it doesn't clutter the other messages in the list. The height of the message could be shrunk to a default visible one.

There might be a flag for messages for this which we could probably ad

[2021-07-23 23:33] neiljp opened #1095 "Emphasize heading titles in messages"
It's possible to indicate "headings" at different levels, akin to h1-h6 in html, using markdown - this currently just appears as plain text.

This would be a good issue for someone new; here are some suggestions for implementation:
* identify the html generated by the server (inspect in the browser)
* examine the existing tests for `soup2markup` and think how they'd be extended
* add heading style

[2021-07-24 21:35] neiljp opened #1098 "Support composing messages which include user-groups"
In the web app there are various places, including composing messages, where a user-group can be added (or auto-completed/selected).

For composition in the web-app, this results in the user group name expanding into all the members, which is likely the approach we'd want to consider first - though possibly considering cases such as a high number of group members given potential limited screen spa

[2021-07-27 23:39] neiljp opened #1103 "Improve handling of empty-label links"
Currently the following cause ~empty messages: (there may be other cases to add)
* [ ] `[](https://www.camera-rumors.com/wp-content/uploads/2018/02/sony-a7iii-sample-image-11.jpg)`
* [ ] `[](google.com)`

[2021-07-30 05:18] #623 closed

[2021-07-30 05:41] Ezio-Sarthak opened #1106 "Testing tool for urwid types"
We use urwid types on a general basis throughout the codebase. While our use-case is large, we don't currently have types that the respective input markups (e.g., `Text`) expect. It would be nice if we have runtime manual tests for different formats to support the urwid types for which support is claimed, and then we can work on suitable typing for them from that. This way, we may avoid some bugs

[2021-07-30 20:02] timabbott opened #1107 "Add support for synchronizing drafts with the server"
We just merged https://github.com/zulip/zulip/pull/18074, which adds support for synchronizing drafts via the server between multiple clients. It comes with complete API documentation. We haven't done the web app implementation yet, but it should be ready soon.

The main somewhat subtle detail in the API is that the `enable_drafts_synchronization` should be respected by the client.  The server wil

[2021-07-31 01:21] #925 closed

[2021-07-31 01:32] neiljp commented on #1107
This is connected broadly to #302.

[2021-08-01 22:36] timabbott opened #1108 "Execute the `user_settings` object transition"
In #19404, we just added the feature level 89 migration to change how we encode user settings in the Zulip API to use a `user_settings` object.

The API documentation should explain the transition clearly.  Here's the recommended strategy:
* Clients can immediately switch from processing the `update_display_settings` and `update_global_notifications` event types and process the `user_settings` eve

[2021-08-06 19:34] JPTIZ commented on #1029
Adding to the discussion, the way I caught this bug was by receiving a message duplicated: someone sent the message once (a simple "haha"), but zulip-terminal showed twice (not sure if it received twice as well). By reading the two, the unread message count became -1. Switching streams and going back removed the duplicated message, but kept the -1.

[2021-08-11 19:48] prah23 opened #1118 "Improve PM recipient separation"
We currently use the `,` character to separate different recipients in the private message header UI. This isn't the best strategy, since the web app allows having `,` in the users' names (like `Cordelia, Lear's daughter`). Our validation would be affected in such cases since we also use `,` as delimiters to extract recipients from the header and subsequently update `recipient_user_ids` and `recip

[2021-08-12 07:01] #837 closed

[2021-08-14 07:12] zee-bit opened #1119 "Include more elements in StreamInfo view."
#880 and #900 added several important elements in the `StreamInfo` view almost matching the "Stream settings" of the web app. However, there are possibilities for adding more fields to the popup, which includes:
- Stream id (maybe the web app is planning  to add this too(?))
- Type of the stream (Public/Private)
- [Posting policy](https://chat.zulip.org/help/stream-sending-policy) (e.g. announceme

[2021-08-16 14:51] SwarupKharul commented on #1095
I would like to work on this issue, please assign it to me!

[2021-08-16 18:40] neiljp commented on #1095
@SwarupKharul Just calling out like you've done is fine, though you can use `@zulipbot claim` to handle this yourself on Zulip repositories :)

[2021-08-17 05:39] neiljp commented on #559
This is now resolved by #913 :tada:

[2021-08-17 05:39] #559 closed

[2021-08-17 05:46] neiljp commented on #680
Just thinking of this issue again after further discussion on chat.zulip.org regarding use of non-latin keyboard inputs, which is related to an older server repo issue zulip/zulip#7517. That is in the direction of internationalization which is not a high priority right now. However, this is very similar to the intent of this issue, namely to allow for additional/custom keys - if I switch into a di

[2021-08-17 11:45] SwarupKharul commented on #1095
@zulipbot claim

[2021-08-17 14:33] zee-bit opened #1121 "TRACKING: Emoji Picker popup improvements"
We recently added support for reacting to messages with Emojis (other than the previously `:thumbs_up:`), ending at 19f1396. This was a combined effort of multiple contributors and multiple PR's (#913, #707). We decided to go with a simpler logic for now and add improvements later. Here's a list of UI/UX improvements that need to be worked upon:

- [ ] **Highlight the reacted emoji in the list of

[2021-08-20 00:51] neiljp opened #1123 "Add support for copying code snippets"
Often it's useful to extract code - or maybe any quoted text? - from a message.

The likely initial way to implement this would be to ultimately add an extra (optional) section to the message information popup. However, as with in-message links or topic links, this feature requires solid implementation of extraction of code blocks first into a format the popup can show.

Things to consider:
* each

[2021-08-21 02:01] #1066 closed

[2021-08-21 02:03] neiljp commented on #1066
@mistersmee I'm sure you'll get a notification this is resolved (by #1122) and now only opens the file in debug mode.
However, note that for now this is in only the git version - though this is very easy to install before we make the next release.

[2021-08-21 09:14] mistersmee commented on #1066
Pretty cool! This should help in keeping my homedir clean, thanks!

[2021-08-21 15:58] kingjuno commented on #1119
@zulipbot claim

[2021-09-02 01:05] neiljp commented on #603
I'm going to narrow this issue's focus since:
* the monochrome styling is already very usable now
* we could always slightly improve the monochrome styling, but this doesn't deserve an issue
* the context here is really the behavior in 1-bit color depth, which is subtly different from a monochrome theme!

Therefore the remaining significant element(s) would be to investigate achieving an inverted

[2021-09-02 01:27] neiljp opened #1133 "Support more Themes"
Since themes are now isolated, we hope that adding a new theme should be easier for a new contributor!

Please review our existing theme documentation and theme source files. Currently all themes are integrated in the source.

Themes we could consider adding/developing:
* [ ] dracula
* [ ] nord
* [ ] gruvbox light
* [ ] solarized light
* [ ] solarized dark

(please discuss in the stream first, if

[2021-09-10 17:36] felipecpassos commented on #1133
Hello, i'm new to contributing to OS projects, and would like to develop the Nord Theme for Zulip Terminal.

I would like to be inspired in the VS Code Nord Theme:

[Example](https://raw.githubusercontent.com/arcticicestudio/nord-docs/develop/assets/images/ports/visual-studio-code/ui-overview-jsx.png)

[2021-09-10 22:54] neiljp commented on #1133
Hi @felipecpassos! Welcome to the project!

For the colors themselves, you may wish to refer to https://www.nordtheme.com/
For application of the colors, that site may also have insights as to which kinds of UI elements might fit best with different colors?

Other than the colors and assigning them to the UI styles in a new theme file, you'll need to add the connections for the new theme to enable

[2021-09-13 07:39] avats-dev commented on #1123
@zulipbot claim

[2021-09-13 07:45] kingjuno commented on #1123
@avats-dev this issue is already somewhat half-implemented except for the test.

[2021-09-13 08:01] avats-dev commented on #1123
@kingjuno yeah sure. Sorry, I thought it was unaddressed.
@zulipbot abandon

[2021-09-13 08:02] avats-dev commented on #1119
@kingjuno are you working on this?

[2021-09-13 08:04] avats-dev commented on #1095
@kingjuno what about this one?

[2021-09-13 08:42] zee-bit commented on #1119
@avats-dev Some of those fields have already been added by @kingjuno via #1127. I have edited the issue summary to use checkboxes instead of bullets so that it's easier to indicate completed tasks.

The remaining tasks either need to be made backward compatible, which requires some knowledge of the zulip-api and manual research, or are not much of a priority right now. See [#zulip-terminal>Include

[2021-09-13 11:30] avats-dev commented on #1123
@zulipbot abandon

[2021-09-13 12:12] kingjuno commented on #1095
@avats-dev I am not working on this much. I guess you can go with this one.

[2021-09-14 04:13] kingjuno commented on #1123
@zulipbot claim

[2021-09-14 12:20] mfonism commented on #1133
Hi @felipecpassos,

I'd like to work on adding the solarized light theme.

I'm currently looking through https://ethanschoonover.com/solarized/ to have a good feel for the theme.

[2021-09-21 19:00] timabbott opened #1135 "Display whether streams are web-public streams in stream name decorations"
As we prepare for it being possible to have web-public streams in a Zulip server (#18532), we should make sure the terminal app decorates any web-public streams correctly when they are displayed in the UI.  The web application currently does so with a `fa-globe` in the places that the `#` or `fa-lock` icon appears decorating a stream name:
[code]

The purpose of this decoration is to indicate to t

[2021-09-29 09:03] kingjuno commented on #1123
@zulipbot claim

[2021-10-08 00:00] timabbott opened #1136 "Don't send typing notifications unless `send_private_typing_notifications` setting is enabled."
In https://github.com/zulip/zulip/pull/19200, we've added new privacy settings for whether to send typing notifications.

The server will reject typing notification requests if this setting is disabled, so it won't be a user-facing bug to ignore this unless the client-side error handling causes that to be the case.  I'll be deploying the feature to CZO soon.

(Note that we're also adding `send_str

[2021-12-07 04:42] CypherpunkSamurai commented on #1133
Hello sir, I'm new to open-source contributions and I would like to create new theme `OneDark` for zulip. Can you please guide me through this to get started.

Thank You Sir

[2021-12-07 04:49] CypherpunkSamurai commented on #1123
Hello Mr @kingjuno are you still working on this issue?

If not, I'm fairly interested in completing this issue if that's fine with you :)

[2021-12-09 01:11] mounilKshah commented on #1095
@zulipbot claim

[2021-12-14 14:03] JPTIZ opened #1143 "Newly installed version does not start due to missing "themes" package"
There are a few problems actually.
1. Apparently the last release (0.6.0) used `platform.linux_distribution()`, so installing it would fail due to `platform` not having `linux_distribution()` anymore. To reproduce:

[code]

(Pipx installs packages in an isolated virtualenv, similar to what is suggested on README.)

So creating a new release would be desirable.

2. So, to avoid using 0.6.0 and use

[2021-12-14 14:08] JPTIZ commented on #1143
Ok, I remember how I fixed this: I cloned the repository separatedly, then copied the `themes` directory into the installed package's directory (`<virtualenv>/zulipterminal`).

[2021-12-14 19:28] ElijahTheJew commented on #1143
Also (another method, mostly related to running from source), when in the source code directory run: source zt_venv/bin/activate
This activates the virtual environment. You can then run zulip-term without issue.

[2021-12-15 19:36] neiljp commented on #1143
@JPTIZ Addressing the themes issue, this seems to be related to a missing `__init__.py` for that directory. That doesn't seem to affect local usage/installs, but certainly does affect `pipx` - I can reproduce the issue you had.

I've just pushed a fix for that to `main`, so if you'd like to try a fresh install from main that would be useful to test - it appears to work fine for me, but secondary c

[2021-12-16 10:13] Dishti-Oberai commented on #1133
Hi all,
Can I please work on gruvbox light theme?

[2021-12-16 22:28] neiljp commented on #1133
@Dishti-Oberai Hopefully you saw that @amanagr and myself responded in #zulip-terminal.

Zulipbot does not appear to be working right now, at least in this repository, but in any case this is an issue with many elements and so multiple people are working on. A comment on GitHub is good to indicate you're working on it :)

[2021-12-16 22:36] neiljp commented on #1133
@CypherpunkSamurai I'm not as familiar with the `OneDark` vim theme, but it seems possible to add. There is some documentation in the themes folder for adding themes, though it may need updating for some theme features which were added over the last Summer. For a theme which requires its own colors, I would suggest you work from a template theme like `gruvbox`.

[2021-12-17 02:48] Dishti-Oberai commented on #1133
Thank you @neiljp , I will comment on GitHub and CZO in case I face any challenges while working on this issue.

[2021-12-19 05:14] mounilKshah commented on #1095
Hello,
Sorry for not having updated this issue.
It is actually my first time working on an open source issue. I have decided to work on the heading-styles of the messages first. Before starting with anything, I went through the conversation on `#feedback` stream on [Zulip developers' server](https://chat.zulip.org/), to understand what is expected.
I have gone through the `developer-feature-tutori

[2021-12-21 22:43] JPTIZ commented on #1143
And indeed it works :)

Right, I see it is a zulip-api version issue. I'll open a new issue just to address each problem on its place and let this one closed (solved).

---

Solved by https://github.com/zulip/zulip-terminal/commit/793e73d6de3f68551221b703582506a40a4bbbeb

[2021-12-21 22:43] #1143 closed

[2021-12-21 23:12] JPTIZ opened #1145 "Installing zulip-term in Python 3.10 fallbacks to zulip-term 0.2.1"
As previously mentioned in #1143, newer versions of zulip installed through `pip` fail to start due to the following error:

[code]

---

## Some debugging

Looking at the end of installation log, zulip-term-0.2.1 is installed instead of 0.6.0:

[code]

Getting the 0.6.0 .whl file and building it manually shows that 0.6.0 is incompatible with Python 3.10:

[code]

Which might be the cause, maybe i

[2021-12-27 12:57] mounilKshah commented on #1095
@zulipbot claim

[2021-12-27 23:44] mounilKshah commented on #1095
Hello @neiljp
I tried looking for libraries which would allow the change in font size. However, all I could find was results which said that the only way to change font size in terminal is the user settings, ie, only the user can change the font size.
Hence, I thought of emphasising the heading by changing its colour in the terminal.

**Before `heading-style` implementation:**

![Screenshot 2021-1

[2021-12-28 08:25] Dishti-Oberai commented on #171
I would like to work on this issue. Can I please take it up?
@zulipbot claim

[2021-12-29 20:34] neiljp commented on #1143
@JPTIZ Thanks for confirming 👍

[2021-12-29 21:22] neiljp commented on #1145
@JPTIZ Thanks for reporting this!

Your debugging seems accurate to me 👍 We don't (cannot?) say that we are compatible with future python versions, in the releases we make.

To summarize:
- As you say, 0.6.0 itself is specified as incompatible with 3.10
- At some published version we started supporting a specific range of python versions, which seems to be as far back as at least 0.3.1, but is not

[2021-12-29 21:52] JPTIZ commented on #1145
And I agree, from a stability point of view at least. It is a safe decision that can rely on tools like `pyenv` if a prior Python version is needed to run zulip, although I would also agree if the decision was to accept newer versions until there is a stated breaking-change on a newer Python's release notes (e.g. when `async` was introduced as a keyword, which broke scripts where it was a variable

[2022-01-10 14:48] mounilKshah commented on #682
@imnitishng has this issue been resolved or is it fine if I take it up?

[2022-01-11 08:52] mounilKshah commented on #682
@zulipbot claim

[2022-01-11 16:10] mounilKshah commented on #682
As my PR #1146 has been approved, the issue which was earlier assigned to me #1095 is fixed. Hence, I am beginning work on this issue. I hope that's fine.

[2022-01-18 05:34] parthi-siva commented on #194
Hi, @neiljp is this a still prevalent issue. Can I work on this

[2022-01-18 19:16] #1095 closed

[2022-01-20 15:43] mounilKshah commented on #682
@zulipbot claim