[2022-01-28 09:07] Dishti-Oberai commented on #1010
Hi, I am interested to work on this issue.
@zulipbot claim

[2022-02-11 19:05] lzmartinico opened #1151 "Two users with the the same name appear as the same person"
On zulip-term version 0.6.0, if two users have the same name and send two messages in sequence within the same topic, the messages will be displayed as if coming from the same user

[2022-02-14 04:23] ditsuke opened #1152 "Leave Terminal Contents Intact and Exit Cleanly"
We should be using the alternate screen buffer to leave the existing contents of the terminal intact and also exit cleanly (without leaving behind a `zulip-term` view rendered on the terminal).

[2022-02-14 04:25] ditsuke commented on #1152
I'd like to work on this once given a go-ahead.

[2022-02-14 06:19] neiljp commented on #1152
@ditsuke This feels like a feature that `urwid` should be providing, rather than ourselves?

That said, this doesn't seem to be a problem for me on my main development terminals, but does on some others.

Which terminal emulator are you using?

[2022-02-14 06:21] neiljp commented on #1151
@lzmartinico Thanks for reporting this! I suspect this is present in `main` also, though have not confirmed.

This should be fairly simple to resolve via comparing user ids rather than names.

[2022-02-14 07:00] ditsuke commented on #1152
@neiljp
I'm on Windows Terminal. After investigation, it looks its reproducible in non-libVTE based terminals (Alacritty, WT et al).

I think you're right about this being an issue upstream[1] in `urwid`.

[2022-02-14 07:16] ditsuke commented on #1152
Interestingly, I cannot reproduce the unwanted behavior if I use `zulip-term` in a `tmux` instance.

[2022-02-14 08:30] somilbansal11 commented on #1067
@zulipbot claim

[2022-02-14 10:44] somilbansal11 commented on #687
@zulipbot claim

[2022-02-14 15:41] lzmartinico commented on #1151
Glad to hear there is an easy fix! Maybe there should be another ticket (or meta ticket), but support for users with the same name is somewhat lacking overall (e.g. when tagging a user through autocompletion, it's impossible to know which one is selected)

[2022-02-14 17:49] neiljp commented on #1152
@ditsuke The upstream issue you linked does seem relevant (explicitly, urwid/urwid#396), though there is a lot of discussion there that could be confusing. Specifically, it seems the issue author is/was seeking the option to *not* use the alternate screen buffer - at least originally? I think that's what the the other person meant when suggesting there was an additional issue, which is maybe the i

[2022-02-14 18:07] neiljp commented on #1151
@lzmartinico Autocomplete is improved further in the current development version after GSoC, and may well resolve the issue you're describing.

Generally if you have other separate then other issues (or a general issue we can split out) are a good idea - or if you wish to discuss a potential range of issues then it's likely better to raise this in a topic in the #**zulip-terminal** stream on chat.

[2022-02-14 18:07] prah23 commented on #1151
@lzmartinico thank you for the feedback!

We have additional autocomplete improvements for tagging users (disambiguation using an appended user ID, #928 for reference), as well as using users' names as private message recipients, currently on the `main` branch. It will be a part of the next release, but you can also pull that from `main` as the latest installation [as mentioned on our README](http

[2022-02-14 18:27] neiljp commented on #1067
@somilbansal11 Thanks for your interest! This is a very general issue which will need heavy discussion first. I'd suggest discussing a more specific area you'd like to work on or a particular bug to fix in #**zulip-terminal** on chat.zulip.org first.

[2022-02-14 19:08] ditsuke commented on #1152
The issue was `urvid` clearing the contents of the original buffer when the CLI application exits. In particular the application and issue referred in the `urwid` issue is https://github.com/pazz/alot/issues/1469. It appears that `urwid` has this problem only when using the `raw_display` rendering backend (which happens to be what we're using in Zulip Terminal) while the `ncurses` backend for `urw

[2022-02-16 03:53] mounilKshah commented on #682
@zulipbot claim

[2022-02-20 02:39] neiljp commented on #712
This is covered in more detail by the broader but duplicate #1135.

[2022-02-23 01:26] neiljp commented on #1133
Reopening after accidental closure after adding one new theme.

[2022-02-28 05:20] neiljp commented on #988
To clarify for future readers, this is intended to track user information outside of presence data.

[2022-02-28 05:37] Ezio-Sarthak opened #1155 "Improvement of presence markers UI"
After the successful merge of #987, we support a simple UI for presence markers. Here are some thoughts for some follow-ups that'd need discussion and implement promptly:

- Show bot markers (this was also suggested in role-markers PR)
- Handle "unavailable" visibility and explicit changes (are they events? See #988)
- Only update the status rather than the entire box (maybe not that tricky?)
- Sh

[2022-03-01 16:12] Dishti-Oberai opened #1158 "Ensure color codes are valid at runtime if running in 16-color mode"
Zulip terminal runs in 16 color depth mode only if the color codes used in themes for the same are acceptable by urwid. Codes of those 16 acceptable colors are mentioned in the [documentation](https://github.com/zulip/zulip-terminal/blob/main/zulipterminal/themes/THEME_CONTRIBUTING.md).
In case the contributor uses some other color code instead of the aforementioned codes, the terminal shall not r

[2022-03-01 16:23] Dishti-Oberai commented on #1158
@zulipbot add "area: colors/styles/themes"

[2022-03-01 16:24] Dishti-Oberai commented on #1158
@zulipbot add "area: tests"

[2022-03-02 17:41] neiljp commented on #1158
@Dishti-Oberai Thanks for filing 👍

To clarify, we already have tests via pytest which should detect this in complete included themes, but if for some reason a theme has a modification then upon loading the application itself it may fail. So, this issue is focused on run-time detection of invalid 16-color strings, so I'm removing the tests label.

Arguably there is nothing stopping users from modi

[2022-03-02 17:47] neiljp commented on #1158
For anyone taking this up, you could also explore whether we test other color depths for validity based on supported codes.

While I understand urwid itself would not want to test every string passed in at point of use, this may be something to be added upstream in urwid if it is not already there, since it is urwid which defines the valid colors and so is best placed to validate them.

[2022-03-02 17:50] neiljp commented on #1155
Note that the PM compose and user mention cases also could include autocomplete, which is what the web app currently does - it doesn't include user status in rendered mentions.

[2022-03-03 01:54] siddharthc30 commented on #1133
Hi, I would like to work on adding the solarized dark theme and would be referring to https://ethanschoonover.com/solarized/
I hope this issue is still active and I can contribute to it, also, It would be of great help if I get to know about the initial steps of getting started

[2022-03-03 04:39] Dishti-Oberai commented on #1133
Hi,
Yes, this issue is still active.
The first thing you can do to get started is to analyze the codebase (related to other themes) and go through the THEME_CONTRIBUTING.md file. Hope this helps :)

[2022-03-04 03:15] neiljp commented on #1133
@siddharthc30 Sure, I don't think anyone has looked into that 👍  You may wish to look at the recent changes to gruvbox where common colors are extracted into a common file.

Also, in case people are unclear, some refer to "CZO" as an abbreviation for the Zulip community development server at https://chat.zulip.org, on which there is a #**zulip-terminal** stream :)

[2022-03-04 04:18] siddharthc30 commented on #1133
Thank you. Also, I kind of could figure out the CZO part... :joy:

[2022-03-04 07:09] neiljp commented on #1145
@JPTIZ Just a note to say I've mentioned this issue in the documentation in #1159 and plan to close this after merging, using this for reference only.

I'm not sure if you're on chat.zulip.org (in which case I'd be happy to chat in #**zulip-terminal** or elsewhere), but otherwise I'd be interested to hear briefly here about anything which we don't have in a reported issue, which sounds like it cou

[2022-03-04 07:17] neiljp commented on #1133
@siddharthc30 Sure, you're welcome to come chat there!

[2022-03-05 08:25] srdeotarse commented on #1158
@zulipbot claim

[2022-03-07 00:59] JPTIZ commented on #1145
Now I am :)

Didn't try on mobile, but web-app works pretty fine. On zulip-terminal, though, it says it couldn't find user named <name of the person that has accents ("~" in my case) in its name>. Of course, it *might* be another thing, but the only difference I could notice was the accent on the "target" user of the message. As I have a accent in my chat.zulip.org username, we could try to test t

[2022-03-08 01:58] neiljp commented on #1145
@JPTIZ I think I found you on #**zulip-terminal**, and started a new topic in there about the accent issue, so please do drop in :)

I'm going to close this now, since I've merged #1159.

[2022-03-08 01:58] #1145 closed

[2022-03-11 05:46] neiljp commented on #920
After a little debugging, I can now reproduce this via:
- open ZT
- use another client (eg. webapp) to react to a message not currently cached by ZT
- again outside of ZT, star/unstar that same message

A small fix appears to resolve this well, and I'm going to do a small PR and merge shortly, though we may want to consider our use of defaultdict more generally, at least in certain datastructures.

[2022-03-11 06:21] #920 closed

[2022-03-12 13:59] phalashi commented on #1133
Hi all, can I please start working on the solarized light theme, with https://github.com/altercation/solarized as a reference?

[2022-03-13 01:25] neiljp commented on #774
Now that #1161 (#870) is merged, this leaves the private messages part to do. Anyone interested may benefit from looking at the commits merged in those PRs to see the test/code changes involved.

[2022-03-13 06:21] #647 closed

[2022-03-13 23:40] neiljp commented on #1133
@phalashi As above, @siddharthc30 has stated interest in the other version of solarized for now. You could consider working together on this as I expect we'll benefit from a combined `color_solarized.py` file, wait until that is done, or maybe work on something else in the meantime otherwise?

I'd suggest coming along to chat on chat.zulip.org in #**zulip-terminal > solarized theme** if you're int

[2022-03-14 00:03] neiljp commented on #1108
I just came across this in looking at #1163 (#1136). In that PR there is no migration, just an addition of `user_settings` for initial fetch and events for the new setting, which appears to be only in the `user_settings` object and absent in the top-level response - without using the capability option.

Is the idea that newer settings will be in `user_settings` by default, and using the capability

[2022-03-14 00:29] neiljp commented on #1021
Rereading this, I wanted to clarify that my understanding is that the contextual hints could be text that is shown until the user starts typing in a box, a little like the web app shows `Topic` in that entry box when composing, which disappears when entering text.

However, I'd suggest looking at the linked topic above and related discussions to confirm.

[2022-03-14 01:05] neiljp opened #1164 "Improvements in display of footer autocomplete options"
This needs further discussion, but could include:
- making it clearer where each matching entry starts and stops (spacing? separators? grid layout?)
- clarifying which entries are groups vs users (maybe also vs streams vs emoji, but `@` can particularly match multiple in one autocomplete list)
- improving handling for when there are more than 10 matches (support scrolling? suggest options beyond j

[2022-03-14 01:10] neiljp commented on #448
I'm closing this now, as the bulk of typeahead (ie. autocomplete) is implemented, with remaining improvements indicated as separate issues, tagged with `area: autocomplete`.

Regarding entries in the description: #899 covers the remaining entry in the list, while #1164 covers the note at the bottom.

[2022-03-14 01:10] #448 closed

[2022-03-14 01:24] neiljp commented on #956
This is likely blocked on handling events as users add and leave the organization, part of #993.

[2022-03-14 01:57] phalashi commented on #1133
Alright! I'd love to work with @siddharthc30 on the `color_solarized.py` file, if he's alright with it :)
If not, could I work on the badwolf theme? ( with reference from: https://github.com/sjl/badwolf )

[2022-03-14 02:46] neiljp commented on #1133
@phalashi For solarized, I'd suggest raising it also in #**zulip-terminal**, as it will enable solarized-specific discussion, and of course all the benefits of sync/async discussion, notifications etc that Zulip brings :)

For adding extra themes, my primary concern is whether we can make these sufficiently interesting or distinct. I've opened #**zulip-terminal > Criteria for themes** for discussi

[2022-03-14 03:02] siddharthc30 commented on #1133
Hi, I think myself and @phalashi can work together on the solarized theme

[2022-03-15 15:45] lzmartinico opened #1168 "Message doesn't fit entirely within the screen"
Sometimes a message is too large to fully fit within the viewport in the terminal, and is cut off. Using the down arrow or j goes to the next message, resulting in some of the message being cut off.  One of the two keys should scroll within the message rather than going to the next one.
A current workaround for people who are experiencing the same issue is to use the > key to start a reply with qu

[2022-03-15 15:48] lzmartinico opened #1169 "Shortcuts menu cut off"
On a small terminal screen (<100 columns), the shortcuts menu appears cut off, so that the actual shortcuts are not shown on the screen

[2022-03-15 15:50] lzmartinico opened #1170 "Feature request: Collapse sidebars"
It would be useful to add a shortcut to hide the streams and users sidebars, to enable maximising the message view

[2022-03-15 16:00] lzmartinico opened #1171 "Cut off more text on small terminals"
When using zulip-terminal on a small terminal size, some strings can take a lot of space, reducing the message area significantly. The most egregious examples are long user names, which increase the size of the users bar, and the combination of the top header in the message column  (e.g. All messages, Group private conversation etc)  + the "Search /" string will sometimes take more than one line.

[2022-03-15 19:44] neiljp commented on #1168
Hi @lzmartinico, thanks for the feedback :+1:

Are you using version 0.6.0? If so, then I completely agree with your analysis and need for workarounds.

The latest `main` branch has support for viewing the rendered or raw (markdown) version of a message in a scrollable popup accessed from the message information popup. This is a more reasonable workaround for large messages than those you mention.

[2022-03-15 19:46] neiljp commented on #1169
@lzmartinico Are you referring to those displayed in the help menu?

I seem to recall this was a problem for a few keys/descriptions in 0.6.0, though this should be fixed in `main` (though not if the terminal is resized while the menu is open).

[2022-03-15 20:04] neiljp commented on #1171
@lzmartinico As per my comment in #1170, I suspect a lot of your concerns may be helped by use of `autohide`, at least in terms of making more column space available for messages?

We have had a few discussions on ways to minimize vertical space, though generally haven't settled on approaches that retain UI elements that seem useful. One alternative is eg #1016.

[2022-03-17 16:02] lzmartinico commented on #1170
Thanks, autohide is a great approach for what I am looking for, and it made me discover a bunch of command line flags I wasn't aware of - maybe the README file should document these (or at least mention --help)?

[2022-03-17 16:02] #1170 closed

[2022-03-17 16:03] lzmartinico commented on #1169
thanks, can confirm this is fixed in main (sorry for opening so many tickets without testing this first). Is there an ETA on a next release?

[2022-03-17 16:03] #1169 closed

[2022-03-17 16:07] lzmartinico commented on #1168
I am testing the main version, and the pop up works well, although it's a bit annoying to have to open the info popup first. I think it would be nicer to decouple the scrolling keys down/j into scroll to the next message/scroll down within the message or to the next if finished.

[2022-03-17 16:13] lzmartinico commented on #1171
Indeed autohide does solve a lot of the issues I had with width, and #1016 would help a lot if disabled. I still want to keep this open to address the long usernames issue. Obviously this is not something everyone would want (a realm having two users with long name starting the same way) so it might be something that is left to as a configuration option. However currently there is an inconsistency

[2022-03-17 16:17] lzmartinico commented on #1016
I would also like to add to the redesign discussion that the CMR panel can often be confusing when the top message displayed doesn't have it's stream/topic header because it's too long; in these cases it can look as if the message was sent in the same topic  as the currently selected message

[2022-03-17 22:09] neiljp commented on #1169
@lzmartinico No problem at all with the tickets - we've gone a longer time than I'd hoped between releases. I have a changelog prepared for the next version, so I'm hoping to release "soon", but no specific date yet.

[2022-03-17 22:21] neiljp commented on #1170
@lzmartinico We do have an entry for small terminals in the "FAQ" document which discusses this, which is linked from the README.

Would this small change help?
https://github.com/neiljp/zulip-terminal/tree/2022-03-17-add-help-option-to-README#configuration

[2022-03-17 22:29] neiljp commented on #1171
I'm a little unclear what behavior you're referring to in the user list?

Streams, topics and user names should all be truncated (with an ellipsis) in the side panels if there is insufficient space, in the same way.

Regarding users with similar names, we now have a user info popup via `i` which should help (if manually).

Generally we've set the panel widths to those to show those on chat.zulip.o

[2022-03-17 22:46] neiljp commented on #1168
I agree about the multi-key approach being non-ideal, though the cycle can be 3 keys with `i f i`. It depends how many 'long' messages you have, maybe.

One alternative approach is definitely using movement keys for scrolling too. One challenge is that in ZT we've historically been as clear as possible about when a message will be marked read, so we'd want to clearly show where the next/previous m

[2022-03-18 06:58] neiljp opened #1172 "Improve reporting upon moving/splitting topics"
Currently a message is given to the user when a topic is moved, but we could give more information about this:
- where from?
- where to?
- how many? (all? some?)

For the first version of this, updating the text we output would be sufficient.

As a follow-up, we could consider if there are other ways to indicate eg. split topics.

For comparison, the web app appears to intentionally not sort after

[2022-03-18 10:30] lzmartinico commented on #1170
Yes, that looks great, thanks!

[2022-03-18 10:43] lzmartinico commented on #1171
As far as I can tell (on my server) usernames don't get truncated, so we have two users with longer names than anyone else who make the panel too large. Maybe my server has generally shorter names than chat.zulip.org and so everyone's name still falls within the default panel width.
I think it would be nice to either:
1) set the panel length as a configuration parameter
2) add some "smart" logic t

[2022-03-18 17:32] neiljp commented on #1171
The `Users` panel is currently a fixed width - see the main screenshot embedded in the README on github, where some users have a `...`. That is from version 0.6.0. I'm not quite sure what is happening otherwise.

My only thought is if we're talking about different elements, since in the message list, user names are not shortened in that way (though with autohide they'd have to pretty long!).

[2022-03-18 18:32] neiljp commented on #1170
@lzmartinico Thanks for your ongoing feedback; merged that small change :+1:

[2022-03-18 19:02] siddharthc30 commented on #1133
Hi, @neiljp I have some issue accessing the CZO, so unable to communicate there. Is there any alternative where I can clear my doubts and complete the theme ASAP?

[2022-03-18 21:15] neiljp commented on #1133
@siddharthc30 I saw you online there earlier, but in the meantime I'd suggest you working on solarized as you planned originally and open a PR. However, do please split the color details into eg. `colors_solarized.py` so we can more easily build on it separately once merged.

@phalashi In the meantime, please do work on another theme if you like :+1:

This remains a good issue to get started with

[2022-03-19 01:52] neiljp commented on #715
I believe this may be connected to #1103

[2022-03-21 00:44] #1158 closed

[2022-03-21 01:55] neiljp opened #1174 "Check formatting of markdown in notifications"
Following #1173 it would be useful to look through other markdown in Zulip and see how it is output in notifications, and attempt to improve it if possible.

Possible issues:
- realm emoji?
- tables (also an issue in regular zulip notifications?)
- rules (also in zulip?)
- ...

[2022-03-22 10:51] srdeotarse commented on #1172
@zulipbot claim

[2022-03-24 00:25] neiljp commented on #938
This was touched on in #**zulip-terminal > Web public marker #T1135/#T712/#T1177**, where an emoji was proposed for this role. However, that emoji was double-width and did not align with the existing stream markers. In an emoji-capable terminal we could have sets of characters which align well for streams, including eg. 'lock' markers for private streams, while keeping simple characters/letters wh

[2022-03-24 00:46] neiljp commented on #938
For reference, on Debian(-like) systems one can install `fonts-noto-color-emoji` and get emoji displayed quite well, with other fonts falling back to use this set even if the main font is something else - at least on `gnome-terminal`.

However, this does not suffice for allowing eg. running on a basic linux terminal, at least based on prior experience with lots of other characters not displaying a

[2022-03-25 23:18] neiljp commented on #984
Some updates in our requirements/dependencies are slightly blocked in updating further based on this, so once this transition is done (or part of it) we can check dependencies for that.

Examples:
- pytest 7
- pytest-mock 3.7

[2022-03-28 05:09] Dishti-Oberai commented on #1010
Hi, I am still working on it

[2022-03-31 12:29] plugyawn commented on #1174
@claim

[2022-03-31 12:31] plugyawn commented on #1174
@zulipbot claim.

@neiljp There's also issues with the \me mention, time, tasks, in addition to tables, rules, etc, as you mentioned. Would appreciate advice on how to resolve the time and tasks problems

[2022-04-01 05:01] plugyawn commented on #1151
Just to confirm, does that mean this issue can be closed?

[2022-04-01 06:16] neiljp opened #1182 "Support 'Narrow to current compose box recipient'"
This is useful if starting a new topic - currently we give a notice that the sent message is outside of the current narrow, but there is no easy way of jumping to it.

The web app supports <kbd>ctrl</kbd>+<kbd>.</kbd> for achieving this, so this is a logical feature for us to also add.

Adding the key should show it in the help menu, but we could also show it in the message that is shown when mess

[2022-04-02 06:16] neiljp commented on #968
One related feature for this is to use the infrastructure provided by the server, as discussed at #**backend > notification sounds**

[2022-04-03 05:51] plugyawn commented on #1174
Fixed tables (with spaces and line-breaks), bullets, and emojis. Fixed linting issues.

[2022-04-04 02:50] neiljp commented on #712
This was fixed by #1177.

[2022-04-04 02:50] #712 closed

[2022-04-04 02:59] neiljp opened #1185 "Support web-public stream browsing"
Currently we require an account in order to access a server.

With web-public streams present on a server, we could add support for browsing without an account in much the same way as is possible on the web, via the API.

#1135 is closed, but has a summary of some elements that would be required to implement this.

[2022-04-04 03:01] neiljp commented on #1135
I just opened #1185 to track web-public stream browsing specifically, and since #1177 handles display of the web-public symbols I'm closing this.

[2022-04-04 03:01] #1135 closed

[2022-04-04 19:49] kaxada commented on #194
Zulipbot claim

[2022-04-07 20:06] plugyawn opened #1190 "Display associated sub-streams when a stream is selected."
The web-app displays sub-streams when the stream is selected, which is a convenient way to narrow to them when needed.

For reference, the implementation should look something like this, from https://github.com/Bios-Marcel/cordless, an open-source Discord terminal client.
<img width="195" alt="Screenshot 2022-04-08 at 1 35 24 AM" src="https://user-images.githubusercontent.com/76529011/162287132-c9

[2022-04-07 20:27] neiljp commented on #1190
@plugyawn Are you aware of using the `t` key on a stream to show a list of topics? If not, I'd recommend reviewing the (user) tutorial.

In terms of other directions I agree we could show a nested view a little like the web app, though even there it can be toggled into an all-topics view, like we achieve with `t` straight away.

There was talk of using modifier keys to auto-reset views, eg. after

[2022-04-07 21:25] plugyawn commented on #1190
@neiljp Sorry, yeah, I forgot that it existed; I've read the user tutorial, must've slipped my mind.

But I think the issue still stands -- once you press `enter` to narrow to a stream, the indication that you've narrowed to a particular stream needs to be more explicit.

So when you're in the all-messages view, the streams are not unravelled, but when you narrow to, say, zulip-terminal, the last

[2022-04-08 07:02] neiljp commented on #1190
@plugyawn Since this is generating more discussion than focus on a single point, and to generate wider thoughts, I've put some of my responses into a topic in the stream provisionally titled `Panel-follows-narrow`.

I'd suggest we raise the other points separately, since they're items to improve without such a feature enabled, or at least which can be discussed/developed in parallel. Note though t

[2022-04-08 12:09] srdeotarse commented on #1182
@zulipbot claim

[2022-04-08 13:02] plugyawn commented on #1190
Yep! Sounds like the best way to do this. Should I close this issue and raise individual issues for the discussed points?

Also -- about the `esc` thing, thanks for the context! Makes more sense now.

[2022-04-08 19:50] neiljp commented on #1182
We could also consider a dynamically-shown hint, a little like the UI element being proposed in #**design > button to go to conversation**.

[2022-04-08 20:18] neiljp commented on #1190
Let's leave this issue open. I'm going to rename the issue slightly to represent what seems to be the main point in the context of ZT.

[2022-04-10 12:11] srdeotarse opened #1193 "ZT not exiting cleanly in WSL 2 terminal."
After again running ``zulip-term -t gruvbox_dark -d`` - (debug mode)
After pressing ``ctrl``+``c`` to exit ZT, the ZT screen remains as it is without exiting cleanly as shown below -

![image](https://user-images.githubusercontent.com/53873549/162617112-35efdff6-139c-4260-8f72-22c5c6799fea.png)

After again running ``zulip-term -t gruvbox_dark -d`` command terminal display visible like this -

![i

[2022-04-11 00:05] neiljp commented on #1193
@srdeotarse This seems to be a duplicate of #T1152, which as per there is maybe related to urwid/urwid#396.

[2022-04-11 04:57] mounilKshah opened #1195 "Highlight matching substrings in search results"
While performing a search, the results are based on matching not just the _entire text string_ in the search box but also the _possible substrings_. This is quite helpful.

However, while displaying the results, the web app highlights the matching substrings.
Eg.

**Web app results interface**

<img width="872" alt="matching_subtrings_webapp" src="https://user-images.githubusercontent.com/47925568

[2022-04-11 05:34] prah23 commented on #1193
This might be a WSL specific issue with respect to rendering; the bare WSL application has this issue with rendering `zulip-term` and `zulip-term-check-symbols`. If you try it out on the Windows Terminal application, you'll notice a slightly different rendering issue when you exit. It might be a rendering issue with Windows terminal emulators.

[2022-04-11 05:41] srdeotarse commented on #1193
@neiljp Yes this issue is mentioned in #T1152, should I close this issue?

[2022-04-11 05:45] neiljp commented on #1195
This is certainly something we can look at, though there is the caveat that we need to make it distinct from other text styles and make it applicable anywhere, which could certainly be challenging since I suspect this would need to modify the urwid markup.

This is a subset of improving search in ZT, since we only support plain text search right now.
See #458 and #638. I've labelled those and this

[2022-04-11 23:11] neiljp commented on #1193
@srdeotarse Yes, I'll close this in favor of the other issue for now, though the other issue author may have more thoughts.

[2022-04-11 23:11] #1193 closed

[2022-04-11 23:30] neiljp commented on #1152
I closed #1193 as a duplicate of this and am adding a label specifically for this kind of issue.

[2022-04-11 23:53] neiljp commented on #546
We have a copy (clipboard) hook partially set up for the stream emails, so this seems more achievable now.

Given we now have rendered and raw views (popups), we could support copying from each of those, depending if a user wants the raw or rendered text? A user would then be on a message and use `i`->`r`/`f`->`c` or similar.

[2022-04-12 00:26] neiljp commented on #590
This may be fixed by #1068.

[2022-04-13 06:47] neiljp opened #1197 "Add Private Messages side panel"
This feature would provide the equivalent functionality to the web-app where clicking on the private messages button opens a drop-down.

However, in our case it seems cleaner (certainly as a first step) to integrate this as an alternative side panel to the streams/topics area. In this situation we likely need to add a key to switch back to the streams list, so may likely take over `S` for this pur

[2022-04-14 23:17] plugyawn opened #1200 "Progress Bar for Unread Messages"
Possibly addressed by #897.

The current system doesn't have any scroll slider to show how much you'll have to scroll down to read all messages in the stream/topic. We could use urwid's ProgressBar to show it, perhaps?

[2022-04-15 07:38] neiljp commented on #1200
This is specifically regarding unread messages, so does come under the remit of #897 - which is very broad.

Regarding a scrolling mechanism (or at least a marker), that can work at a representative level but not necessarily an accurate 'message height' level like a traditional scrollbar - we don't know how long (how many lines) each unread message is.

Depending where this is located this could b

[2022-04-16 20:46] plugyawn commented on #1197
@claim

[2022-04-16 20:47] plugyawn commented on #1197
@zulipbot claim

[2022-04-16 21:49] plugyawn commented on #546
@neiljp Looks interesting! Want to check it out as soon as possible. Can I take this up in the coming weeks, post some discussion?

[2022-04-16 22:04] plugyawn opened #1202 "Search through commands in the Help Menu."
Shortcuts are paramount in the ZT experience, and new users must go through the Help menu very frequently. So, it makes sense to have a search functionality within the Help Menu for looking through these shortcuts.

[2022-04-17 02:27] #1182 closed

[2022-04-17 02:43] neiljp opened #1203 "Show hint to narrow to compose recipients when it differs (before sending)"
We've already implemented this as part of #1194 (first take of #1182) when one sends a message.

However, this could be dynamically displayed before sending, as per the button discussed in #**design > button to go to conversation**, and could be a button here too as long as focus is carefully preserved.

This hint may be as simple as the shortcut key (currently eg `[meta .]`), also with a phrase (

[2022-04-17 17:17] neiljp commented on #1047
#1192 resolves second point.

[2022-04-17 19:24] neiljp opened #1205 "Support 'sticky' and 'non-sticky' panel searches"
To use a term from #822 and related discussion, 'sticky' refers here to when state is retained, and possibly applied to other actions, and doesn't automatically reset.

Currently the side panel searches (filters) are all 'sticky', in that once one does a search, enters the list and activates on an item (including switching between streams/topics), the search remains.

The existing 'sticky' behavio

[2022-04-18 10:38] plugyawn commented on #1174
@zulipbot claim

[2022-04-19 13:25] srdeotarse opened #1209 "hotkeys: Add linting for hotkeys."
Currently, there is no linting for hotkeys.

For e.g. if ``help_text`` in ``keys.py`` ends with ``.``, ``./tools/generate_hotkeys.py`` updates ``help_text`` without linting it as
``key description`` in help menu doesn't contain ``.``

[2022-04-19 23:10] neiljp commented on #1209
My original thought for this was:
- Ensure that commits/PRs have the file and hotkey.py in sync via running a script, via a test in CI
- More minorly, we could lint for the styles we use in the description, in a few different ways, or possibly other hotkey aspects (eg. possibly overlapping keys, if we have enough information)
- `generate_hotkeys.py` could be added to `make fix`, since it automatic

[2022-04-20 19:32] neiljp opened #1211 "TRACKING: Consider alternative date rendering"
Currently we show the full date/time for each message, and in user 'last active' times.

The only case we currently don't show the full detail is with years, where we don't show the current year, adding it for messages from previous years. I suspect this doesn't update in real-time as time switches to the next year, but that's fairly rare.

In contrast, the web app shows dates in various formats:

[2022-04-21 18:02] plugyawn commented on #1123
@neiljp I'd like to work on this. Only thing is, I'm sort of confused on how we'd do the language detection. Is there an API call for that?

[2022-04-21 18:05] srdeotarse opened #1212 "Display names of reacting users when few users have reacted in ZT"
To display reacting users when few users have reacted, as shown below -

![image](https://user-images.githubusercontent.com/53873549/164523523-81acd3d8-cf29-4b7e-8cd1-3133705783ab.png)

[2022-04-21 18:05] srdeotarse commented on #1212
@zulipbot claim

[2022-04-21 20:56] #1172 closed

[2022-04-22 02:28] srdeotarse commented on #1212
@zulipbot abandon

[2022-04-23 01:21] timabbott opened #1215 "Preparatory work for permissions defined in terms of user groups, not roles"
This is a preparatory issue for a piece of work that will be eventually required to correctly implement Zulip's future user-group based permissions model. In https://github.com/zulip/zulip/issues/21611, we add API support for clients to be able to receive in `/register`, and maintain via events, the set of user groups that each user is directly a member of, as well as any subgroups of those groups

[2022-04-28 06:30] Dishti-Oberai commented on #1151
Hi all,
I would like to take up this issue.
@zulipbot claim

[2022-04-29 02:29] neiljp opened #1216 "Show detected platform on startup and in About popup"
This is an element of #791.

We now have a clear unique platform determination via code in `platform_code.py` which runs on startup.

For various reasons it would be useful to show this information:
- on the terminal, when the application starts up, possibly with a warning if unsupported
- in the About popup, possibly in a new section at the bottom

Each of these could be separate commits or PRs.

[2022-04-29 02:32] neiljp commented on #791
I just split the UI part out into #1216 making that more accessible, leaving this remaining as infrastructure only.

[2022-05-04 03:39] neiljp opened #1220 "Event traceback from peer_remove event"
I've only seen this once, so this is likely an uncommon situation. This caused the popup which occurs when an event handler function doesn't handle all exceptions, from an error on line 1241 of models.py.

We likely want to check that a user removed from our known users in a stream is present before removing them, or else handle the exception instead - basically limit the exception from leaking ou

[2022-05-05 00:58] #1212 closed

[2022-05-09 12:06] Dishti-Oberai commented on #1151
I am still working on it

[2022-05-16 18:43] neiljp opened #1225 "Guide or FAQ for "Migrating from the webapp (or other Zulip interfaces)""
I've spun this out of #547 (document differences from other clients), since a brief summary of the intentional differences are being added in #1224.

This could be connected to the tutorial we have, but perhaps more for users who are already more familiar with Zulip from other clients?

[2022-05-16 21:10] neiljp opened #1226 "IndexError on starting (focus index vs message id)"
This was discussed in #**zulip-terminal > IndexError while starting.**, and has been reported by:
- Aryan Shridhar
- @Dishti-Oberai
- @rht

This appears to be distinct from #326.

ZT is reported to crash before the UI loads.

The traceback ends with
[code]
(where the last number varies)

The bug currently occurs due to views.py line 119, on the assumption that:
- the model provides a current focus

[2022-05-16 22:36] neiljp opened #1227 "Media handling improvements (potential followups to #1223/#1058/...)"
Areas which we could explore:
- ensure it works reliably on all the platforms it was designed for
- better encapsulate platform-specific code (at least one location uses the PLATFORM variable outside of `platform_code.py`)
- is there a redundant adjustment of the path for WSL?
- support option to 'copy URL' from message information popup (don't download file)
- support option to 'copy path' after

[2022-05-19 17:53] neiljp opened #1229 "TRACKING: Add remaining type annotations to tests"
This was started in Summer 2021 and is now mostly complete (exclusions are in `pyproject.toml`) 🎉

Remaining exclusions are now in `pyproject.toml`:
- [ ] `model/test_model.py`
- [ ] `ui/test_ui_tools.py`
- [ ] `ui_tools/test_messages.py`

If taking up elements of this, you will need to examine test files that are annotated for comparison and add them to one file at a time, enabling checking by re

[2022-05-19 18:22] neiljp opened #1230 "Consider changes needed/possible when Python 3.7 reaches end of life"
This is the next iteration of https://github.com/zulip/zulip-terminal/issues/984, and is mainly for tracking. See that issue or those prior for potentially useful tools.

3.7 is due to reach end of life on 27 Jun 2023 according to https://endoflife.date/python or more officially https://devguide.python.org/#status-of-python-branches

[2022-05-19 19:19] #547 closed

[2022-06-17 22:56] plugyawn commented on #1197
@zulipbot claim

[2022-06-24 01:15] neiljp opened #1238 "Move message links above topic links in message information popup"
Since images and other media can now be opened from here, and vary more per-message than topic links, this would improve the user experience.

See https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/Order.20of.20message.20info.20links.20.23T1238
(#**zulip-terminal > Order of message links #T1238**)

To see this, go to a message in a topic which has a link in the topic name (including eg

[2022-06-26 22:44] Kelp710 commented on #1238
@zulipbot claim

[2022-06-26 23:07] Kelp710 commented on #1238
@zulipbot claim.

[2022-07-04 10:44] plugyawn commented on #1197
@zulipbot claim

[2022-07-11 09:31] plugyawn commented on #1238
@Kelp710 you still working on this?

[2022-07-16 03:30] Kelp710 commented on #1238
@zulipbot claim

[2022-08-02 05:06] neiljp commented on #575
The design spec for this is now roughly according to zulip/zulip#21285, though there may have been follow-up work on this.

[2022-08-06 04:06] plugyawn commented on #1238
@zulipbot claim

[2022-08-06 04:18] plugyawn commented on #1229
@neiljp Could you explain this a little further? I'd like to take this up.

[2022-08-15 17:37] neiljp opened #1246 "Improve awareness of theme contributing guide (THEME_CONTRIBUTING.md)"
This document is not linked from anywhere; this could likely go somewhere like the FAQ, maybe elsewhere, and perhaps even in the developers/contributing guide?

This was originally raised by @Rohitth007 in #1208. The table in that document - or document fragment, if we later use it elsewhere - seems useful to keep concise, but we could add paragraphs describing some elements in more detail further

[2022-08-16 02:04] neiljp commented on #892
Parts of this are resolved by the docstrings and generation present by the already-merged part of #1208 - Thanks @mounilKshah 🎉

The remaining steps are to enable linting, both locally (like the rest of #1208) and ultimately in CI too.

[2022-08-18 23:11] neiljp opened #1247 "Make it possible to view read receipts"
This issue tracks supporting the read receipts feature which is likely to release in Zulip 6.0.

The equivalent mobile issue is zulip/zulip-mobile#5367
In the server this was covered by zulip/zulip#18935, among others.

This should appear in Feature Level 137 in the API Changelog
(https://chat.zulip.org/api/changelog#changes-in-zulip-60)

As per this API, this is an on-demand feature, so client da

[2022-08-21 02:39] #1209 closed

[2022-08-24 02:44] neiljp opened #1250 "Sync server unicode emoji with local cache at startup"
Our current set of supported unicode emoji are irregularly fetched from the current master/main branch using `tools/fetch-unicode-emoji-data`, translated using another script, and then integrated via a commit with the resulting changes. This uses a file internal to the server source exposed via github.

Zulip 6.0 is expected to support a way to explicitly expose the unicode emoji in use and suppor

[2022-08-24 08:17] laurynmm opened #1251 "Migrate to subscription update events with `is_muted` property"
In [Zulip 2.1.0](https://zulip.com/api/changelog#changes-in-zulip-21), the `is_muted` stream subscription property was added and replaced the `in_home_view` property. But the server had still only been sending [subscription update events](https://zulip.com/api/get-events#subscription-update) for the `in_home_view` property when a user muted/unmuted a subscribed stream.

In https://github.com/zulip

[2022-08-25 07:55] neiljp commented on #1251
@mounilKshah You might be interested in following up on this?

[2022-08-28 13:03] Sushmey commented on #1151
Hi is this still an issue? How would you solve the problem of the names being same? Displaying the ids with the names in the sender name instead of just the name?

[2022-08-28 15:38] neiljp commented on #1151
@Sushmey Thanks for your interest in the project! To clarify based on your doing a capture of the zulip web app, this issue tracker is for zulip-terminal, not the zulip web app. If there is an issue there, then it needs resolving separately, though from the screenshot it seems that if the user profile picture is different then that is one way to show it (or cause the problem). Manually one can als

[2022-08-28 15:47] Sushmey commented on #1151
Oh thank you for pointing that out! I was under the impression that the web app was the one where the problem could be recreated but it's only where you discuss the problems.

I see that someone in that someone has already solved it? Please let me know so I can try my hand at it
https://chat.zulip.org/#narrow/stream/206-zulip-terminal/topic/.23T1151.20Users.20with.20same.20name.20appear.20as.20sam

[2022-09-06 20:06] neiljp opened #1253 "Distinguish EDITED vs MOVED in UI"
When messages have been edited in any way (content, topic, stream) then we should be already showing an `EDITED` label to the left of the content, under the sender name.

At some point the web app added a `MOVED` label to distinguish the case where the content has not been modified, and it would be useful to also have this behavior.

Mobile is also adding/adjusting this feature, possibly with a re

[2022-09-10 01:17] #892 closed

[2022-09-13 14:29] Sushmey commented on #1151
@zulipbot claim

[2022-09-15 02:16] neiljp commented on #892
#1208 fixed the first and last checkboxes and auto-closed this, but I just merged #1254 to fix the remaining checkbox (add CI).

[2022-09-15 10:45] xeruf commented on #678
yes, please follow XDG properly :)

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2022-09-15 10:56] xeruf opened #1256 "Where to download zuliprc?"
The readme says:

But I can't find it on a self-hosted instance Version 5.2.

I could only find the documentation for bots: https://zulip.com/api/running-bots

[2022-09-15 19:19] neiljp commented on #1256
Hi @xeruf 👋

Did you try the first approach in that part of the README? That should give a valid zuliprc file for you, though I'm guessing not if you already have one.

I agree our current documentation doesn't give that much detail for downloading the file from the server. I've posted an updated draft version at the link below, which should help you. Let me know if that is a good improvement for

[2022-09-16 10:38] xeruf commented on #1256
Ah I actually saw that section, but did not think I would be able to download it there. New Instructions are good :)

[2022-09-17 00:25] neiljp commented on #646
I've not had a change to look at this and related PRs recently, but Kaustubh's #535 was taken forward by mkp6781 into #997, which may be a blocker to enable this feature to be implemented correctly.

[2022-09-17 18:21] neiljp commented on #1256
@xeruf Thanks for the feedback :+1: Merging that fix today.

[2022-09-17 18:21] #1256 closed

[2022-10-02 06:26] #1251 closed

[2022-10-06 22:43] neiljp opened #1261 "Handle unread-message events"
These events are now supported in the main server, so even if we do not support users marking messages unread at this point, we should update our state of the unread messages data.

Some notes are here:
https://zulip.com/api/get-events#update_message_flags-remove

[2022-10-06 22:47] neiljp opened #1262 "Add UI + server message to mark messages unread"
Implement #1261 first, which is much higher priority to ensure data integrity is maintained while a terminal session is open.

This concerns adding internal model and UI code to support the user marking messages as unread.

[2022-10-06 23:23] neiljp commented on #993
Also see zulip/zulip-mobile#3408 for a similar mobile tracking issue.

[2022-10-07 00:18] neiljp opened #1263 "Add documentation for common reading (browsing?) workflows/strategies"
ZT has a different feature set to other clients right now, and to some extent the UI is also different.

This could encompass https://zulip.com/help/reading-strategies, but also cover
- use of explore mode / marking-read handling
- looking at topics individually using `t`
- using `z`/`a` for contextual browsing (if possible)
- specific use cases for reading through unreads (eg. `n` & `p`)

This is

[2022-10-08 06:55] neiljp opened #1264 "Add subscribe/unsubscribe marker lines to message list (historical flag)"
This issue is mainly to track this feature and needs more investigation before proceeding.

However, from semi-recent discussion, this may be as simple as when the historical flag flips between adjacent messages.
eg. a bug reported at https://chat.zulip.org/#narrow/stream/2-general/topic/.28Un.29subscribe.20UI.20event.20data (#**general > (Un)subscribe UI event data**)

[2022-10-08 10:35] Subhasish-Behera commented on #617
@neiljp i would like to work on this issue as my first issue.can u point me to the directory where changes are needed to be made?

[2022-10-08 17:49] neiljp commented on #617
@Subhasish-Behera This will likely be a change in one of the ui_tools/ files, maybe `views.py`.

I'd suggest generally understanding the logic involved in following from a 'key' (eg. `?` for the help menu) to the action, and then which state it updates.

If you need support with getting started, please drop in on chat.zulip.org in #zulip-terminal :)

[2022-10-14 05:47] Sushmey commented on #1238
@zulipbot claim

[2022-10-14 15:30] Khushiyant commented on #1238
@zulip claim

[2022-10-14 15:31] Khushiyant commented on #1238
@zulipbot claim

[2022-10-22 13:09] mounilKshah opened #1268 "Display read receipts for messages on Zulip terminal"
As of ZFL 139, one can view all the users who have read a message. The [read_receipts](https://zulip.com/api/get-read-receipts) endpoint provides a list of IDs of users who have read a message.

An implementation of in ZT can involve adding an extra field in the message information popup and then displaying the usernames of all those who read the message in a consequent sub-popup.

All further dis

[2022-10-23 13:39] Khushiyant commented on #1238
@zulipbot abandon

[2022-11-11 00:30] zihanqiuu commented on #1220
@zulipbot claim

[2022-11-11 01:03] Beanpen commented on #1220
Hi @neiljp ! Zihan and I are trying to help on this issue. Do you have a procedure to reproduce this error or any additional details/ideas of where to start looking at? Thank you so much!

[2022-11-11 22:19] dmikushin opened #1269 "Footlinks property is not allowed alongside maximum-footlinks"
While following the `zuliprc` configuration offered in https://github.com/zulip/zulip-terminal#configuration , the following error pops up in zulip-term:

[code]

[2022-11-12 03:27] neiljp commented on #1269
This should be noted in the configuration block there:
[code]

Previously we had the footlinks option, then it was generalized to maximum-footlinks for finer control.

[2022-11-13 18:12] neiljp commented on #1220
Hi @Beanpen, I don't know your name on chat.zulip.org, but I replied in a new topic in #**zulip-terminal** there and mentioning someone who I assume is @zihanqiuu.

[2022-11-21 16:10] Sushmey commented on #1151
@zulipbot still working on it...

[2022-11-23 19:59] jonjensen opened #1270 "Crash due to "Read timed out""
I installed the latest `zulip-term` from Git and had a crash within a few minutes. This is on Fedora 37 with Python 3.10.8 from RPM, running in a venv.

My `zulip-terminal-tracebacks.log` contains:

[code]

Reporting here based on the encouragement at https://github.com/zulip/zulip-terminal/blob/main/docs/FAQ.md#zulip-term-crashed

[2022-11-23 20:50] neiljp commented on #1270
@jonjensen Thanks for reporting! Can you reproduce this?

As per the final exceptions, this seems like it was triggered by the server timing out, specifically when you were trying to narrow to a specific stream via the stream list in the left panel - does that fit with what you might have been doing?

I do note that ZT doesn't appear to have exception handling for get-messages, which is the underl

[2022-11-23 20:51] neiljp commented on #1269
@dmikushin Can we improve the error message you saw, or could we improve the documentation?

[2022-11-23 20:52] Beanpen commented on #1220
Yes, that was me who asked you questions on chat.zulip.org. Thanks so much for the reply! This issue seems a bit tricky... I will discuss with Zihan. Please let us know if there is any other good first issue to tackle with too! Thanks again!

[2022-11-23 20:56] neiljp commented on #842
Closing this in favor of #631.

[2022-11-23 20:56] #842 closed

[2022-11-23 21:28] jonjensen commented on #1270
The server version is 3.2, feature level 27.

I don't remember which stream I was going into. We have both big and small ones, so could've been either. I think it was caused by network slowness, though, not by the server doing anything slowly. I was using the Zulip web client in a browser to the same server at the same time, and it was fine.

I was able to reproduce the problem on the first try by

[2022-11-23 21:46] neiljp commented on #1270
Thanks!

This is a good reproducer in terms of ZT (or a dependency) being fallible, and again from another `requests` exception unfortunately.

Other than reproducing manually - which is useful to debug the issue - have you experienced the same issue in general use of ZT? I understand it doesn't inspire confidence if this happens early on, but it would be useful to know if this is a rare event. Us

[2022-11-23 21:58] neiljp commented on #1220
@Beanpen In terms of starting out, it depends on experience, comfort and confidence digging into a new codebase. This bug is likely small bug has a lot of context to understand. Some new features can be much easier, but can also sometimes require adjustments to both the UI, data structures and API parts of the ZT in a 'full stack' way.

I would suggest discussing on chat.zulip.org in a new topic :

[2022-11-23 22:02] jonjensen commented on #1270
I only experienced it once since installing zulip-term and using it on and off for ~6 hours. (I tried zulip-term briefly a few years ago but didn't stick with it, and am trying it again.)

The network I am on is not slow, but I think the route between me and the server had an outage of several seconds and when it recovered either the TCP retry times were long enough to exceed the 15s timeout, or i

[2022-11-23 23:48] jonjensen opened #1271 "Crash due to KeyError exception"
Sorry to be a pest, but I've had two cases of another error happen today. This time zulip-term doesn't crash, but it shows a TUI modal on the screen:

[code]

When I press escape it goes away and the program keeps working seemingly fine.

The contents of that log file:

[code]

Both times this happened to me I wasn't actively using that terminal window, but I may have typed something odd passing i

[2022-11-24 01:53] neiljp commented on #1271
@jonjensen Thanks for another report :+1:

Are you receiving a lot of popups, or is this over an extended time?
As the popup states, these issues are *normally* not a problem, as you've likely seen if using ZT afterwards. In any case, unless you have state stored in eg. the single draft, it's safe to simply close and restart ZT - it'll fetch state from the server each time, by default a lot less t

[2022-11-24 01:59] neiljp commented on #1271
This appears to be similar to #816, and might be fixed by #851.